<!doctype html>
<html lang="jp">
	<head>
		<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->







		<meta charset="UTF-8">
		<title>DASH公式サイト | DASH　暗号通貨 &mdash; Dash</title>
		<meta name="description" content="他の仮想通貨が寄付や資金の予約採掘に頼っている時、DGBBシステムはもうDASHに発展資金を提供し始めていました。 DASHは10％のブロックを報酬資金として自身の開発に使用します。一つのブロックが掘られた場合、報酬の45％をマイナーに、45％をマスターノードに配分し、 殘りの10％は月末に再構成されます。この一ヶ月間で、誰でもネットワックに予算案を提出できます。 月末のシリーズ「スーパーブロック」の構成には、少なくとも10％のマスターノードが提案を同意する必要があります。 この時、報酬に配分されていないブロックの報酬（各ブロックの中の10％）が許可を得られた提案の資金に回します。 そうすると、10 %のブロックの報酬を使うことで、ネットワークが自分自身に資金を提供できます。
">

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
		<link rel="alternate" type="application/rss+xml" title="Dash Blog" href="/rss/dash_blog_rss.xml">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" type="text/css" href="/dist/css/main.min.css">
		<!-- Analytics -->
		<script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
		var u="//analytics.dash.org/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', '1']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();
</script>

	</head>

	<body>

		<div class="hero" id="hero">
	<div class="hero__background">
		<img src="/assets/img/resized/hero/community.jpg-cb6c9e7/960x640.jpg" srcset="/assets/img/resized/hero/community.jpg-cb6c9e7/1920x1280.jpg 1920w, /assets/img/resized/hero/community.jpg-cb6c9e7/960x640.jpg 960w" sizes="100vw, 100vw" class="hero__background-image" />

	</div>

	<!-- Navigation -->
	<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->








<!--
    To change the logo color, pass the parameter in the include.
    include nav-desktop.html logo-color="blue"
-->



<button class="burger" type="button" data-js-open-menu aria-label="Menu" aria-controls="overlaynavigation" aria-expanded="false"><div class="burger__burger"></div></button>

<header id="top" class="content">

    <a href="/jp/" class="logo"><img class="logo__img" src="/assets/img/logo-white.png" alt="Dash"></a>
    <nav class="nav nav--white">
        <ul class="nav__list">
            <li class="nav__item"><a href="/jp/get-dash/" class="nav__link">DASHについて</a></li>
			<li class="nav__item"><a href="/jp/merchants/" class="nav__link">店舗</a></li>
			<li class="nav__item"><a href="/jp/network/" class="nav__link">ネットワーク</a></li>
			<li class="nav__item"><a href="/jp/community/" class="nav__link">コミュニティ</a></li>
			<li class="nav__item"><a href="/jp/team/" class="nav__link">チーム</a></li>
			<li class="nav__item"><a href="/jp/blog/" class="nav__link">ブログ</a></li>
			<li class="nav__item"><a href="/jp/evolution/" class="nav__link">Evolution</a></li>
            
            <li class="nav__item nav__item--languages">
                <a href="#" class="nav__link" style="text-transform:uppercase;"><span class="flag jp"></span></a>
                <ul class="nav__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="nav__subitem">
                        <a href="/governance/" class="nav__link ">English <span class="flag gb"></span></a>
                    </li>
                    <li class="nav__subitem">
                       <a href="/es/governance/" class="nav__link ">Español <span class="flag es"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/fr/governance/" class="nav__link ">Français <span class="flag fr"></span></a>
                    </li>
                     <li class="nav__subitem">
                        <a href="/pt/governance/" class="nav__link ">Portugese <span class="flag pt"></span></a>
                    </li>
                    <!--<li class="nav__subitem">-->
                    <!--    <a href="/it/governance/" class="nav__link ">Italiano <span class="flag it"></span></a>-->
                    <!--</li>-->
                    <li class="nav__subitem">
                        <a href="/cn/governance/" class="nav__link ">简体中文 <span class="flag cn"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/ru/governance/" class="nav__link ">Русский <span class="flag ru"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/jp/governance/" class="nav__link is-active">日本語 <span class="flag jp"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/kr/governance/" class="nav__link ">한국어<span class="flag kr"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/de/governance/" class="nav__link ">Deutsch<span class="flag de"></span></a>
                    </li>
                </ul>
            </li>
            

           <!--  <li class="nav__item nav__item--search"><a href="/jp" class="nav__link" title="検索">S</a></li> -->
        </ul>
    </nav>

</header>


	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">分散化管理システム</h1>
		<p class="hero__lead">ブロックチェーンで実現する分散化管理システムは、DGBBとも呼ばれ、DASHが暗号通貨の管理と資金問題を解決する方法です。
</p>

		<div class="hero__buttons">
			<a href="https://dashpay.atlassian.net/wiki/x/GACD" class="btn-white-solid" target="_blank">DGBBとは</a>
			<a href="https://dashpay.atlassian.net/wiki/x/CIBuAQ" class="btn-white-solid" target="_blank">ツール</a>
		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>

<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->









<div class="page page--home">

	<!--
		WHAT IS PLUGIN?
	-->
	<section class="section">
		<div class="section__content">
			<div class="section__lead"><p>分散化システムの管理は非常に難しい。 その原因は、分散化の定義にあります。分散化とは、プログラムに決断を下す中心がないことです。 DASHでは全てのことはマスターノードネットワーク、つまり、マスターノードの持ち主によって決まります。開発者の提案に対し、DGBBシステムはマスターノードの持ち主の投票を許可します。 持ち主の賛成や反対によって、実行に移るかどうかを決められます。例えば、２０１６年の始めに、 DASHのコアチームがネットに「ブロックチェーンが２ＭＢに拡大する必要がある」という提案をネット上で提出しました。その結果、２４時間以内で合意に達し、その提案は通過されました。 これに対して、ビットコインの容量拡大について議論は三年近くも続いてきました。</p>
</div>
			<br>
			<p>他の仮想通貨が寄付や資金の予約採掘に頼っている時、DGBBシステムはもうDASHに発展資金を提供し始めていました。 DASHは10％のブロックを報酬資金として自身の開発に使用します。一つのブロックが掘られた場合、報酬の45％をマイナーに、45％をマスターノードに配分し、 殘りの10％は月末に再構成されます。この一ヶ月間で、誰でもネットワックに予算案を提出できます。 月末のシリーズ「スーパーブロック」の構成には、少なくとも10％のマスターノードが提案を同意する必要があります。 この時、報酬に配分されていないブロックの報酬（各ブロックの中の10％）が許可を得られた提案の資金に回します。 そうすると、10 %のブロックの報酬を使うことで、ネットワークが自分自身に資金を提供できます。
</p>
		</div>
	</section>

	<section class="section">
		<div class="section__content">
			<h2 class="section__title">管理とは何か、またDASHに対する意味</h2>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/jHsVU1LBuAY" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</section>


	<section class="">
		<div class="content">
			<h2 class="section__title">どうやって投票する</h2>
			<div class="row">
				<div class="col-sm-6">
					<h2>自動的投票</h2>
					<p>仮想通貨プラットフォームの作成に当たる最大のチャレンジは、分散化の管理システムによってプロジェクトを管理、サポート、メンテナンスおよび展開です。 この要素は今までの仮想通貨にはありません。 折衷の方法は、非営利の基金協会を設立し、それをコアプロトコルの維持とプロジェクの展開に使用することです。しかし、このような方法は仮想通貨の持ち主たちとのつながりをなくしています。 この方法にある問題は、すでに幾つかの古い仮想貨幣のプラットフォームに現れました。
</p>
					<a href="https://youtu.be/52TzOgq15h8" class="btn-blue" target="_blank">
						ガイド - Amanda B.
					</a>
					<a href="https://dashpay.atlassian.net/wiki/x/DIBGB" class="btn-blue" target="_blank">
						手動投票 (QT Wallet)
					</a>
					<a href="https://dashpay.atlassian.net/wiki/x/EIBGB" class="btn-blue" target="_blank">
						DashCentral
					</a>
				</div>
				<div class="col-sm-6">
					<h2>管理ツール</h2>
					<p>このシステムは、ソフトウェアに内蔵した分散化投票システムのように、具体的なプロジェクトによって適切な予算案を提出できます。 その後マスターノードの持ち主たちは一定時間内に投票を行います。提案が通過した場合、次回の総予算に入り、ブロックのチェーンが直接報酬を支払います。 この方法を通じて、分散化システムに同意したコア開発者を募集し、直接報酬を支払えます。
</p>
					<a href="https://proposal.dash.org" class="btn-blue" target="_blank">予算提案を作成する</a>
					<a href="https://www.dashcentral.org/" class="btn-blue" target="_blank">DashCentral</a>
					<a href="http://dashvotetracker.com" class="btn-blue" target="_blank">投票トレース</a>
					<a href="https://www.dashninja.pl/budgets.html" class="btn-blue" target="_blank">予算モニタリング</a>
					<a href="#" class="btn-blue" target="_blank">提案状態</a>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="content">
			<div>
				<h2 class="section__title">自動的提案サービス</h2>
				<img src="/assets/img/update/Voting.png" alt="">
			</div>
			<div>
				<a href="https://proposal.dash.org/" target="_blank" class="btn-blue">提案</a>
			</div>
		</div>
	</section>
</div>


		<!-- Footer -->
		<footer class="footer">
			<nav class="footer__nav content">
  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    DASHについて
    <ul>
        <li><a href="/jp/get-dash/">ウォレットをダウンロードする</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=48693287" target="_blank">DASHを購入する</a></li>
        <li><a href="/jp/merchants/">DASHで支払う</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Debit+Cards" target="_blank">DASHデポジットカード</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    ガイドをサポートする
    <ul>
        <li><a href="/jp/mining/" >マイニングを始める</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/1146943/Masternodes" target="_blank">マスターノードの設置</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146941" target="_blank">ウォレットを作る</a></li>
        <li><a href="/jp/governance/">予算を申し込む</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    ネットワーク
    <ul>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/48693298/Exchanges" target="_blank">取引データ</a></li>
        <li><a href="/jp/governance/">管理</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/x/CwDeAQ" target="_blank">ブロック研究開発</a></li>
        <li><a href="http://178.254.23.111/~pub/Dash/Dash_Info.html" target="_blank">ネットワークデータ</a></li>
        <li><a href="/jp/exchanges/" >Full list of Exchanges</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    コミュニティ
    <ul>
        <li><a href="/jp/community/#discussion">ディスカッション</a></li>
        <li><a href="/jp/community/#social">SNSアプリ</a></li>
        <li><a href="/jp/community/#news">ニュース &amp; メッセージ</a></li>
        <li><a href="/jp/community/#development">開発ツール</a></li>
        <li><a href="/jp/community/#masternodes">マスターノードツール</a></li>
        <li><a href="/jp/legal/">Legal</a></li>
        <li><a href="/jp/graphics/">Graphics</a></li>
        <li><a href="/jp/merchandise/">Merchandise</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    プロジェクト
    <ul>
        <li><a href="https://www.dash.org/forum/categories/dash-support.61/" target="_blank">ヘルプ &amp; サポート</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146914" target="_blank">プロジェクト情報</a></li>
        <li><a href="/jp/team/">チーム</a></li>
        <li><a href="/jp/update/">アップグレード</a></li>
        <li><a href="https://www.dashfoundation.io/" target="_blank">基金会</a></li>
        <li><a href="/jp/contact/">連絡先</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Site+map" target="_blank">ウィキペディア</a></li>
        <li><a href="/jp/school/">School</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    SNS
    <ul class="footer__social">
        <li><a href="/forum/" target="_blank">Dash forums</a></li>
        <li><a href="/jp/blog/">ブログ</a></li>
        <li><a href="https://www.reddit.com/r/dashpay" target="_blank">Reddit</a></li>
        <li><a href="https://twitter.com/dashpay" target="_blank">ツイッター</a></li>
        <li><a href="https://www.youtube.com/channel/UCAzD2v9Yx4a4iS2_-unODkA" target="_blank">YouTube</a></li>
        <li><a href="https://plus.google.com/u/0/communities/101869723775111070721/stream/03b94d84-f61a-49f2-bb7d-9ac82e1ed7f2" target="_blank">グーグル</a></li>
        <li><a href="https://www.linkedin.com/groups?home=&gid=8179817&trk=groups_most_recent-h-logo&goback=%2Egmp_8179817" target="_blank">Linkedin</a></li>
        <li><a href="https://facebook.com/dashpay" target="_blank">Facebook</a></li>
        <li><a href="https://github.com/dashpay/dash" target="_blank">GitHub</a></li>
    </ul>
  </section>
</nav>
<div class="footer__menu content">
  <div class="footer__languagePicker"></div>
  <a href="/jp/terms-of-use/">使用条例</a>
  <a href="/sitemap.xml">ウェブサイト案内</a>
  <a href="https://github.com/dashpay/dash-website" target="_blank">ソースコード</a>
  <a href="/jp/contact/">連絡先</a>
</div>
<div class="footer__legal">
  <div class="content">
    <span class="footer__copyright">&copy; 2018 The Dash Network</span>
    <!-- <a href="#">Github Source</a> -->
  </div>
</div>

		</footer>

		<!-- Mobile Nav -->
		<div class="overlay" id="overlay" data-js-overlay-menu>
			<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->








<nav class="overlay-menu" id="overlaynavigation" aria-hidden="true">

    <div class="overlay-menu__nav">
        <a href="/" class="overlay-menu__logo">
            <img src="/assets/img/logo-white.png" alt="Dash" class="logo">
        </a>
        <ul class="overlay-menu__list">
            <li class="overlay-menu__item"><a href="/jp/get-dash/" class="overlay-menu__link">DASHについて</a></li>
            <li class="overlay-menu__item"><a href="/jp/merchants/" class="overlay-menu__link">店舗</a></li>
            <li class="overlay-menu__item"><a href="/jp/network/" class="overlay-menu__link">ネットワーク</a></li>
            <li class="overlay-menu__item"><a href="/jp/community/" class="overlay-menu__link">コミュニティ</a></li>
            <li class="overlay-menu__item"><a href="/jp/team/" class="overlay-menu__link">チーム</a></li>
            <li class="overlay-menu__item"><a href="/jp/blog/" class="overlay-menu__link">ブログ</a></li>
            <li class="overlay-menu__item"><a href="/jp/evolution/" class="overlay-menu__link">Evolution</a></li>
            
            <li class="overlay-menu__item overlay-menu__item--languages">
                <ul class="overlay-menu__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="overlay-menu__subitem">
                        <a href="/governance/" class="overlay-menu__link "><span class="flag us"></span> English</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/es/governance/" class="overlay-menu__link "><span class="flag es"></span> Español</a>
                    </li>
                    <li class="overlay-menu__subitem">
                        <a href="/fr/governance/" class="overlay-menu__link "><span class="flag fr"></span> Français</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/pt/governance/" class="overlay-menu__link "><span class="flag pt"></span> Portugese</a>
                    </li>
                    <!--<li class="overlay-menu__subitem">-->
                    <!--    <a href="/it/governance/" class="overlay-menu__link "><span class="flag it"></span> Italiano</a>-->
                    <!--</li>-->
                    <li class="overlay-menu__subitem">
                    <a href="/cn/governance/" class="overlay-menu__link "><span class="flag cn"></span> 简体中文</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/ru/governance/" class="overlay-menu__link "><span class="flag ru"></span> Русский</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/jp/governance/" class="overlay-menu__link is-active"><span class="flag jp"></span>日本語</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/kr/governance/" class="overlay-menu__link "><span class="flag kr"></span>한국어</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/de/governance/" class="overlay-menu__link "><span class="flag de"></span>Deutsch</a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>

</nav>

		</div>

		<!-- Fallback analytics -->
		<noscript>
	<img src="https://analytics.dash.org/piwik.php?idsite=1&amp;rec=1" style="border:0" alt="" />
</noscript>


		<!-- JavaScript -->
		<script src="//cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js" integrity="sha384-MYg5v6RiLsgqDiKOs6hcDXVblLg+Ls5F/jimSFosIUeDjW5VYViY1eMBMazbV5Mr" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" integrity="sha384-CgeP3wqr9h5YanePjYLENwCTSSEz42NJkbFpAFgHWQz7u3Zk8D00752ScNpXqGjS" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js" integrity="sha384-dfOR5hjVOg6B2OvgyHIS71mJWX5TgNQeFGo5cNNVglSep7ZvYcByrpEya6xbwwyB" crossorigin="anonymous"></script>
		<script src="/dist/js/main.min.js"></script>
		<script>
  window.globals = {
	siteApi : "/api/v1"
  };
</script>


	</body>
</html>
