<!doctype html>
<html lang="de">
	<head>
		<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->







		<meta charset="UTF-8">
		<title>Online-Tauschb&ouml;rsen &mdash; Dash</title>
		<meta name="description" content="Kaufe, verkaufe und handle DASH auf Online-Tauschb&ouml;rsen">

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
		<link rel="alternate" type="application/rss+xml" title="Dash Blog" href="/rss/dash_blog_rss.xml">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" type="text/css" href="/dist/css/main.min.css">
		<!-- Analytics -->
		<script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
		var u="//analytics.dash.org/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', '1']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();
</script>

	</head>

	<body>

		<div class="hero hero--space" id="hero">
	<div class="hero__background">

		<img src="/assets/img/hero/merchants.png" alt="" class="hero__background-image">

	</div>

	<!-- Navigation -->
	<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->








<!--
    To change the logo color, pass the parameter in the include.
    include nav-desktop.html logo-color="blue"
-->



<button class="burger" type="button" data-js-open-menu aria-label="Menu" aria-controls="overlaynavigation" aria-expanded="false"><div class="burger__burger"></div></button>

<header id="top" class="content">

    <a href="/de/" class="logo"><img class="logo__img" src="/assets/img/logo-white.png" alt="Dash"></a>
    <nav class="nav nav--white">
        <ul class="nav__list">
            <li class="nav__item"><a href="/de/get-dash/" class="nav__link">Get Dash</a></li>
			<li class="nav__item"><a href="/de/merchants/" class="nav__link">Merchants</a></li>
			<li class="nav__item"><a href="/de/network/" class="nav__link">Network</a></li>
			<li class="nav__item"><a href="/de/community/" class="nav__link">Resources</a></li>
			<li class="nav__item"><a href="/de/team/" class="nav__link">Team</a></li>
			<li class="nav__item"><a href="/de/blog/" class="nav__link">Blog</a></li>
			<li class="nav__item"><a href="/de/evolution/" class="nav__link">Evolution</a></li>
            
            <li class="nav__item nav__item--languages">
                <a href="#" class="nav__link" style="text-transform:uppercase;"><span class="flag de"></span></a>
                <ul class="nav__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="nav__subitem">
                        <a href="/exchanges/" class="nav__link ">English <span class="flag gb"></span></a>
                    </li>
                    <li class="nav__subitem">
                       <a href="/es/exchanges/" class="nav__link ">Español <span class="flag es"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/fr/exchanges/" class="nav__link ">Français <span class="flag fr"></span></a>
                    </li>
                     <li class="nav__subitem">
                        <a href="/pt/exchanges/" class="nav__link ">Portugese <span class="flag pt"></span></a>
                    </li>
                    <!--<li class="nav__subitem">-->
                    <!--    <a href="/it/exchanges/" class="nav__link ">Italiano <span class="flag it"></span></a>-->
                    <!--</li>-->
                    <li class="nav__subitem">
                        <a href="/cn/exchanges/" class="nav__link ">简体中文 <span class="flag cn"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/ru/exchanges/" class="nav__link ">Русский <span class="flag ru"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/jp/exchanges/" class="nav__link ">日本語 <span class="flag jp"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/kr/exchanges/" class="nav__link ">한국어<span class="flag kr"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/de/exchanges/" class="nav__link is-active">Deutsch<span class="flag de"></span></a>
                    </li>
                </ul>
            </li>
            

           <!--  <li class="nav__item nav__item--search"><a href="/de" class="nav__link" title="Search">S</a></li> -->
        </ul>
    </nav>

</header>


	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">Kaufe, verkaufe und handle mit DASH</h1>
		<p class="hero__lead">Auf allen unten aufgef&uuml;hrten Online-Tauschb&ouml;rsen kannst du DASH kaufen, verkaufen und handeln. Auch wenn wir uns gr&ouml;&szlig;te M&uuml;he geben, alle bekannten DASH-B&ouml;rsen in alphabetischer Reihenfolge zu erfassen, erhebt diese Aufz&auml;hlung keinerlei Anspruch auf Vollst&auml;ndigkeit. Informationen zu den aktuellen Marktstatistiken findest du <a href='https://coinmarketcap.com/currencies/dash/#markets' target='_blank'>hier</a>.
</p>

		<div class="hero__buttons">
			<a href="/cdn-cgi/l/email-protection#2b585e5b5b44595f6b4f4a58430544594c" class="btn-white-solid">DASH in eigene B&ouml;rse integrieren</a>
			<a href="/cdn-cgi/l/email-protection#75060005051a0701351114061d5b1a0712" class="btn-white-solid">Als B&ouml;rse aufgenommen werden</a>
		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>



<div class="page page--team">

	<section class="section section--intro-lead section--merchants">
		<p>Please check Exchange Volumes for best Trading experience:
			<a href="https://coinmarketcap.com/currencies/dash/#markets" target="_blank">https://coinmarketcap.com/currencies/dash/#markets</a>
		</p>
		<div class="section__content content">
			<ul class="member-list member-list--merchants">
				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://www.alfacashier.com" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/alfacashier_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">ALFAcashier</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://www.altcointrader.co.za" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/altcointrader_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Altcointrader</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://anybits.com" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/anybits.jpg" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Anybits</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://anycoindirect.eu" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/anycoin_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Anycoin Direct</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://beatcoin.pl" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/beatcoin.jpg" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Beatcoin</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://www.binance.com/" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/binance.jpg" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Binance</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://www.inkapay.com/inka/home" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/inkapay_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">BitInka</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://www.bitbay.net" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/BitBay.jpg" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Bitbay</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://bitcoinfundi.com/" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/bitcoinfundi_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Bitcoin Fundi</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://bitcoin-india.org" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/bitcoinindia.jpg" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Bitcoin India</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://www.bitcoin.co.id/" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/bitcoincoid_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Bitcoin Indonesia</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://www.bitfinex.com" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/bitfinex_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Bitfinex</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://www.bithumb.com" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/bithumb_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Bithumb</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://www.bitpanda.com" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/bitpanda_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Bitpanda</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://bitsane.com/exchange/btc-dash" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/bitsane-logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Bitsane</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://bittrex.com/" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/bittrex_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Bittrex</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://bittylicious.com" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/bittylicious.jpg" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Bittylicious</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://bleutrade.com/" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/bleutrade_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Bleutrade</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="http://www.btc38.com" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/btc38_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Btc38</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://bter.com/" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/bter_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Bter</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://www.buyucoin.com/" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/BuyUCoin.jpg" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">BuyUcoin</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://bx.in.th" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/bx_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Bx.in.th</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="http://bytefederal.com" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/bytefederal.jpg" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Byte-federal</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://c-cex.com/" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/ccedk_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">C-Cex</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://cex.io" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/cex.jpg" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">CEX.IO</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://changelly.com/" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/changelly_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Changelly</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://changenow.io" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/changenow.jpg" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Changenow</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://coinapult.com" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/Coinapult_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Coinapult</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://coincheck.com" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/coincheck_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Coincheck</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://coingi.com/" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/coingi.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Coingi</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://coinsquare.io/" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/coinsquare_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Coinsquare</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://www.cointed.com/en/" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/cointed.jpg" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Cointed</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://cryptobuyer.io/en/" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/cryptobuyer_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Cryptobuyer</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://cryptochangex.com" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/cryptochange.jpg" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Cryptochangex</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://www.cryptopia.co.nz" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/cryptopia.jpg" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Cryptopia</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://www.cryptosaurus.cc" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/Cryptosaurus_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Cryptosaurus</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://www.dashnearby.com" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/dashnearby_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Dash Nearby</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://dashous.com" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/Dashous.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Dashous</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://www.epay.com" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/epay.jpg" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Epay</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://www.etoro.com" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/etorro_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Etoro</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://evercoin.com" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/evercoin.jpg" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Evercoin</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://exmo.com" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/exmo_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Exmo</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://hitbtc.com/" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/hitbtc.jpg" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Hitbtc</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://holytransaction.com/" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/holytransaction_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">HolyTransaction</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://www.kraken.com" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/kraken_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Kraken</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://lzf.com/" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/laissezfaire_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Laissez Faire</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://liberalcoins.com" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/liberalcoins.jpg" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Liberalcoins</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://www.litebit.eu/en/" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/litebit-eu_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">LiteBit.eu</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://www.livecoin.net/" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/livecoin_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Livecoin</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://magneticexchange.com" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/magneticexchange_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Magneticexchange</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://www.megachange.is/" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/megachange_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Megachange</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://poloniex.com/" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/poloniex_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Poloniex</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://www.qryptos.com" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/qryptos.jpg" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Qryptos</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://www.shapeshift.io/" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/shapeshift_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">ShapeShift</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://www.southxchange.com/" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/southxchange_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">SouthXchange</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://spectrocoin.com" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/spectrocoin.jpg" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Spectrocoin</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://uphold.com/" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/uphold.jpg" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Uphold</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://usecryptos.com/" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/usecryptos_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">UseCryptos</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://wallofcoins.com/en/" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/woc_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Wall of coin</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://whaleclub.co" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/Whaleclub_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">Whaleclub</div>
</li>

				
				<li class="member" data-mh="merchant">

	<div class="member__avatar">
		
		<div class="member__image-wrapper">
			<a href="https://yobit.net" target="_blank" class="member__link">
				<img class="member__image" src="/assets/img/exchanges/yobit_logo.png" alt="">
			</a>
		</div>
		
	</div>

	<div class="member__name">YoBit</div>
</li>

				
			</ul>
		</div>
	</section>

	<section class="section">
		<div class="section__content">
			<p class="warning-bg">DISCLAIMER: Diese Auflistung dient rein informativen Zwecken. Die aufgef&uuml;hrten Dienstleister wurden weder von den DASH Entwicklern qualitativ &uuml;berpr&uuml;ft, noch werden sie empfohlen. Wir &uuml;bernehmen keinerlei Garantie f&uuml;r die Richtigkeit und Aktualit&auml;t der Auflistung. Die Nutzung von Drittanbietern erfolgt auf eigene Gefahr.
</p>
		</div>
	</section>
</div>


		<!-- Footer -->
		<footer class="footer">
			<nav class="footer__nav content">
  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Get Dash
    <ul>
        <li><a href="/de/get-dash/">Download Wallet</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=48693287" target="_blank">Buy Dash</a></li>
        <li><a href="/de/merchants/">Shop with Dash</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Debit+Cards" target="_blank">Dash Debit Card</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Contribute
    <ul>
        <li><a href="/de/mining/" >Start Mining</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/1146943/Masternodes" target="_blank">Setup a Masternode</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146941" target="_blank">Setup a Wallet</a></li>
        <li><a href="/de/governance/">Apply for Funding</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Network
    <ul>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/48693298/Exchanges" target="_blank">Exchange Markets</a></li>
        <li><a href="/de/governance/">Governance</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/x/CwDeAQ" target="_blank">Block Explorers</a></li>
        <li><a href="http://178.254.23.111/~pub/Dash/Dash_Info.html" target="_blank">Network Stats</a></li>
        <li><a href="/de/exchanges/" >Full list of Exchanges</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Resources
    <ul>
        <li><a href="/de/community/#discussion">Discussion</a></li>
        <li><a href="/de/community/#social">Social Apps</a></li>
        <li><a href="/de/community/#news">News &amp; Info</a></li>
        <li><a href="/de/community/#development">Development Tools</a></li>
        <li><a href="/de/community/#masternodes">Masternode Tools</a></li>
        <li><a href="/de/legal/">Legal</a></li>
        <li><a href="/de/graphics/">Graphics</a></li>
        <li><a href="/de/merchandise/">Merchandise</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Project
    <ul>
        <li><a href="https://www.dash.org/forum/categories/dash-support.61/" target="_blank">Help &amp; Support</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146914" target="_blank">Project Information</a></li>
        <li><a href="/de/team/">Team</a></li>
        <li><a href="/de/update/">Update</a></li>
        <li><a href="https://www.dashfoundation.io/" target="_blank">Foundation</a></li>
        <li><a href="/de/contact/">Contact</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Site+map" target="_blank">Wiki</a></li>
        <li><a href="/de/school/">School</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Social
    <ul class="footer__social">
        <li><a href="/forum/" target="_blank">Dash forums</a></li>
        <li><a href="/de/blog/">Blog</a></li>
        <li><a href="https://www.reddit.com/r/dashpay" target="_blank">Reddit</a></li>
        <li><a href="https://twitter.com/dashpay" target="_blank">Twitter</a></li>
        <li><a href="https://www.youtube.com/channel/UCAzD2v9Yx4a4iS2_-unODkA" target="_blank">YouTube</a></li>
        <li><a href="https://plus.google.com/u/0/communities/101869723775111070721/stream/03b94d84-f61a-49f2-bb7d-9ac82e1ed7f2" target="_blank">Google+</a></li>
        <li><a href="https://www.linkedin.com/groups?home=&gid=8179817&trk=groups_most_recent-h-logo&goback=%2Egmp_8179817" target="_blank">LinkedIn</a></li>
        <li><a href="https://facebook.com/dashpay" target="_blank">Facebook</a></li>
        <li><a href="https://github.com/dashpay/dash" target="_blank">GitHub</a></li>
    </ul>
  </section>
</nav>
<div class="footer__menu content">
  <div class="footer__languagePicker"></div>
  <a href="/de/terms-of-use/">Terms of Use</a>
  <a href="/sitemap.xml">Sitemap</a>
  <a href="https://github.com/dashpay/dash-website" target="_blank">Source code</a>
  <a href="/de/contact/">Contact</a>
</div>
<div class="footer__legal">
  <div class="content">
    <span class="footer__copyright">&copy; 2018 The Dash Network</span>
    <!-- <a href="#">Github Source</a> -->
  </div>
</div>

		</footer>

		<!-- Mobile Nav -->
		<div class="overlay" id="overlay" data-js-overlay-menu>
			<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->








<nav class="overlay-menu" id="overlaynavigation" aria-hidden="true">

    <div class="overlay-menu__nav">
        <a href="/" class="overlay-menu__logo">
            <img src="/assets/img/logo-white.png" alt="Dash" class="logo">
        </a>
        <ul class="overlay-menu__list">
            <li class="overlay-menu__item"><a href="/de/get-dash/" class="overlay-menu__link">Get Dash</a></li>
            <li class="overlay-menu__item"><a href="/de/merchants/" class="overlay-menu__link">Merchants</a></li>
            <li class="overlay-menu__item"><a href="/de/network/" class="overlay-menu__link">Network</a></li>
            <li class="overlay-menu__item"><a href="/de/community/" class="overlay-menu__link">Resources</a></li>
            <li class="overlay-menu__item"><a href="/de/team/" class="overlay-menu__link">Team</a></li>
            <li class="overlay-menu__item"><a href="/de/blog/" class="overlay-menu__link">Blog</a></li>
            <li class="overlay-menu__item"><a href="/de/evolution/" class="overlay-menu__link">Evolution</a></li>
            
            <li class="overlay-menu__item overlay-menu__item--languages">
                <ul class="overlay-menu__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="overlay-menu__subitem">
                        <a href="/exchanges/" class="overlay-menu__link "><span class="flag us"></span> English</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/es/exchanges/" class="overlay-menu__link "><span class="flag es"></span> Español</a>
                    </li>
                    <li class="overlay-menu__subitem">
                        <a href="/fr/exchanges/" class="overlay-menu__link "><span class="flag fr"></span> Français</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/pt/exchanges/" class="overlay-menu__link "><span class="flag pt"></span> Portugese</a>
                    </li>
                    <!--<li class="overlay-menu__subitem">-->
                    <!--    <a href="/it/exchanges/" class="overlay-menu__link "><span class="flag it"></span> Italiano</a>-->
                    <!--</li>-->
                    <li class="overlay-menu__subitem">
                    <a href="/cn/exchanges/" class="overlay-menu__link "><span class="flag cn"></span> 简体中文</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/ru/exchanges/" class="overlay-menu__link "><span class="flag ru"></span> Русский</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/jp/exchanges/" class="overlay-menu__link "><span class="flag jp"></span>日本語</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/kr/exchanges/" class="overlay-menu__link "><span class="flag kr"></span>한국어</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/de/exchanges/" class="overlay-menu__link is-active"><span class="flag de"></span>Deutsch</a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>

</nav>

		</div>

		<!-- Fallback analytics -->
		<noscript>
	<img src="https://analytics.dash.org/piwik.php?idsite=1&amp;rec=1" style="border:0" alt="" />
</noscript>


		<!-- JavaScript -->
		<script data-cfasync="false" src="/cdn-cgi/scripts/af2821b0/cloudflare-static/email-decode.min.js"></script><script src="//cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js" integrity="sha384-MYg5v6RiLsgqDiKOs6hcDXVblLg+Ls5F/jimSFosIUeDjW5VYViY1eMBMazbV5Mr" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" integrity="sha384-CgeP3wqr9h5YanePjYLENwCTSSEz42NJkbFpAFgHWQz7u3Zk8D00752ScNpXqGjS" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js" integrity="sha384-dfOR5hjVOg6B2OvgyHIS71mJWX5TgNQeFGo5cNNVglSep7ZvYcByrpEya6xbwwyB" crossorigin="anonymous"></script>
		<script src="/dist/js/main.min.js"></script>
		<script>
  window.globals = {
	siteApi : "/api/v1"
  };
</script>


	</body>
</html>
