<!doctype html>
<html lang="de">
	<head>
		<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->







		<meta charset="UTF-8">
		<title>Offizielle DASH Homepage | DASH Kryptow&auml;hrung &mdash; Dash</title>
		<meta name="description" content="Der sogenannte <b>DASH Treasury Fund>/b> ist das Budget, das der DASH-Community zur Weiterentwicklung von DASH zur Verf&uuml;gung steht. Er wird f&uuml;r die Finanzierung von durch Masternodes angenommene Vorschl&auml;ge (Proposals) eingesetzt. Die H&ouml;he des Treasury Funds entspricht monatlich exakt 10%, der in einem Monat geminten DASH-Coins, denn anders als bei anderen Blockchain basierten digitalen W&auml;hrungen werden die durch das Mining erzeugten Coins nicht vollst&auml;ndig an die Miner ausgesch&uuml;ttet, sondern auf die Miner (45%), die Masternodes (45%) und den Treasury-Fund (10%) aufgeteilt.
</br></br>
Auf diese Weise ist die Weiterentwicklung von DASH komplett unabh&auml;ngig von Spenden oder Ertr&auml;gen aus Verk&auml;ufen zuvor gemeinter Coins.
">

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
		<link rel="alternate" type="application/rss+xml" title="Dash Blog" href="/rss/dash_blog_rss.xml">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" type="text/css" href="/dist/css/main.min.css">
		<!-- Analytics -->
		<script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
		var u="//analytics.dash.org/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', '1']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();
</script>

	</head>

	<body>

		<div class="hero" id="hero">
	<div class="hero__background">
		<img src="/assets/img/resized/hero/community.jpg-cb6c9e7/960x640.jpg" srcset="/assets/img/resized/hero/community.jpg-cb6c9e7/1920x1280.jpg 1920w, /assets/img/resized/hero/community.jpg-cb6c9e7/960x640.jpg 960w" sizes="100vw, 100vw" class="hero__background-image" />

	</div>

	<!-- Navigation -->
	<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->








<!--
    To change the logo color, pass the parameter in the include.
    include nav-desktop.html logo-color="blue"
-->



<button class="burger" type="button" data-js-open-menu aria-label="Menu" aria-controls="overlaynavigation" aria-expanded="false"><div class="burger__burger"></div></button>

<header id="top" class="content">

    <a href="/de/" class="logo"><img class="logo__img" src="/assets/img/logo-white.png" alt="Dash"></a>
    <nav class="nav nav--white">
        <ul class="nav__list">
            <li class="nav__item"><a href="/de/get-dash/" class="nav__link">Get Dash</a></li>
			<li class="nav__item"><a href="/de/merchants/" class="nav__link">Merchants</a></li>
			<li class="nav__item"><a href="/de/network/" class="nav__link">Network</a></li>
			<li class="nav__item"><a href="/de/community/" class="nav__link">Resources</a></li>
			<li class="nav__item"><a href="/de/team/" class="nav__link">Team</a></li>
			<li class="nav__item"><a href="/de/blog/" class="nav__link">Blog</a></li>
			<li class="nav__item"><a href="/de/evolution/" class="nav__link">Evolution</a></li>
            
            <li class="nav__item nav__item--languages">
                <a href="#" class="nav__link" style="text-transform:uppercase;"><span class="flag de"></span></a>
                <ul class="nav__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="nav__subitem">
                        <a href="/governance/" class="nav__link ">English <span class="flag gb"></span></a>
                    </li>
                    <li class="nav__subitem">
                       <a href="/es/governance/" class="nav__link ">Español <span class="flag es"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/fr/governance/" class="nav__link ">Français <span class="flag fr"></span></a>
                    </li>
                     <li class="nav__subitem">
                        <a href="/pt/governance/" class="nav__link ">Portugese <span class="flag pt"></span></a>
                    </li>
                    <!--<li class="nav__subitem">-->
                    <!--    <a href="/it/governance/" class="nav__link ">Italiano <span class="flag it"></span></a>-->
                    <!--</li>-->
                    <li class="nav__subitem">
                        <a href="/cn/governance/" class="nav__link ">简体中文 <span class="flag cn"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/ru/governance/" class="nav__link ">Русский <span class="flag ru"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/jp/governance/" class="nav__link ">日本語 <span class="flag jp"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/kr/governance/" class="nav__link ">한국어<span class="flag kr"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/de/governance/" class="nav__link is-active">Deutsch<span class="flag de"></span></a>
                    </li>
                </ul>
            </li>
            

           <!--  <li class="nav__item nav__item--search"><a href="/de" class="nav__link" title="Search">S</a></li> -->
        </ul>
    </nav>

</header>


	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">Dezentralisiertes Projektleitungssystem</h1>
		<p class="hero__lead">Das Dezentralisierte Projektleitungssystem (Decentralized Governance by Blockchain, DGBB) ist DASHs L&ouml;sungsversuch f&uuml;r zwei der wichtigsten Probleme von Kryptow&auml;hrungen: Die Projektleitung und die Finanzierung der Entwicklung.
</p>

		<div class="hero__buttons">
			<a href="https://dashpay.atlassian.net/wiki/x/GACD" class="btn-white-solid" target="_blank">Was ist DGBB?</a>
			<a href="https://dashpay.atlassian.net/wiki/x/CIBuAQ" class="btn-white-solid" target="_blank">Tools</a>
		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>

<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->









<div class="page page--home">

	<!--
		WHAT IS PLUGIN?
	-->
	<section class="section">
		<div class="section__content">
			<div class="section__lead"><p><b>Die Leitung und Entscheidungsfindung</b> von und in dezentralen Ökosystemen stellt im Vergleich zu konventionellen Projektstrukturen eine gewisse Besonderheit dar, denn per Definition gibt es keinerlei zentrale Autoritäten, die projektbezogene Entscheidungen fällen können. Darum werden Entscheidungen und Beschlüsse im DASH Ökosystem auf demokratischer Basis durch die Masternodes gefällt. Das sogenannte <b>DASH Governance By Blockchain (“DGBB”)</b> ist schnell erklärt: die Masternodes “voten” für oder gegen Vorschläge aus der Community (sogenannte Proposals), die dann von den entsprechenden Community-Mitgliedern umgesetzt werden. Hauptsächlich handelt es sich bei diesen Proposals um Projekte und Änderungen im Bereich Entwicklung, doch auch Vertrieb und Marketing spielen mittlerweile eine wichtige Rolle.
&lt;/br&gt;&lt;/br&gt;
<b>Ein ausgezeichnetes Beispiel</b> für die Effizienz und Geschwindigkeit des DGBB-Systems ist die 2016 beschlossene Erhöhung der Blocksize auf 2 MB. Diese wurde vom DASH Core Team eingereicht und innerhalb von 24 Stunden durch die Masternodes beschlossen. Über die selbe Thematik wird in der Bitcoin-Community seit mittlerweile drei Jahren hitzig und ergebnislos debattiert.</p>
</div>
			<br>
			<p>Der sogenannte <b>DASH Treasury Fund>/b> ist das Budget, das der DASH-Community zur Weiterentwicklung von DASH zur Verf&uuml;gung steht. Er wird f&uuml;r die Finanzierung von durch Masternodes angenommene Vorschl&auml;ge (Proposals) eingesetzt. Die H&ouml;he des Treasury Funds entspricht monatlich exakt 10%, der in einem Monat geminten DASH-Coins, denn anders als bei anderen Blockchain basierten digitalen W&auml;hrungen werden die durch das Mining erzeugten Coins nicht vollst&auml;ndig an die Miner ausgesch&uuml;ttet, sondern auf die Miner (45%), die Masternodes (45%) und den Treasury-Fund (10%) aufgeteilt.
</br></br>
Auf diese Weise ist die Weiterentwicklung von DASH komplett unabh&auml;ngig von Spenden oder Ertr&auml;gen aus Verk&auml;ufen zuvor gemeinter Coins.
</p>
		</div>
	</section>

	<section class="section">
		<div class="section__content">
			<h2 class="section__title">Erfahre mehr &uuml;ber das Prinzip einer DAO (decentralized autonomous organization) in Amanda´s DASH SCHOOL</h2>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/jHsVU1LBuAY" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</section>


	<section class="">
		<div class="content">
			<h2 class="section__title">Wie funktioniert das DGBB-Abstimmungsverfahren?</h2>
			<div class="row">
				<div class="col-sm-6">
					<h2>Automatisierter Abstimmungsprozess</h2>
					<p>Wie erw&auml;hnt besteht eine der gr&ouml;&szlig;ten Herausforderungen f&uuml;r die Umsetzung von dezentralen Projekten darin, ein Lenkungsorgan zu entwickeln, das f&uuml;r das Management, die Finanzierung und den Ausbau sowie die Pflege des Projekts eingesetzt werden kann. Exakt dieses Schl&uuml;sselelement fehlt den meisten anderen Kryptow&auml;hrungen bisher.
</br></br>
Ein naheliegender Schritt w&auml;re, eine nicht gewinnorientierte Stiftung zu gr&uuml;nden, deren Aufgabe darin besteht das Kern-Protokoll zu pflegen und die W&auml;hrung fortw&auml;hrend weiterzuentwickeln. Bei dieser Herangehensweise bliebe allerdings jegliche Verbindung zu den Haltern der W&auml;hrung auf der Strecke. Zudem weist das Prinzip einige Schwachstellen auf, wie die Entwicklung &auml;lterer Kryptow&auml;hrungen bewiesen haben.
</br></br>
Aus diesem Grund haben wir f&uuml;r DASH ein automatisiertes Voting-System eingef&uuml;hrt, das es den Haltern einer bestimmte Menge an Coins (Masternodes), also den Menschen mit dem gr&ouml;&szlig;ten Interesse am Erfolg der W&auml;hrung, erm&ouml;glicht &uuml;ber die weiteren Entwicklungsschritte abzustimmen. Wie das genau funktioniert, erf&auml;hrst du unter folgenden Links:
</p>
					<a href="https://youtu.be/52TzOgq15h8" class="btn-blue" target="_blank">
						Anleitung von Amanda
					</a>
					<a href="https://dashpay.atlassian.net/wiki/x/DIBGB" class="btn-blue" target="_blank">
						Abstimmung im offiziellen DASH QT Wallet
					</a>
					<a href="https://dashpay.atlassian.net/wiki/x/EIBGB" class="btn-blue" target="_blank">
						DASHCentral
					</a>
				</div>
				<div class="col-sm-6">
					<h2>DASH-Governance-Tools</h2>
					<p>Um das Einreichen von Proposals und das Abstimmungsverfahren so einfach und transparent wie m&ouml;glich zu gestalten, haben wir einige hilfreiche Tools entwickelt, die dabei helfen Vorschl&auml;ge einzubringen und den aktuellen Status der Votes, wie auch das Gesamtbudget im Blick zu behalten.
</br></br>
WICHTIG: alle Informationen jederzeit f&uuml;r jedes Community-Mitglied einsehbar.
</br></br>
Sobald die Masternodes mit einer ausreichenden Anzahl von Stimmen f&uuml;r ein Projekt gestimmt und so die geforderte Budgetfreigabe erteilt haben, wird das Projekt direkt aus dem Treasury-Fund &uuml;ber die Blockchain bezahlt. Um einen besseren Eindruck von unseren Tools zu erhalten, klicke auf einen der folgenden Links:
</p>
					<a href="https://proposal.dash.org" class="btn-blue" target="_blank">Budget Proposal Generator</a>
					<a href="https://www.dashcentral.org/" class="btn-blue" target="_blank">DASHCentral</a>
					<a href="http://dashvotetracker.com" class="btn-blue" target="_blank">VoteTracker</a>
					<a href="https://www.dashninja.pl/budgets.html" class="btn-blue" target="_blank">Budget &Uuml;berwachung</a>
					<a href="#" class="btn-blue" target="_blank">Proposal Status</a>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="content">
			<div>
				<h2 class="section__title">Der DASH-Proposal Service auf einen Blick</h2>
				<img src="/assets/img/update/Voting.png" alt="">
			</div>
			<div>
				<a href="https://proposal.dash.org/" target="_blank" class="btn-blue">Antr&auml;ge</a>
			</div>
		</div>
	</section>
</div>


		<!-- Footer -->
		<footer class="footer">
			<nav class="footer__nav content">
  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Get Dash
    <ul>
        <li><a href="/de/get-dash/">Download Wallet</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=48693287" target="_blank">Buy Dash</a></li>
        <li><a href="/de/merchants/">Shop with Dash</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Debit+Cards" target="_blank">Dash Debit Card</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Contribute
    <ul>
        <li><a href="/de/mining/" >Start Mining</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/1146943/Masternodes" target="_blank">Setup a Masternode</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146941" target="_blank">Setup a Wallet</a></li>
        <li><a href="/de/governance/">Apply for Funding</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Network
    <ul>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/48693298/Exchanges" target="_blank">Exchange Markets</a></li>
        <li><a href="/de/governance/">Governance</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/x/CwDeAQ" target="_blank">Block Explorers</a></li>
        <li><a href="http://178.254.23.111/~pub/Dash/Dash_Info.html" target="_blank">Network Stats</a></li>
        <li><a href="/de/exchanges/" >Full list of Exchanges</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Resources
    <ul>
        <li><a href="/de/community/#discussion">Discussion</a></li>
        <li><a href="/de/community/#social">Social Apps</a></li>
        <li><a href="/de/community/#news">News &amp; Info</a></li>
        <li><a href="/de/community/#development">Development Tools</a></li>
        <li><a href="/de/community/#masternodes">Masternode Tools</a></li>
        <li><a href="/de/legal/">Legal</a></li>
        <li><a href="/de/graphics/">Graphics</a></li>
        <li><a href="/de/merchandise/">Merchandise</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Project
    <ul>
        <li><a href="https://www.dash.org/forum/categories/dash-support.61/" target="_blank">Help &amp; Support</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146914" target="_blank">Project Information</a></li>
        <li><a href="/de/team/">Team</a></li>
        <li><a href="/de/update/">Update</a></li>
        <li><a href="https://www.dashfoundation.io/" target="_blank">Foundation</a></li>
        <li><a href="/de/contact/">Contact</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Site+map" target="_blank">Wiki</a></li>
        <li><a href="/de/school/">School</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Social
    <ul class="footer__social">
        <li><a href="/forum/" target="_blank">Dash forums</a></li>
        <li><a href="/de/blog/">Blog</a></li>
        <li><a href="https://www.reddit.com/r/dashpay" target="_blank">Reddit</a></li>
        <li><a href="https://twitter.com/dashpay" target="_blank">Twitter</a></li>
        <li><a href="https://www.youtube.com/channel/UCAzD2v9Yx4a4iS2_-unODkA" target="_blank">YouTube</a></li>
        <li><a href="https://plus.google.com/u/0/communities/101869723775111070721/stream/03b94d84-f61a-49f2-bb7d-9ac82e1ed7f2" target="_blank">Google+</a></li>
        <li><a href="https://www.linkedin.com/groups?home=&gid=8179817&trk=groups_most_recent-h-logo&goback=%2Egmp_8179817" target="_blank">LinkedIn</a></li>
        <li><a href="https://facebook.com/dashpay" target="_blank">Facebook</a></li>
        <li><a href="https://github.com/dashpay/dash" target="_blank">GitHub</a></li>
    </ul>
  </section>
</nav>
<div class="footer__menu content">
  <div class="footer__languagePicker"></div>
  <a href="/de/terms-of-use/">Terms of Use</a>
  <a href="/sitemap.xml">Sitemap</a>
  <a href="https://github.com/dashpay/dash-website" target="_blank">Source code</a>
  <a href="/de/contact/">Contact</a>
</div>
<div class="footer__legal">
  <div class="content">
    <span class="footer__copyright">&copy; 2018 The Dash Network</span>
    <!-- <a href="#">Github Source</a> -->
  </div>
</div>

		</footer>

		<!-- Mobile Nav -->
		<div class="overlay" id="overlay" data-js-overlay-menu>
			<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->








<nav class="overlay-menu" id="overlaynavigation" aria-hidden="true">

    <div class="overlay-menu__nav">
        <a href="/" class="overlay-menu__logo">
            <img src="/assets/img/logo-white.png" alt="Dash" class="logo">
        </a>
        <ul class="overlay-menu__list">
            <li class="overlay-menu__item"><a href="/de/get-dash/" class="overlay-menu__link">Get Dash</a></li>
            <li class="overlay-menu__item"><a href="/de/merchants/" class="overlay-menu__link">Merchants</a></li>
            <li class="overlay-menu__item"><a href="/de/network/" class="overlay-menu__link">Network</a></li>
            <li class="overlay-menu__item"><a href="/de/community/" class="overlay-menu__link">Resources</a></li>
            <li class="overlay-menu__item"><a href="/de/team/" class="overlay-menu__link">Team</a></li>
            <li class="overlay-menu__item"><a href="/de/blog/" class="overlay-menu__link">Blog</a></li>
            <li class="overlay-menu__item"><a href="/de/evolution/" class="overlay-menu__link">Evolution</a></li>
            
            <li class="overlay-menu__item overlay-menu__item--languages">
                <ul class="overlay-menu__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="overlay-menu__subitem">
                        <a href="/governance/" class="overlay-menu__link "><span class="flag us"></span> English</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/es/governance/" class="overlay-menu__link "><span class="flag es"></span> Español</a>
                    </li>
                    <li class="overlay-menu__subitem">
                        <a href="/fr/governance/" class="overlay-menu__link "><span class="flag fr"></span> Français</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/pt/governance/" class="overlay-menu__link "><span class="flag pt"></span> Portugese</a>
                    </li>
                    <!--<li class="overlay-menu__subitem">-->
                    <!--    <a href="/it/governance/" class="overlay-menu__link "><span class="flag it"></span> Italiano</a>-->
                    <!--</li>-->
                    <li class="overlay-menu__subitem">
                    <a href="/cn/governance/" class="overlay-menu__link "><span class="flag cn"></span> 简体中文</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/ru/governance/" class="overlay-menu__link "><span class="flag ru"></span> Русский</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/jp/governance/" class="overlay-menu__link "><span class="flag jp"></span>日本語</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/kr/governance/" class="overlay-menu__link "><span class="flag kr"></span>한국어</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/de/governance/" class="overlay-menu__link is-active"><span class="flag de"></span>Deutsch</a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>

</nav>

		</div>

		<!-- Fallback analytics -->
		<noscript>
	<img src="https://analytics.dash.org/piwik.php?idsite=1&amp;rec=1" style="border:0" alt="" />
</noscript>


		<!-- JavaScript -->
		<script src="//cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js" integrity="sha384-MYg5v6RiLsgqDiKOs6hcDXVblLg+Ls5F/jimSFosIUeDjW5VYViY1eMBMazbV5Mr" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" integrity="sha384-CgeP3wqr9h5YanePjYLENwCTSSEz42NJkbFpAFgHWQz7u3Zk8D00752ScNpXqGjS" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js" integrity="sha384-dfOR5hjVOg6B2OvgyHIS71mJWX5TgNQeFGo5cNNVglSep7ZvYcByrpEya6xbwwyB" crossorigin="anonymous"></script>
		<script src="/dist/js/main.min.js"></script>
		<script>
  window.globals = {
	siteApi : "/api/v1"
  };
</script>


	</body>
</html>
