<!doctype html>
<html lang="de">
	<head>
		<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->







		<meta charset="UTF-8">
		<title>Offizielle DASH Homepage| DASH Logo &mdash; Dash</title>
		<meta name="description" content="DASH ist Digitales Cash">

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
		<link rel="alternate" type="application/rss+xml" title="Dash Blog" href="/rss/dash_blog_rss.xml">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" type="text/css" href="/dist/css/main.min.css">
		<!-- Analytics -->
		<script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
		var u="//analytics.dash.org/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', '1']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();
</script>

	</head>

	<body>

		<div class="hero" id="hero">
	<div class="hero__background">
		<img src="/assets/img/resized/hero/home.jpg-3ccf164/800x515.jpg" srcset="/assets/img/resized/hero/home.jpg-3ccf164/1920x1236.jpg 1920w, /assets/img/resized/hero/home.jpg-3ccf164/1280x824.jpg 1280w, /assets/img/resized/hero/home.jpg-3ccf164/1024x659.jpg 1024w, /assets/img/resized/hero/home.jpg-3ccf164/1600x1030.jpg 1600w, /assets/img/resized/hero/home.jpg-3ccf164/800x515.jpg 800w" sizes="100vw, 100vw, 100vw, 100vw" class="hero__background-image" />

	</div>

	<!-- Navigation -->
	<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->








<!--
    To change the logo color, pass the parameter in the include.
    include nav-desktop.html logo-color="blue"
-->



<button class="burger" type="button" data-js-open-menu aria-label="Menu" aria-controls="overlaynavigation" aria-expanded="false"><div class="burger__burger"></div></button>

<header id="top" class="content">

    <a href="/de/" class="logo"><img class="logo__img" src="/assets/img/logo-white.png" alt="Dash"></a>
    <nav class="nav nav--white">
        <ul class="nav__list">
            <li class="nav__item"><a href="/de/get-dash/" class="nav__link">Get Dash</a></li>
			<li class="nav__item"><a href="/de/merchants/" class="nav__link">Merchants</a></li>
			<li class="nav__item"><a href="/de/network/" class="nav__link">Network</a></li>
			<li class="nav__item"><a href="/de/community/" class="nav__link">Resources</a></li>
			<li class="nav__item"><a href="/de/team/" class="nav__link">Team</a></li>
			<li class="nav__item"><a href="/de/blog/" class="nav__link">Blog</a></li>
			<li class="nav__item"><a href="/de/evolution/" class="nav__link">Evolution</a></li>
            
            <li class="nav__item nav__item--languages">
                <a href="#" class="nav__link" style="text-transform:uppercase;"><span class="flag de"></span></a>
                <ul class="nav__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="nav__subitem">
                        <a href="/graphics/" class="nav__link ">English <span class="flag gb"></span></a>
                    </li>
                    <li class="nav__subitem">
                       <a href="/es/graphics/" class="nav__link ">Español <span class="flag es"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/fr/graphics/" class="nav__link ">Français <span class="flag fr"></span></a>
                    </li>
                     <li class="nav__subitem">
                        <a href="/pt/graphics/" class="nav__link ">Portugese <span class="flag pt"></span></a>
                    </li>
                    <!--<li class="nav__subitem">-->
                    <!--    <a href="/it/graphics/" class="nav__link ">Italiano <span class="flag it"></span></a>-->
                    <!--</li>-->
                    <li class="nav__subitem">
                        <a href="/cn/graphics/" class="nav__link ">简体中文 <span class="flag cn"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/ru/graphics/" class="nav__link ">Русский <span class="flag ru"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/jp/graphics/" class="nav__link ">日本語 <span class="flag jp"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/kr/graphics/" class="nav__link ">한국어<span class="flag kr"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/de/graphics/" class="nav__link is-active">Deutsch<span class="flag de"></span></a>
                    </li>
                </ul>
            </li>
            

           <!--  <li class="nav__item nav__item--search"><a href="/de" class="nav__link" title="Search">S</a></li> -->
        </ul>
    </nav>

</header>

	<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->








	<!-- Hero content -->
	<div class="hero__content">
		<div class="row">
			<div class="col-xs-12 col-md-7">
				<h1 class="hero__title">DASH Logos und Batches</h1>
				<p class="hero__lead">Du akzeptierst DASH in deinem Online-Shop oder Laden und willst es zeigen oder ben&ouml;tigst grafisches Ausgangsmaterial f&uuml;r ein Proposal? Dann bist du hier genau richtig!
</br></br>
Lizenz: Das DASH Logo und die Markenrechte sind zur freien Verwendung unter der Creative Commons Attribution-ShareAlike 4.0 International License lizensiert.
</p>
				<p class="hero__lead">
					The Dash logo and wordmark are licensed for use under a Creative Commons Attribution-ShareAlike 4.0 International License.
					<a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Info zu CC BY-SA 4.0</a>
				</p>
			</div>
		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>






<div class="page">
	<section class="section">
		<div class="section__content">
			<h2>Logos &amp; Icons</h2>
			<div class="row">
				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/dash_logo_s.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/dash_logo_s.png" target="_blank">Small </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/dash_logo_m.png" target="_blank">Medium </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/dash_logo_l.png" target="_blank">Large </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/dash_logo_f.png" target="_blank">Full </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/dash_icon_s.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/dash_icon_s.png" target="_blank">Small </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/dash_icon_m.png" target="_blank">Medium </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/dash_icon_l.png" target="_blank">Large </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/dash_icon_f.png" target="_blank">Full </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/dash_circle_normal.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/dash_circle_normal.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/dash_circle_highres.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/dash_heart_normal.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/dash_heart_normal.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/dash_heart_highres.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/Dash_Logo_Vector_Digital_Cash.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/Dash_Logo_Vector_Digital_Cash.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/instantx_logo_normal.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/instantx_logo_normal.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/instantx_logo_highres.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/x11_logo_s.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/x11_logo_s.png" target="_blank">Small </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/x11_logo_m.png" target="_blank">Medium </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/x11_logo_l.png" target="_blank">Large </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
			</div>
		</div>
	</section>

	<section class="section">
		<div class="section__content">
			<h2>DASH Accepted here</h2>
			<div class="row">
				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/accepted_here_beveled_normal.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/accepted_here_beveled_normal.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/accepted_here_beveled_highres.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/accepted_here_squared_normal.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/accepted_here_squared_normal.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/accepted_here_squared_highres.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/accepted_here_borderless_normal.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/accepted_here_borderless_normal.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/accepted_here_borderless_highres.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/accepted_here_light_normal.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/accepted_here_light_normal.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/accepted_here_light_highres.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/accepted_here_light_mono_normal.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/accepted_here_light_mono_normal.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/accepted_here_light_mono_highres.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/privately_accepted_here_beveled_normal.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/privately_accepted_here_beveled_normal.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/privately_accepted_here_beveled_highres.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/privately_accepted_here_squared_normal.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/privately_accepted_here_squared_normal.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/privately_accepted_here_squared_highres.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/privately_accepted_here_borderless_normal.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/privately_accepted_here_borderless_normal.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/privately_accepted_here_borderless_highres.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/privately_accepted_here_light_normal.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/privately_accepted_here_light_normal.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/privately_accepted_here_light_highres.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/privately_accepted_here_light_mono_normal.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/privately_accepted_here_light_normal.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/privately_accepted_here_light_mono_highres.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/accepted_here_modern_normal.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/accepted_here_modern_normal.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/accepted_here_modern_highres.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/accepted_here_modern_vertical_normal.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/accepted_here_modern_vertical_normal.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/accepted_here_modern_vertical_highres.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/paywithdashbutton-01.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/paywithdashbutton-01.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/paywithdashbutton_HR_-01.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/paywithdashbutton-02.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/paywithdashbutton-02.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/paywithdashbutton_HR_-02.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/paywithdashbutton-03.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/paywithdashbutton-03.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/paywithdashbutton_HR_-03.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/paywithdashbutton-04.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/paywithdashbutton-04.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/paywithdashbutton_HR_-04.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/paywithdashbutton-05.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/paywithdashbutton-05.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/paywithdashbutton_HR_-05.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/paywithdashbutton-06.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/accepted_here_beveled_normal.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/paywithdashbutton_HR_-06.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
			</div>
		</div>
	</section>

	<section class="section">
		<div class="section__content">
			<h2>DASH Donate accepted</h2>
			<div class="row">
				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/donations_accepted_beveled_normal.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/donations_accepted_beveled_normal.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/donations_accepted_beveled_highres.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/donations_accepted_squared_normal.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/donations_accepted_squared_normal.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/donations_accepted_squared_highres.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/donations_accepted_borderless_normal.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/donations_accepted_borderless_normal.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/donations_accepted_borderless_highres.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/donations_accepted_light_normal.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/donations_accepted_light_normal.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/donations_accepted_light_highres.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/donations_accepted_light_mono_normal.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/donations_accepted_light_mono_normal.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/donations_accepted_light_mono_highres.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/donate_modern_normal.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/donate_modern_normal.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/donate_modern_highres.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/donate_modern_vertical_normal.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/donate_modern_vertical_normal.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/donate_modern_vertical_highres.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
					<div class="col-xs-12 col-md-3">
	<div class="b-graphic-tile">
		<div class="thumbnail">
			<div class="logo-container">
				<img src="/assets/img/graphics/donate_minimal_normal.png"/>
			</div>
			<div class="caption">
				<h4>png</h4>
			</div>
			<div class="wallet-links-container">
				
				<div class="link">
					<a href="/assets/img/graphics/donate_minimal_normal.png" target="_blank">Normal </a>
				</div>
				
				<div class="link">
					<a href="/assets/img/graphics/donate_minimal_highres.png" target="_blank">Hi-Res </a>
				</div>
				
			</div>
		</div>
	</div>
</div>

				
			</div>
		</div>
	</section>

	<section class="section">
		<div class="section__content">
			<a href="/assets/Dash_Vector_Graphics_Collection.zip"  class="btn-blue-solid" download>
			Vektorgraphiken (Zip)
			</a>
			<hr>
		</div>

	</section>

	<section class="section">
		<div class="section__content">
			<h2 class="section__title">DASH Corporate Identity</h2>

			<div class="row bottom-space">

				<div class="col-md-6">
					<h2>Farbschema</h2>
					<p>Mit Verwendung unserer Farbempfehlung erm&ouml;glichst du ein durchg&auml;ngiges und &auml;sthetisches Erscheinungsbild der Marke DASH.</p>
				</div>

				<div class="col-md-6">
					<div class="row">
						<div class="col-xs-6">
							<div class="color-box color-box_blue"></div>
							<div class="color-article">
								<p>RGB: 30,113,184</p>
								<p>CMYK: 85,50,0,0</p>
								<p>Hex: #1d71b8</p>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="color-box color-box_gray"></div>
							<div class="color-article">
								<p>RGB: 227,227,227</p>
								<p>CMYK: 13,9,11,0</p>
								<p>Hex: #e3e3e3</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<div class="color-box color-box_black"></div>
							<div class="color-article">
								<p>RGB: 0,0,0</p>
								<p>CMYK: 91,79,62,97</p>
								<p>Hex: #000000</p>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="color-box color-box_white"></div>
							<div class="color-article">
								<p>RGB: 255,255,255</p>
								<p>CMYK: 0,0,0,0</p>
								<p>Hex: #ffffff</p>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<h2>Schrifttyp</h2>
					<p>Auch unserer Hausschriften sind eine klare Empfehlung f&uuml;r ein durchg&auml;ngiges und &auml;sthetisches Erscheinungsbild der Marke DASH.</p>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-xs-6">
							<p>Gunship Bold Italic</p>
							<span class="text-word-wrap graphic-exmaple-brand">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890?!%</span>
						</div>
						<div class="col-xs-6">
							<p>Montserrat Light</p>
							<span class="text-word-wrap graphic-exmaple-light">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890?!%</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


</div>


		<!-- Footer -->
		<footer class="footer">
			<nav class="footer__nav content">
  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Get Dash
    <ul>
        <li><a href="/de/get-dash/">Download Wallet</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=48693287" target="_blank">Buy Dash</a></li>
        <li><a href="/de/merchants/">Shop with Dash</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Debit+Cards" target="_blank">Dash Debit Card</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Contribute
    <ul>
        <li><a href="/de/mining/" >Start Mining</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/1146943/Masternodes" target="_blank">Setup a Masternode</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146941" target="_blank">Setup a Wallet</a></li>
        <li><a href="/de/governance/">Apply for Funding</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Network
    <ul>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/48693298/Exchanges" target="_blank">Exchange Markets</a></li>
        <li><a href="/de/governance/">Governance</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/x/CwDeAQ" target="_blank">Block Explorers</a></li>
        <li><a href="http://178.254.23.111/~pub/Dash/Dash_Info.html" target="_blank">Network Stats</a></li>
        <li><a href="/de/exchanges/" >Full list of Exchanges</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Resources
    <ul>
        <li><a href="/de/community/#discussion">Discussion</a></li>
        <li><a href="/de/community/#social">Social Apps</a></li>
        <li><a href="/de/community/#news">News &amp; Info</a></li>
        <li><a href="/de/community/#development">Development Tools</a></li>
        <li><a href="/de/community/#masternodes">Masternode Tools</a></li>
        <li><a href="/de/legal/">Legal</a></li>
        <li><a href="/de/graphics/">Graphics</a></li>
        <li><a href="/de/merchandise/">Merchandise</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Project
    <ul>
        <li><a href="https://www.dash.org/forum/categories/dash-support.61/" target="_blank">Help &amp; Support</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146914" target="_blank">Project Information</a></li>
        <li><a href="/de/team/">Team</a></li>
        <li><a href="/de/update/">Update</a></li>
        <li><a href="https://www.dashfoundation.io/" target="_blank">Foundation</a></li>
        <li><a href="/de/contact/">Contact</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Site+map" target="_blank">Wiki</a></li>
        <li><a href="/de/school/">School</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Social
    <ul class="footer__social">
        <li><a href="/forum/" target="_blank">Dash forums</a></li>
        <li><a href="/de/blog/">Blog</a></li>
        <li><a href="https://www.reddit.com/r/dashpay" target="_blank">Reddit</a></li>
        <li><a href="https://twitter.com/dashpay" target="_blank">Twitter</a></li>
        <li><a href="https://www.youtube.com/channel/UCAzD2v9Yx4a4iS2_-unODkA" target="_blank">YouTube</a></li>
        <li><a href="https://plus.google.com/u/0/communities/101869723775111070721/stream/03b94d84-f61a-49f2-bb7d-9ac82e1ed7f2" target="_blank">Google+</a></li>
        <li><a href="https://www.linkedin.com/groups?home=&gid=8179817&trk=groups_most_recent-h-logo&goback=%2Egmp_8179817" target="_blank">LinkedIn</a></li>
        <li><a href="https://facebook.com/dashpay" target="_blank">Facebook</a></li>
        <li><a href="https://github.com/dashpay/dash" target="_blank">GitHub</a></li>
    </ul>
  </section>
</nav>
<div class="footer__menu content">
  <div class="footer__languagePicker"></div>
  <a href="/de/terms-of-use/">Terms of Use</a>
  <a href="/sitemap.xml">Sitemap</a>
  <a href="https://github.com/dashpay/dash-website" target="_blank">Source code</a>
  <a href="/de/contact/">Contact</a>
</div>
<div class="footer__legal">
  <div class="content">
    <span class="footer__copyright">&copy; 2018 The Dash Network</span>
    <!-- <a href="#">Github Source</a> -->
  </div>
</div>

		</footer>

		<!-- Mobile Nav -->
		<div class="overlay" id="overlay" data-js-overlay-menu>
			<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->








<nav class="overlay-menu" id="overlaynavigation" aria-hidden="true">

    <div class="overlay-menu__nav">
        <a href="/" class="overlay-menu__logo">
            <img src="/assets/img/logo-white.png" alt="Dash" class="logo">
        </a>
        <ul class="overlay-menu__list">
            <li class="overlay-menu__item"><a href="/de/get-dash/" class="overlay-menu__link">Get Dash</a></li>
            <li class="overlay-menu__item"><a href="/de/merchants/" class="overlay-menu__link">Merchants</a></li>
            <li class="overlay-menu__item"><a href="/de/network/" class="overlay-menu__link">Network</a></li>
            <li class="overlay-menu__item"><a href="/de/community/" class="overlay-menu__link">Resources</a></li>
            <li class="overlay-menu__item"><a href="/de/team/" class="overlay-menu__link">Team</a></li>
            <li class="overlay-menu__item"><a href="/de/blog/" class="overlay-menu__link">Blog</a></li>
            <li class="overlay-menu__item"><a href="/de/evolution/" class="overlay-menu__link">Evolution</a></li>
            
            <li class="overlay-menu__item overlay-menu__item--languages">
                <ul class="overlay-menu__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="overlay-menu__subitem">
                        <a href="/graphics/" class="overlay-menu__link "><span class="flag us"></span> English</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/es/graphics/" class="overlay-menu__link "><span class="flag es"></span> Español</a>
                    </li>
                    <li class="overlay-menu__subitem">
                        <a href="/fr/graphics/" class="overlay-menu__link "><span class="flag fr"></span> Français</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/pt/graphics/" class="overlay-menu__link "><span class="flag pt"></span> Portugese</a>
                    </li>
                    <!--<li class="overlay-menu__subitem">-->
                    <!--    <a href="/it/graphics/" class="overlay-menu__link "><span class="flag it"></span> Italiano</a>-->
                    <!--</li>-->
                    <li class="overlay-menu__subitem">
                    <a href="/cn/graphics/" class="overlay-menu__link "><span class="flag cn"></span> 简体中文</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/ru/graphics/" class="overlay-menu__link "><span class="flag ru"></span> Русский</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/jp/graphics/" class="overlay-menu__link "><span class="flag jp"></span>日本語</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/kr/graphics/" class="overlay-menu__link "><span class="flag kr"></span>한국어</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/de/graphics/" class="overlay-menu__link is-active"><span class="flag de"></span>Deutsch</a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>

</nav>

		</div>

		<!-- Fallback analytics -->
		<noscript>
	<img src="https://analytics.dash.org/piwik.php?idsite=1&amp;rec=1" style="border:0" alt="" />
</noscript>


		<!-- JavaScript -->
		<script src="//cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js" integrity="sha384-MYg5v6RiLsgqDiKOs6hcDXVblLg+Ls5F/jimSFosIUeDjW5VYViY1eMBMazbV5Mr" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" integrity="sha384-CgeP3wqr9h5YanePjYLENwCTSSEz42NJkbFpAFgHWQz7u3Zk8D00752ScNpXqGjS" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js" integrity="sha384-dfOR5hjVOg6B2OvgyHIS71mJWX5TgNQeFGo5cNNVglSep7ZvYcByrpEya6xbwwyB" crossorigin="anonymous"></script>
		<script src="/dist/js/main.min.js"></script>
		<script>
  window.globals = {
	siteApi : "/api/v1"
  };
</script>


	</body>
</html>
