<!doctype html>
<html lang="de">
	<head>
		<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->







		<meta charset="UTF-8">
		<title>Die Gesetzgebung und DASH &mdash; Dash</title>
		<meta name="description" content="Rechtliche Rahmenbedingungen von Kryptow&auml;hrungen">

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
		<link rel="alternate" type="application/rss+xml" title="Dash Blog" href="/rss/dash_blog_rss.xml">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" type="text/css" href="/dist/css/main.min.css">
		<!-- Analytics -->
		<script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
		var u="//analytics.dash.org/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', '1']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();
</script>

	</head>

	<body>

		<div class="hero" id="hero">
	<div class="hero__background">
		
		<img src="/assets/img/resized/hero/legal.jpeg-c5ff9bd/425x282.jpeg" class="hero__background-image" />

	</div>

	<!-- Navigation -->
	<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->








<!--
    To change the logo color, pass the parameter in the include.
    include nav-desktop.html logo-color="blue"
-->



<button class="burger" type="button" data-js-open-menu aria-label="Menu" aria-controls="overlaynavigation" aria-expanded="false"><div class="burger__burger"></div></button>

<header id="top" class="content">

    <a href="/de/" class="logo"><img class="logo__img" src="/assets/img/logo-white.png" alt="Dash"></a>
    <nav class="nav nav--white">
        <ul class="nav__list">
            <li class="nav__item"><a href="/de/get-dash/" class="nav__link">Get Dash</a></li>
			<li class="nav__item"><a href="/de/merchants/" class="nav__link">Merchants</a></li>
			<li class="nav__item"><a href="/de/network/" class="nav__link">Network</a></li>
			<li class="nav__item"><a href="/de/community/" class="nav__link">Resources</a></li>
			<li class="nav__item"><a href="/de/team/" class="nav__link">Team</a></li>
			<li class="nav__item"><a href="/de/blog/" class="nav__link">Blog</a></li>
			<li class="nav__item"><a href="/de/evolution/" class="nav__link">Evolution</a></li>
            
            <li class="nav__item nav__item--languages">
                <a href="#" class="nav__link" style="text-transform:uppercase;"><span class="flag de"></span></a>
                <ul class="nav__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="nav__subitem">
                        <a href="/legal/" class="nav__link ">English <span class="flag gb"></span></a>
                    </li>
                    <li class="nav__subitem">
                       <a href="/es/legal/" class="nav__link ">Español <span class="flag es"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/fr/legal/" class="nav__link ">Français <span class="flag fr"></span></a>
                    </li>
                     <li class="nav__subitem">
                        <a href="/pt/legal/" class="nav__link ">Portugese <span class="flag pt"></span></a>
                    </li>
                    <!--<li class="nav__subitem">-->
                    <!--    <a href="/it/legal/" class="nav__link ">Italiano <span class="flag it"></span></a>-->
                    <!--</li>-->
                    <li class="nav__subitem">
                        <a href="/cn/legal/" class="nav__link ">简体中文 <span class="flag cn"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/ru/legal/" class="nav__link ">Русский <span class="flag ru"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/jp/legal/" class="nav__link ">日本語 <span class="flag jp"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/kr/legal/" class="nav__link ">한국어<span class="flag kr"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/de/legal/" class="nav__link is-active">Deutsch<span class="flag de"></span></a>
                    </li>
                </ul>
            </li>
            

           <!--  <li class="nav__item nav__item--search"><a href="/de" class="nav__link" title="Search">S</a></li> -->
        </ul>
    </nav>

</header>



	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">Die Gesetzgebung und DASH</h1>
		<p class="hero__lead">Das Ziel der DASH DAO ist es DASH zu verbreiten, zu sch&uuml;tzen und zu standardisieren. Im Laufe unserer T&auml;tigkeit haben wir viele Anfragen zu den rechtlichen Rahmenbedingungen im Bezug auf DASH und Kryptow&auml;hrungen im Allgemeinen erhalten. Darum wollen wir auf dieser Seite versuchen die h&auml;ufigsten Fragen zu den rechtlichen Belangen zu adressieren und weiter zu erkl&auml;ren, wie die Gesetze der Vereinigten Staaten von Amerika (USA) unserer Meinung nach auf DASH angewendet werden k&ouml;nnen. Diese Informationen stellen keine Rechtsberatung dar. Wir raten jedoch jedem, der die Verwendung oder Investitionen von und in DASH in Erw&auml;gung zieht, sich von einem qualifizierten Rechtsberater informieren und beraten zu lassen. Wir &auml;u&szlig;ern lediglich unsere Einsch&auml;tzung zur rechtlichen Situation. Diese k&ouml;nnen von der tats&auml;chlichen Anwendung der Gesetze abweichen.
</p>

		<section>
			<div class="hero__buttons hero__buttons--get-dash">
				<a  href="#tax" class="btn-blue-solid btn-large">Steuerliche Handhabung</a>
				<a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=105746151#FIAT-DASHCompliance/ATMCompliance-Introduction" class="btn-large btn-white-solid" target="_blank">Regelkonformit&auml;t FIAT - DASH</a>
			</div>
		</section>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>


<div class="page page--home">

	<section>
		<div class="content">

			<h2  class="bottom-space big-accent">Cogent Law Package: Stichhaltiges juristisches Argumentarium
</h2>

			<div class="row bottom-space">
				<ul class="member-list member-list--legal bottom-space">
					<li class="member" style="height: 280px;">
						<div class="member__avatar">
							<div class="member__image-wrapper">
								<img class="member__image" src="/assets/img/legal/im_1.png" alt="Alfacashier">
							</div>
						</div>
						<div class="member__name" style="height: 35px;">BSA AML COMPLIANCE</div>

					</li>
					<li class="member" style="height: 280px;">
						<div class="member__avatar">
							<div class="member__image-wrapper">
								<img class="member__image" src="/assets/img/legal/im_2.png" alt="Changelly">
							</div>
						</div>
						<div class="member__name" style="height: 35px;">KYC CDD Policy</div>
					</li>
					<li class="member" style="height: 280px;">
						<div class="member__avatar">
							<div class="member__image-wrapper">
								<img class="member__image" src="/assets/img/legal/im_3.png" alt="Shapeshift">

							</div>
						</div>
						<div class="member__name" style="height: 35px;">AML Program</div>
					</li>
					<li class="member" style="height: 280px;">
						<div class="member__avatar">
							<div class="member__image-wrapper">
								<a href="https://arbitrcoin.com/" target="_blank" class="member__link">
									<img class="member__image" src="/assets/img/legal/im_4.png" alt="Shapeshift">

								</a>
							</div>
						</div>
						<div class="member__name" style="height: 35px;">Risk Assessment</div>
					</li>
					<li class="member" style="height: 280px;">
						<div class="member__avatar">
							<div class="member__image-wrapper">
								<img class="member__image" src="/assets/img/legal/im_5.png" alt="Shapeshift">

							</div>
						</div>
						<div class="member__name" style="height: 35px;">Surveillance and Monitoring Policy</div>
					</li>
					<li class="member" style="height: 280px;">
						<div class="member__avatar">
							<div class="member__image-wrapper">
								<img class="member__image" src="/assets/img/legal/im_6.png" alt="Shapeshift">
							</div>
						</div>
						<div class="member__name" style="height: 35px;">Different Reports to file in different situations</div>
					</li>
				</ul>

			</div>
		</div>
	</section>

	<section class="home-latest-news">
		<div class="content">
			<h2 id="tax"  class="section__title">Wie werden die Ertr&auml;ge der Betreiber von DASH Masternodes behandelt?</h2>
			<div class="row">
				<div class="col-md-6">
					<p class="bottom-space">Block Rewards / Staked DASH / Kapitalertr&auml;ge / Prim&auml;re Haftung / Sekund&auml;re Haftung / .... sind die Punkte, die unter diesem Aspekt behandelt werden.
</p>
					<h3 class="bottom-space">Hier liefern wir euch eine kurze &Uuml;bersicht bisheriger Fallstudien in den USA</h3>
					<a href="https://dashpay.atlassian.net/wiki/display/DOC/How+the+Law+Applies+to+DASH#HowtheLawAppliestoDASH-WhatistheTaxTreatmentoftheMasternodeOperators’DASH?" class="btn-blue-solid" target="_blank">Zur &Uuml;bersicht</a>

				</div>

				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<div class="news-post">
								<a href="https://www.youtube.com/watch?v=bE7pxHtAiNol" target="_blank">
									<div class="news-image">
										<img src="/assets/img/legal/dash-detailed.png">
									</div>
									<div class="news-body">
										<h3 class="news-title">Can Masternode Operators be Criminally Liable for the Transactions They Relay?</h3>

									</div>
								</a>
							</div>
						</div>
						<div class="col-md-6">
							<div class="news-post">
								<a href="https://www.youtube.com/watch?v=bE7pxHtAiNol" target="_blank">
									<div class="news-image">
										<img src="/assets/img/legal/dash-detailed.png">
									</div>
									<div class="news-body">
										<h3 class="news-title">Can Masternode Operators be Criminally Liable for the Transactions They Relay?</h3>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section section--info-grid" id="getdash-info">
		<div class="section__content">
			<h2 class="section__title">Steuerliche Behandlung von Masternodes</h2>
			<div class="info-grid content">
				<div class="info-grid__content">

					<article class="info-grid__item" data-mh="get-dash-info-grid" id="getdash-wallet-setup">

						<h3 class="info-grid__item-title">Kurzanleitung zum Betrieb einer virtuellen Wechselstube</h3>
						<a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=105746151#FIAT-DASHCompliance/ATMCompliance-STEP1)" target="_blank" class="info-grid__item-link">Jetzt lesen</a>
					</article>

					<article class="info-grid__item" data-mh="get-dash-info-grid" id="getdash-buy">
						<h3 class="info-grid__item-title">Guide</h3>
						<p class="info-grid__item-text">Wie du lokale W&auml;hrung in DASH tauschst und auf dein Wallet sendest</p>
						<a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=105746151#FIAT-DASHCompliance/ATMCompliance-STEP2)" target="_blank" class="info-grid__item-link">Jetzt lesen</a>
					</article>

					<article class="info-grid__item" data-mh="get-dash-info-grid" id="getdash-trade">
						<h3 class="info-grid__item-title">Case Studys</h3>
						<a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=105746151#FIAT-DASHCompliance/ATMCompliance-STEP3)" target="_blank" class="info-grid__item-link">Jetzt lesen</a>
					</article>

					<article class="info-grid__item" data-mh="get-dash-info-grid" id="getdash-trade">
						<h3 class="info-grid__item-title">Formulare</h3>
						<a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=105746151#FIAT-DASHCompliance/ATMCompliance-STEP3)" target="_blank" class="info-grid__item-link">Jetzt lesen</a>
					</article>
				</div>
			</div>
		</div>
	</section>

</div>


		<!-- Footer -->
		<footer class="footer">
			<nav class="footer__nav content">
  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Get Dash
    <ul>
        <li><a href="/de/get-dash/">Download Wallet</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=48693287" target="_blank">Buy Dash</a></li>
        <li><a href="/de/merchants/">Shop with Dash</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Debit+Cards" target="_blank">Dash Debit Card</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Contribute
    <ul>
        <li><a href="/de/mining/" >Start Mining</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/1146943/Masternodes" target="_blank">Setup a Masternode</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146941" target="_blank">Setup a Wallet</a></li>
        <li><a href="/de/governance/">Apply for Funding</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Network
    <ul>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/48693298/Exchanges" target="_blank">Exchange Markets</a></li>
        <li><a href="/de/governance/">Governance</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/x/CwDeAQ" target="_blank">Block Explorers</a></li>
        <li><a href="http://178.254.23.111/~pub/Dash/Dash_Info.html" target="_blank">Network Stats</a></li>
        <li><a href="/de/exchanges/" >Full list of Exchanges</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Resources
    <ul>
        <li><a href="/de/community/#discussion">Discussion</a></li>
        <li><a href="/de/community/#social">Social Apps</a></li>
        <li><a href="/de/community/#news">News &amp; Info</a></li>
        <li><a href="/de/community/#development">Development Tools</a></li>
        <li><a href="/de/community/#masternodes">Masternode Tools</a></li>
        <li><a href="/de/legal/">Legal</a></li>
        <li><a href="/de/graphics/">Graphics</a></li>
        <li><a href="/de/merchandise/">Merchandise</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Project
    <ul>
        <li><a href="https://www.dash.org/forum/categories/dash-support.61/" target="_blank">Help &amp; Support</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146914" target="_blank">Project Information</a></li>
        <li><a href="/de/team/">Team</a></li>
        <li><a href="/de/update/">Update</a></li>
        <li><a href="https://www.dashfoundation.io/" target="_blank">Foundation</a></li>
        <li><a href="/de/contact/">Contact</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Site+map" target="_blank">Wiki</a></li>
        <li><a href="/de/school/">School</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Social
    <ul class="footer__social">
        <li><a href="/forum/" target="_blank">Dash forums</a></li>
        <li><a href="/de/blog/">Blog</a></li>
        <li><a href="https://www.reddit.com/r/dashpay" target="_blank">Reddit</a></li>
        <li><a href="https://twitter.com/dashpay" target="_blank">Twitter</a></li>
        <li><a href="https://www.youtube.com/channel/UCAzD2v9Yx4a4iS2_-unODkA" target="_blank">YouTube</a></li>
        <li><a href="https://plus.google.com/u/0/communities/101869723775111070721/stream/03b94d84-f61a-49f2-bb7d-9ac82e1ed7f2" target="_blank">Google+</a></li>
        <li><a href="https://www.linkedin.com/groups?home=&gid=8179817&trk=groups_most_recent-h-logo&goback=%2Egmp_8179817" target="_blank">LinkedIn</a></li>
        <li><a href="https://facebook.com/dashpay" target="_blank">Facebook</a></li>
        <li><a href="https://github.com/dashpay/dash" target="_blank">GitHub</a></li>
    </ul>
  </section>
</nav>
<div class="footer__menu content">
  <div class="footer__languagePicker"></div>
  <a href="/de/terms-of-use/">Terms of Use</a>
  <a href="/sitemap.xml">Sitemap</a>
  <a href="https://github.com/dashpay/dash-website" target="_blank">Source code</a>
  <a href="/de/contact/">Contact</a>
</div>
<div class="footer__legal">
  <div class="content">
    <span class="footer__copyright">&copy; 2018 The Dash Network</span>
    <!-- <a href="#">Github Source</a> -->
  </div>
</div>

		</footer>

		<!-- Mobile Nav -->
		<div class="overlay" id="overlay" data-js-overlay-menu>
			<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->








<nav class="overlay-menu" id="overlaynavigation" aria-hidden="true">

    <div class="overlay-menu__nav">
        <a href="/" class="overlay-menu__logo">
            <img src="/assets/img/logo-white.png" alt="Dash" class="logo">
        </a>
        <ul class="overlay-menu__list">
            <li class="overlay-menu__item"><a href="/de/get-dash/" class="overlay-menu__link">Get Dash</a></li>
            <li class="overlay-menu__item"><a href="/de/merchants/" class="overlay-menu__link">Merchants</a></li>
            <li class="overlay-menu__item"><a href="/de/network/" class="overlay-menu__link">Network</a></li>
            <li class="overlay-menu__item"><a href="/de/community/" class="overlay-menu__link">Resources</a></li>
            <li class="overlay-menu__item"><a href="/de/team/" class="overlay-menu__link">Team</a></li>
            <li class="overlay-menu__item"><a href="/de/blog/" class="overlay-menu__link">Blog</a></li>
            <li class="overlay-menu__item"><a href="/de/evolution/" class="overlay-menu__link">Evolution</a></li>
            
            <li class="overlay-menu__item overlay-menu__item--languages">
                <ul class="overlay-menu__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="overlay-menu__subitem">
                        <a href="/legal/" class="overlay-menu__link "><span class="flag us"></span> English</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/es/legal/" class="overlay-menu__link "><span class="flag es"></span> Español</a>
                    </li>
                    <li class="overlay-menu__subitem">
                        <a href="/fr/legal/" class="overlay-menu__link "><span class="flag fr"></span> Français</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/pt/legal/" class="overlay-menu__link "><span class="flag pt"></span> Portugese</a>
                    </li>
                    <!--<li class="overlay-menu__subitem">-->
                    <!--    <a href="/it/legal/" class="overlay-menu__link "><span class="flag it"></span> Italiano</a>-->
                    <!--</li>-->
                    <li class="overlay-menu__subitem">
                    <a href="/cn/legal/" class="overlay-menu__link "><span class="flag cn"></span> 简体中文</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/ru/legal/" class="overlay-menu__link "><span class="flag ru"></span> Русский</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/jp/legal/" class="overlay-menu__link "><span class="flag jp"></span>日本語</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/kr/legal/" class="overlay-menu__link "><span class="flag kr"></span>한국어</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/de/legal/" class="overlay-menu__link is-active"><span class="flag de"></span>Deutsch</a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>

</nav>

		</div>

		<!-- Fallback analytics -->
		<noscript>
	<img src="https://analytics.dash.org/piwik.php?idsite=1&amp;rec=1" style="border:0" alt="" />
</noscript>


		<!-- JavaScript -->
		<script src="//cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js" integrity="sha384-MYg5v6RiLsgqDiKOs6hcDXVblLg+Ls5F/jimSFosIUeDjW5VYViY1eMBMazbV5Mr" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" integrity="sha384-CgeP3wqr9h5YanePjYLENwCTSSEz42NJkbFpAFgHWQz7u3Zk8D00752ScNpXqGjS" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js" integrity="sha384-dfOR5hjVOg6B2OvgyHIS71mJWX5TgNQeFGo5cNNVglSep7ZvYcByrpEya6xbwwyB" crossorigin="anonymous"></script>
		<script src="/dist/js/main.min.js"></script>
		<script>
  window.globals = {
	siteApi : "/api/v1"
  };
</script>


	</body>
</html>
