<!doctype html>
<html lang="de">
	<head>
		<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->







		<meta charset="UTF-8">
		<title>Offizielle DASH Homepage | DASH Kryptow&auml;hrung &mdash; Dash</title>
		<meta name="description" content="DASH ist Digitales Cash">

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
		<link rel="alternate" type="application/rss+xml" title="Dash Blog" href="/rss/dash_blog_rss.xml">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" type="text/css" href="/dist/css/main.min.css">
		<!-- Analytics -->
		<script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
		var u="//analytics.dash.org/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', '1']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();
</script>

	</head>

	<body>

		<div class="hero" id="hero">
	<div class="hero__background">
		<img src="/assets/img/resized/hero/home.jpg-3ccf164/800x515.jpg" srcset="/assets/img/resized/hero/home.jpg-3ccf164/1920x1236.jpg 1920w, /assets/img/resized/hero/home.jpg-3ccf164/1280x824.jpg 1280w, /assets/img/resized/hero/home.jpg-3ccf164/1024x659.jpg 1024w, /assets/img/resized/hero/home.jpg-3ccf164/1600x1030.jpg 1600w, /assets/img/resized/hero/home.jpg-3ccf164/800x515.jpg 800w" sizes="100vw, 100vw, 100vw, 100vw" class="hero__background-image" />

	</div>

	<!-- Navigation -->
	<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->








<!--
    To change the logo color, pass the parameter in the include.
    include nav-desktop.html logo-color="blue"
-->



<button class="burger" type="button" data-js-open-menu aria-label="Menu" aria-controls="overlaynavigation" aria-expanded="false"><div class="burger__burger"></div></button>

<header id="top" class="content">

    <a href="/de/" class="logo"><img class="logo__img" src="/assets/img/logo-white.png" alt="Dash"></a>
    <nav class="nav nav--white">
        <ul class="nav__list">
            <li class="nav__item"><a href="/de/get-dash/" class="nav__link">Get Dash</a></li>
			<li class="nav__item"><a href="/de/merchants/" class="nav__link">Merchants</a></li>
			<li class="nav__item"><a href="/de/network/" class="nav__link">Network</a></li>
			<li class="nav__item"><a href="/de/community/" class="nav__link">Resources</a></li>
			<li class="nav__item"><a href="/de/team/" class="nav__link">Team</a></li>
			<li class="nav__item"><a href="/de/blog/" class="nav__link">Blog</a></li>
			<li class="nav__item"><a href="/de/evolution/" class="nav__link">Evolution</a></li>
            
            <li class="nav__item nav__item--languages">
                <a href="#" class="nav__link" style="text-transform:uppercase;"><span class="flag de"></span></a>
                <ul class="nav__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="nav__subitem">
                        <a href="/update/" class="nav__link ">English <span class="flag gb"></span></a>
                    </li>
                    <li class="nav__subitem">
                       <a href="/es/update/" class="nav__link ">Español <span class="flag es"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/fr/update/" class="nav__link ">Français <span class="flag fr"></span></a>
                    </li>
                     <li class="nav__subitem">
                        <a href="/pt/update/" class="nav__link ">Portugese <span class="flag pt"></span></a>
                    </li>
                    <!--<li class="nav__subitem">-->
                    <!--    <a href="/it/update/" class="nav__link ">Italiano <span class="flag it"></span></a>-->
                    <!--</li>-->
                    <li class="nav__subitem">
                        <a href="/cn/update/" class="nav__link ">简体中文 <span class="flag cn"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/ru/update/" class="nav__link ">Русский <span class="flag ru"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/jp/update/" class="nav__link ">日本語 <span class="flag jp"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/kr/update/" class="nav__link ">한국어<span class="flag kr"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/de/update/" class="nav__link is-active">Deutsch<span class="flag de"></span></a>
                    </li>
                </ul>
            </li>
            

           <!--  <li class="nav__item nav__item--search"><a href="/de" class="nav__link" title="Search">S</a></li> -->
        </ul>
    </nav>

</header>

	<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->








	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">12.1 Update</h1>
		<p class="hero__lead">Wir ver&ouml;ffentliche ein neues Software Release im Netzwerk. Jeder ist angehalten auf die neue Version zu updaten, also auch normale Nutzer, Pools, MIner und die Masternodes. Alle Budgetantr&auml;ge m&uuml;ssen ferner neu eingereicht werden. Wichtig! Das Enforcement wird w&auml;hrend dieses Upgrades abgeschaltet, so dass Masternodes die nicht rechtzeitig updaten, keine Zahlungen mehr erhalten werden.</p>
		<div class="hero__buttons">
			<a href="/de/get-dash/" class="btn-blue-solid btn-large">Launch Datum: 5. Februar 2017
</a>
		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>

<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->









<div class="page page--home">

	<!--
		WHAT IS DASH?
		LINK TO VIDEO.
	-->
	<section class="section section--home-cta">
		<div class="section__content">
			<h2 class="section__title">DASH ist Digitales Cash, das Du &uuml;berall ausgeben kannst.</h2>
			<div class="section__lead"><p>Nutze DASH um blitzschnelle anonyme Zahlungen online oder im Geschäft abzuwickeln, mit der Open Source Plattform, die von tausenden Nutzern auf der ganzen Welt aufrecht erhalten wird.</p>
</div>

			<div class="section__btn-grp">
				<a href="https://youtu.be/S0oNO3mbBE8" class="btn-blue btn-large" target="_blank" data-js-popup="video">Video</a>
				<a href="/de/get-dash/" class="btn-blue-solid btn-large">Download Wallet</a>
			</div>
		</div>
	</section>

	<!--
		MERCHANTS
	-->
	<section class="b-get-section">
		<div class="content">
			<img src="/assets/img/update/woocommerce.png" alt="">
			<h2>Bitte hier nach notwendigen Updates Ausschau halten</h2>

			<p><p>Alle Miner, Pools, Wallet-Anbieter, Börsen und Händler sind angehalten auf die aktuellen Versionen zu aktualisieren.</p>
</p>
			<div>
				<a href="https://dashpay.atlassian.net/wiki/x/j5AxBg" class="btn-white-solid" target="_blank">Pools</a>
				<a href="https://dashpay.atlassian.net/wiki/x/HJQ4Bg" class="btn-white-solid" target="_blank">Masternodes</a>
				<a href="https://dashpay.atlassian.net/wiki/x/yJAxBg" class="btn-white-solid" target="_blank">B&ouml;rsen</a>
			</div>

		</div>
	</section>

	<!--
		PROPOSAL
	-->
	<section>
		<div class="content">
			<div>
				<h2>Automatisiertes Antragssystem</h2>
				<img src="/assets/img/update/Voting.png" alt="">
			</div>



			<div>
				<a href="https://proposal.dash.org/" target="_blank" class="btn-blue">Antr&auml;ge</a>
			</div>
		</div>
	</section>

	<!--
		DASH FEATURES
		PRIVATE | INSTANT | SECURE
	-->
	<section>
		<div class="content">
			<div class="row features-collection">
				<div class="col-sm-4">
					<img src="/assets/img/home/instant.svg" height="100" alt="Schnell">
					<h2>Schnell</h2>
					<p>Deine Zeit ist kostbar. InstantSend Zahlungen werden in wenigen Sekunden bestätigt</p>

				</div>
				<div class="col-sm-4">
					<img src="/assets/img/home/private.svg" height="100" alt="Privat">
					<h2>Privat</h2>
					<p>Schütze Deine finanzielle Privatsphäre. PrivateSend stellt sicher, dass Deine Transaktionshistorie und Deine Kontostände privat bleiben.</p>

				</div>
				<div class="col-sm-4">
					<img src="/assets/img/home/secure.svg" height="100" alt="Sicherheit">
					<h2>Sicherheit</h2>
					<p>Sicherheit, auf die Verlass ist. Transaktionen werden von über 1,000 Gigahash X11 ASIC Rechenleistung und über 4500 Servern rund um den Globus gesichert.</p>

				</div>
			</div>
		</div>
	</section>

	<!--
		NETWORK ARCHITECTURE
	-->
	<section class="section--colored">
		<div class="content">
			<div class="row">
				<div class="col-sm-6">
					<h2>Was ist Evolution?</h2>

					<p>DASH Evolution wird die Verwendung von Kryptowährungen so einfach machen wie nie zuvor und dafür sorgen, dass die vergleichsweise komplizierten Transaktionen von Kryptowährungen der Vergangenheit angehören. DASH-Transaktionen über Evolution werden so einfach wie die Verwendung von Paypal, aber mit einem entscheidenden Vorteil: DASH Evolution wird komplett dezentral und nicht gewinnorientiert arbeitet.</p>


					<a href="https://dashpay.atlassian.net/wiki/x/DQBcAg" target="_blank" class="btn-white-solid">Erfahre mehr</a>
				</div>
				<div class="col-sm-6 home-architecture-graphic">
					<img src="/assets/img/update/execution.png" alt="">
				</div>
			</div>
		</div>
	</section>

	<!--
		SELF GOVERNING | SELF FUNDING
	-->
	<section>
		<div class="content">
			<div class="row">
				<div class="col-sm-6 col-sm-push-6">
					<h2>Sentinel</h2>

					<p>Ein mächtiger Werkzeugkasten für DASH. DASHs neue Sentinel Technologie ist der Motor unter der Haube von DASH Evolution. Sentinel ist leistungsstark, flexibel und anpassungsfähig, was die Updates für das Netzwerk extrem vereinfachen und eine Vielzahl neuer Anwendungen ermöglichen wird. So können mit Sentinel beispielsweise vollkommen digitale Unternehmen gegründet werden.</p>


				</div>
				<div class="col-sm-6 col-sm-pull-6 ">
					<img src="/assets/img/update/updateevo.png" alt="Sentinel">
				</div>
			</div>
		</div>
	</section>

	<!--
		FASTEST GROWING NETWORK
	-->
	<section>
		<div class="content">
			<div class="row">
				<div class="col-sm-6">
					<h2>EVOLUTION FORSCHUNG</h2>

					<p>Im Januar 2016 veröffentlichten wir einen frühen Evolution Prototyp auf Basis von Electrum. Seit damals haben wir eine umfassende Dokumentation erstellt, unsere Ziele vollständig umrissen und mit der Umsetzung begonnen.
Zwar war der Prototyp mit so grundlegenden Funktionen wie dem Zahlungsverkehr zwischen Freunden mit Benutzernamen über einen Dev-Server recht einfach, doch hat er bewiesen, dass das erdachte Prinzip funktioniert.
Unser damaliges Ziel war es einen Prototypen für alle Schlüsseltypen zu designen, der die genannte Funktion auf reine P2P-Weise ermöglichen sollte, wobei die Daten auf der DASH-Blockchain gespeichert werden sollten. Dies sollte auf jedem Gerät mit integrierter SPV-basierter Sicherheit funktionieren, das keine zentralisierten Vermittlungsdienste benötigt und mit dem gebräuchlichsten und Zensur resistenten Protokoll liefen - HTTP (S)</p>


					<a href="/de/network" class="btn-blue">Network Stats</a>
				</div>
				<div class="col-sm-6 home-network-graphic-live">
					<img src="/assets/img/update/research.png" alt="">
				</div>
			</div>
		</div>
	</section>


	<!--
		EVOLUTION
	-->
	<section>
		<div class="content">
			<div class="row">
				<div class="col-sm-6 col-sm-push-6">

					<h2>Launch Date</h2>
					<p>Das Starten einer neuen Software-Version im Netzwerk erfordert, dass alle Budgetvorschläge an das System zurückgesendet werden.
Durch das Timing der Superblocks, haben wir Anfang des Monat ein kurzes Fenster um das Update zu launchen. Um sicherzustellen, dass wir die stabilste Version der Software in Betrieb nehmen, ohne das Budget-System zu stören, müssen wir bis Anfang Februar 12.1 starten. Launch Date: 5. Februar 2017</p>

					<a href="http://dashvotetracker.com" target="_blank" class="btn-blue">Budgets</a>

				</div>
				<div class="col-sm-6 col-sm-pull-6 home-evolution-graphic">
					<img src="/assets/img/update/lan_date.png" alt="Dash Evolution">
				</div>
			</div>
		</div>
	</section>

	<!--
		LATEST NEWS
	-->
	<section class="home-latest-news">
		<div class="content">
			<h2>Aktuelle News</h2>

			<div class="row">
				
			</div>

			<div>
				<a href="/de/blog/" class="btn-blue">Alle Artikel</a>
			</div>
		</div>
	</section>


</div>


		<!-- Footer -->
		<footer class="footer">
			<nav class="footer__nav content">
  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Get Dash
    <ul>
        <li><a href="/de/get-dash/">Download Wallet</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=48693287" target="_blank">Buy Dash</a></li>
        <li><a href="/de/merchants/">Shop with Dash</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Debit+Cards" target="_blank">Dash Debit Card</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Contribute
    <ul>
        <li><a href="/de/mining/" >Start Mining</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/1146943/Masternodes" target="_blank">Setup a Masternode</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146941" target="_blank">Setup a Wallet</a></li>
        <li><a href="/de/governance/">Apply for Funding</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Network
    <ul>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/48693298/Exchanges" target="_blank">Exchange Markets</a></li>
        <li><a href="/de/governance/">Governance</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/x/CwDeAQ" target="_blank">Block Explorers</a></li>
        <li><a href="http://178.254.23.111/~pub/Dash/Dash_Info.html" target="_blank">Network Stats</a></li>
        <li><a href="/de/exchanges/" >Full list of Exchanges</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Resources
    <ul>
        <li><a href="/de/community/#discussion">Discussion</a></li>
        <li><a href="/de/community/#social">Social Apps</a></li>
        <li><a href="/de/community/#news">News &amp; Info</a></li>
        <li><a href="/de/community/#development">Development Tools</a></li>
        <li><a href="/de/community/#masternodes">Masternode Tools</a></li>
        <li><a href="/de/legal/">Legal</a></li>
        <li><a href="/de/graphics/">Graphics</a></li>
        <li><a href="/de/merchandise/">Merchandise</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Project
    <ul>
        <li><a href="https://www.dash.org/forum/categories/dash-support.61/" target="_blank">Help &amp; Support</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146914" target="_blank">Project Information</a></li>
        <li><a href="/de/team/">Team</a></li>
        <li><a href="/de/update/">Update</a></li>
        <li><a href="https://www.dashfoundation.io/" target="_blank">Foundation</a></li>
        <li><a href="/de/contact/">Contact</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Site+map" target="_blank">Wiki</a></li>
        <li><a href="/de/school/">School</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Social
    <ul class="footer__social">
        <li><a href="/forum/" target="_blank">Dash forums</a></li>
        <li><a href="/de/blog/">Blog</a></li>
        <li><a href="https://www.reddit.com/r/dashpay" target="_blank">Reddit</a></li>
        <li><a href="https://twitter.com/dashpay" target="_blank">Twitter</a></li>
        <li><a href="https://www.youtube.com/channel/UCAzD2v9Yx4a4iS2_-unODkA" target="_blank">YouTube</a></li>
        <li><a href="https://plus.google.com/u/0/communities/101869723775111070721/stream/03b94d84-f61a-49f2-bb7d-9ac82e1ed7f2" target="_blank">Google+</a></li>
        <li><a href="https://www.linkedin.com/groups?home=&gid=8179817&trk=groups_most_recent-h-logo&goback=%2Egmp_8179817" target="_blank">LinkedIn</a></li>
        <li><a href="https://facebook.com/dashpay" target="_blank">Facebook</a></li>
        <li><a href="https://github.com/dashpay/dash" target="_blank">GitHub</a></li>
    </ul>
  </section>
</nav>
<div class="footer__menu content">
  <div class="footer__languagePicker"></div>
  <a href="/de/terms-of-use/">Terms of Use</a>
  <a href="/sitemap.xml">Sitemap</a>
  <a href="https://github.com/dashpay/dash-website" target="_blank">Source code</a>
  <a href="/de/contact/">Contact</a>
</div>
<div class="footer__legal">
  <div class="content">
    <span class="footer__copyright">&copy; 2018 The Dash Network</span>
    <!-- <a href="#">Github Source</a> -->
  </div>
</div>

		</footer>

		<!-- Mobile Nav -->
		<div class="overlay" id="overlay" data-js-overlay-menu>
			<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->








<nav class="overlay-menu" id="overlaynavigation" aria-hidden="true">

    <div class="overlay-menu__nav">
        <a href="/" class="overlay-menu__logo">
            <img src="/assets/img/logo-white.png" alt="Dash" class="logo">
        </a>
        <ul class="overlay-menu__list">
            <li class="overlay-menu__item"><a href="/de/get-dash/" class="overlay-menu__link">Get Dash</a></li>
            <li class="overlay-menu__item"><a href="/de/merchants/" class="overlay-menu__link">Merchants</a></li>
            <li class="overlay-menu__item"><a href="/de/network/" class="overlay-menu__link">Network</a></li>
            <li class="overlay-menu__item"><a href="/de/community/" class="overlay-menu__link">Resources</a></li>
            <li class="overlay-menu__item"><a href="/de/team/" class="overlay-menu__link">Team</a></li>
            <li class="overlay-menu__item"><a href="/de/blog/" class="overlay-menu__link">Blog</a></li>
            <li class="overlay-menu__item"><a href="/de/evolution/" class="overlay-menu__link">Evolution</a></li>
            
            <li class="overlay-menu__item overlay-menu__item--languages">
                <ul class="overlay-menu__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="overlay-menu__subitem">
                        <a href="/update/" class="overlay-menu__link "><span class="flag us"></span> English</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/es/update/" class="overlay-menu__link "><span class="flag es"></span> Español</a>
                    </li>
                    <li class="overlay-menu__subitem">
                        <a href="/fr/update/" class="overlay-menu__link "><span class="flag fr"></span> Français</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/pt/update/" class="overlay-menu__link "><span class="flag pt"></span> Portugese</a>
                    </li>
                    <!--<li class="overlay-menu__subitem">-->
                    <!--    <a href="/it/update/" class="overlay-menu__link "><span class="flag it"></span> Italiano</a>-->
                    <!--</li>-->
                    <li class="overlay-menu__subitem">
                    <a href="/cn/update/" class="overlay-menu__link "><span class="flag cn"></span> 简体中文</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/ru/update/" class="overlay-menu__link "><span class="flag ru"></span> Русский</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/jp/update/" class="overlay-menu__link "><span class="flag jp"></span>日本語</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/kr/update/" class="overlay-menu__link "><span class="flag kr"></span>한국어</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/de/update/" class="overlay-menu__link is-active"><span class="flag de"></span>Deutsch</a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>

</nav>

		</div>

		<!-- Fallback analytics -->
		<noscript>
	<img src="https://analytics.dash.org/piwik.php?idsite=1&amp;rec=1" style="border:0" alt="" />
</noscript>


		<!-- JavaScript -->
		<script src="//cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js" integrity="sha384-MYg5v6RiLsgqDiKOs6hcDXVblLg+Ls5F/jimSFosIUeDjW5VYViY1eMBMazbV5Mr" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" integrity="sha384-CgeP3wqr9h5YanePjYLENwCTSSEz42NJkbFpAFgHWQz7u3Zk8D00752ScNpXqGjS" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js" integrity="sha384-dfOR5hjVOg6B2OvgyHIS71mJWX5TgNQeFGo5cNNVglSep7ZvYcByrpEya6xbwwyB" crossorigin="anonymous"></script>
		<script src="/dist/js/main.min.js"></script>
		<script>
  window.globals = {
	siteApi : "/api/v1"
  };
</script>


	</body>
</html>
