<!doctype html>
<html lang="pt">
	<head>
		<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->







		<meta charset="UTF-8">
		<title>Dash Oficial Website | Dash Criptomoeda &mdash; Dash</title>
		<meta name="description" content="A DGBB também fornece um meio para a Dash financiar seu próprio desenvolvimento. Enquanto outros projetos têm de depender de doações Dash usa 10% da recompensa do bloco para financiar seu próprio desenvolvimento. Cada vez que um bloco é extraído, 45% da recompensa vai para o minerador, 45% vai para um Masternode, e o restante 10% não é criado até o final do mês. Durante o mês, qualquer pessoa pode fazer uma proposta de orçamento para a rede. Se essa proposta for aprovada em pelo menos 10% da rede masternode, então no final do mês será criada uma série de "superblocos". Nessa altura, as recompensas em bloco que não foram pagas (10% de cada bloco) serão utilizadas para financiar propostas aprovadas. A rede financia assim Reservando 10% do prêmio do bloco para projetos aprovados.
">

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
		<link rel="alternate" type="application/rss+xml" title="Dash Blog" href="/rss/dash_blog_rss.xml">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" type="text/css" href="/dist/css/main.min.css">
		<!-- Analytics -->
		<script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
		var u="//analytics.dash.org/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', '1']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();
</script>

	</head>

	<body>

		<div class="hero" id="hero">
	<div class="hero__background">
		<img src="/assets/img/resized/hero/community.jpg-cb6c9e7/960x640.jpg" srcset="/assets/img/resized/hero/community.jpg-cb6c9e7/1920x1280.jpg 1920w, /assets/img/resized/hero/community.jpg-cb6c9e7/960x640.jpg 960w" sizes="100vw, 100vw" class="hero__background-image" />

	</div>

	<!-- Navigation -->
	<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->








<!--
    To change the logo color, pass the parameter in the include.
    include nav-desktop.html logo-color="blue"
-->



<button class="burger" type="button" data-js-open-menu aria-label="Menu" aria-controls="overlaynavigation" aria-expanded="false"><div class="burger__burger"></div></button>

<header id="top" class="content">

    <a href="/pt/" class="logo"><img class="logo__img" src="/assets/img/logo-white.png" alt="Dash"></a>
    <nav class="nav nav--white">
        <ul class="nav__list">
            <li class="nav__item"><a href="/pt/get-dash/" class="nav__link">Obter Dash</a></li>
			<li class="nav__item"><a href="/pt/merchants/" class="nav__link">Comerciantes</a></li>
			<li class="nav__item"><a href="/pt/network/" class="nav__link">Network</a></li>
			<li class="nav__item"><a href="/pt/community/" class="nav__link">Comunidade</a></li>
			<li class="nav__item"><a href="/pt/team/" class="nav__link">Team</a></li>
			<li class="nav__item"><a href="/pt/blog/" class="nav__link">Blog</a></li>
			<li class="nav__item"><a href="/pt/evolution/" class="nav__link">Evolution</a></li>
            
            <li class="nav__item nav__item--languages">
                <a href="#" class="nav__link" style="text-transform:uppercase;"><span class="flag pt"></span></a>
                <ul class="nav__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="nav__subitem">
                        <a href="/governance/" class="nav__link ">English <span class="flag gb"></span></a>
                    </li>
                    <li class="nav__subitem">
                       <a href="/es/governance/" class="nav__link ">Español <span class="flag es"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/fr/governance/" class="nav__link ">Français <span class="flag fr"></span></a>
                    </li>
                     <li class="nav__subitem">
                        <a href="/pt/governance/" class="nav__link is-active">Portugese <span class="flag pt"></span></a>
                    </li>
                    <!--<li class="nav__subitem">-->
                    <!--    <a href="/it/governance/" class="nav__link ">Italiano <span class="flag it"></span></a>-->
                    <!--</li>-->
                    <li class="nav__subitem">
                        <a href="/cn/governance/" class="nav__link ">简体中文 <span class="flag cn"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/ru/governance/" class="nav__link ">Русский <span class="flag ru"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/jp/governance/" class="nav__link ">日本語 <span class="flag jp"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/kr/governance/" class="nav__link ">한국어<span class="flag kr"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/de/governance/" class="nav__link ">Deutsch<span class="flag de"></span></a>
                    </li>
                </ul>
            </li>
            

           <!--  <li class="nav__item nav__item--search"><a href="/pt" class="nav__link" title="Buscar">S</a></li> -->
        </ul>
    </nav>

</header>


	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">Sistema de Governança Descentralizada</h1>
		<p class="hero__lead">Governança descentralizada por Blockchain, ou DGBB, é a tentativa da Dash para resolver dois problemas importantes na criptocorrência: governança e financiamento.
</p>

		<div class="hero__buttons">
			<a href="https://dashpay.atlassian.net/wiki/x/GACD" class="btn-white-solid" target="_blank">O que é DGBB</a>
			<a href="https://dashpay.atlassian.net/wiki/x/CIBuAQ" class="btn-white-solid" target="_blank">Tools</a>
		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>

<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->









<div class="page page--home">

	<!--
		WHAT IS PLUGIN?
	-->
	<section class="section">
		<div class="section__content">
			<div class="section__lead"><p>Governança em um projeto descentralizado é difícil, Porque, por definição, não há autoridades centrais para tomar decisões para o projeto. Na Dash, tais decisões são tomadas pela rede, ou seja, pelos proprietários de masternodes. O sistema DGBB permite os masternodes Votar a favor ou contra as propostas, que podem então ser implementadas (ou não) pelos desenvolvedores da Dash. Um exemplo no início de 2016, Quando a Core Team da Dash enviou uma proposta à rede perguntando se o tamanho do bloco deveria ser aumentado para 2 MB. Dentro de 24 horas, Foi alcançado um consenso para aprovar esta mudança. Compare isso com o Bitcoin, onde o debate sobre o tamanho de blocos vem se intensificando há quase três anos.</p>
</div>
			<br>
			<p>A DGBB também fornece um meio para a Dash financiar seu próprio desenvolvimento. Enquanto outros projetos têm de depender de doações Dash usa 10% da recompensa do bloco para financiar seu próprio desenvolvimento. Cada vez que um bloco é extraído, 45% da recompensa vai para o minerador, 45% vai para um Masternode, e o restante 10% não é criado até o final do mês. Durante o mês, qualquer pessoa pode fazer uma proposta de orçamento para a rede. Se essa proposta for aprovada em pelo menos 10% da rede masternode, então no final do mês será criada uma série de "superblocos". Nessa altura, as recompensas em bloco que não foram pagas (10% de cada bloco) serão utilizadas para financiar propostas aprovadas. A rede financia assim Reservando 10% do prêmio do bloco para projetos aprovados.
</p>
		</div>
	</section>

	<section class="section">
		<div class="section__content">
			<h2 class="section__title">O que é Governança e o que isso significa para a Dash</h2>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/jHsVU1LBuAY" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</section>


	<section class="">
		<div class="content">
			<h2 class="section__title">Como votar</h2>
			<div class="row">
				<div class="col-sm-6">
					<h2>Votação automatizada</h2>
					<p>Um dos maiores desafios da construção de uma plataforma de criptomoeda é garantir que você criar um sistema descentralizado de governança para gerenciar, Financiar, manter e expandir o projeto. Este elemento chave está ausente em todas as moedas até a data, a resposta natural é criar uma organização sem fins lucrativos Que é encarregada de manter e promover a moeda, mas não está realmente ligado aos titulares de moedas de qualquer forma significativa. Esta abordagem tem algumas questões que foram tornadas a partir da experiência de plataformas de criptomoedas mais antigas.
</p>
					<a href="https://youtu.be/52TzOgq15h8" class="btn-blue" target="_blank">
						Guia - Amanda B.
					</a>
					<a href="https://dashpay.atlassian.net/wiki/x/DIBGB" class="btn-blue" target="_blank">
						Votação Manual (em QT Wallet)
					</a>
					<a href="https://dashpay.atlassian.net/wiki/x/EIBGB" class="btn-blue" target="_blank">
						DashCentral
					</a>
				</div>
				<div class="col-sm-6">
					<h2>Governança Tools</h2>
					<p>O sistema funcionaria como um mecanismo de votação descentralizado no software, onde os orçamentos para projetos específicos são propostos, Então os masternodes como um todo vota neles. Cada projeto, se for aprovado, é adicionado ao orçamento total e pago diretamente do blockchain Para a pessoa que faz o trabalho. Com isso, poderíamos contratar desenvolvedores principais e pagá-los diretamente após a aprovação do trabalho de forma descentralizada.
</p>
					<a href="https://proposal.dash.org" class="btn-blue" target="_blank">Gerador de Propostas Orçamentárias</a>
					<a href="https://www.dashcentral.org/" class="btn-blue" target="_blank">DashCentral</a>
					<a href="http://dashvotetracker.com" class="btn-blue" target="_blank">VoteTracker</a>
					<a href="https://www.dashninja.pl/budgets.html" class="btn-blue" target="_blank">Monitoramento do Orçamento</a>
					<a href="#" class="btn-blue" target="_blank">Status das propostas</a>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="content">
			<div>
				<h2 class="section__title">Serviço automatizado de propostas</h2>
				<img src="/assets/img/update/Voting.png" alt="">
			</div>
			<div>
				<a href="https://proposal.dash.org/" target="_blank" class="btn-blue">Propostas</a>
			</div>
		</div>
	</section>
</div>


		<!-- Footer -->
		<footer class="footer">
			<nav class="footer__nav content">
  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Obter Dash
    <ul>
        <li><a href="/pt/get-dash/">Download da Carteira</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=48693287" target="_blank">Comprar Dash</a></li>
        <li><a href="/pt/merchants/">Shop com Dash</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Debit+Cards" target="_blank">Dash Cartão de Debito</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Contribuir
    <ul>
        <li><a href="/pt/mining/" >Começãr a Minerar</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/1146943/Masternodes" target="_blank">Configurar um Masternode</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146941" target="_blank">Configurar uma Carteira virtual</a></li>
        <li><a href="/pt/governance/">Solicitar financiamento</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Network
    <ul>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/48693298/Exchanges" target="_blank">Exchange Markets</a></li>
        <li><a href="/pt/governance/">Governança</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/x/CwDeAQ" target="_blank">Block Explorers</a></li>
        <li><a href="http://178.254.23.111/~pub/Dash/Dash_Info.html" target="_blank">Network Stats</a></li>
        <li><a href="/pt/exchanges/" >Full list of Exchanges</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Comunidade
    <ul>
        <li><a href="/pt/community/#discussion">Discussão</a></li>
        <li><a href="/pt/community/#social">Social Apps</a></li>
        <li><a href="/pt/community/#news">News &amp; Info</a></li>
        <li><a href="/pt/community/#development">Ferramentas de Desenvolvimento</a></li>
        <li><a href="/pt/community/#masternodes">Ferramentas Masternode</a></li>
        <li><a href="/pt/legal/">Legal</a></li>
        <li><a href="/pt/graphics/">Graphics</a></li>
        <li><a href="/pt/merchandise/">Merchandise</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Projeto
    <ul>
        <li><a href="https://www.dash.org/forum/categories/dash-support.61/" target="_blank">Help &amp; Suporte</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146914" target="_blank">Projeto Informação</a></li>
        <li><a href="/pt/team/">Team</a></li>
        <li><a href="/pt/update/">Update</a></li>
        <li><a href="https://www.dashfoundation.io/" target="_blank">Fundação</a></li>
        <li><a href="/pt/contact/">Contato</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Site+map" target="_blank">Wiki</a></li>
        <li><a href="/pt/school/">School</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Social
    <ul class="footer__social">
        <li><a href="/forum/" target="_blank">Dash forums</a></li>
        <li><a href="/pt/blog/">Blog</a></li>
        <li><a href="https://www.reddit.com/r/dashpay" target="_blank">Reddit</a></li>
        <li><a href="https://twitter.com/dashpay" target="_blank">Twitter</a></li>
        <li><a href="https://www.youtube.com/channel/UCAzD2v9Yx4a4iS2_-unODkA" target="_blank">YouTube</a></li>
        <li><a href="https://plus.google.com/u/0/communities/101869723775111070721/stream/03b94d84-f61a-49f2-bb7d-9ac82e1ed7f2" target="_blank">Google+</a></li>
        <li><a href="https://www.linkedin.com/groups?home=&gid=8179817&trk=groups_most_recent-h-logo&goback=%2Egmp_8179817" target="_blank">LinkedIn</a></li>
        <li><a href="https://facebook.com/dashpay" target="_blank">Facebook</a></li>
        <li><a href="https://github.com/dashpay/dash" target="_blank">GitHub</a></li>
    </ul>
  </section>
</nav>
<div class="footer__menu content">
  <div class="footer__languagePicker"></div>
  <a href="/pt/terms-of-use/">Termos de uso</a>
  <a href="/sitemap.xml">Sitemap</a>
  <a href="https://github.com/dashpay/dash-website" target="_blank">Source code</a>
  <a href="/pt/contact/">Contato</a>
</div>
<div class="footer__legal">
  <div class="content">
    <span class="footer__copyright">&copy; 2018 The Dash Network</span>
    <!-- <a href="#">Github Source</a> -->
  </div>
</div>

		</footer>

		<!-- Mobile Nav -->
		<div class="overlay" id="overlay" data-js-overlay-menu>
			<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->








<nav class="overlay-menu" id="overlaynavigation" aria-hidden="true">

    <div class="overlay-menu__nav">
        <a href="/" class="overlay-menu__logo">
            <img src="/assets/img/logo-white.png" alt="Dash" class="logo">
        </a>
        <ul class="overlay-menu__list">
            <li class="overlay-menu__item"><a href="/pt/get-dash/" class="overlay-menu__link">Obter Dash</a></li>
            <li class="overlay-menu__item"><a href="/pt/merchants/" class="overlay-menu__link">Comerciantes</a></li>
            <li class="overlay-menu__item"><a href="/pt/network/" class="overlay-menu__link">Network</a></li>
            <li class="overlay-menu__item"><a href="/pt/community/" class="overlay-menu__link">Comunidade</a></li>
            <li class="overlay-menu__item"><a href="/pt/team/" class="overlay-menu__link">Team</a></li>
            <li class="overlay-menu__item"><a href="/pt/blog/" class="overlay-menu__link">Blog</a></li>
            <li class="overlay-menu__item"><a href="/pt/evolution/" class="overlay-menu__link">Evolution</a></li>
            
            <li class="overlay-menu__item overlay-menu__item--languages">
                <ul class="overlay-menu__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="overlay-menu__subitem">
                        <a href="/governance/" class="overlay-menu__link "><span class="flag us"></span> English</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/es/governance/" class="overlay-menu__link "><span class="flag es"></span> Español</a>
                    </li>
                    <li class="overlay-menu__subitem">
                        <a href="/fr/governance/" class="overlay-menu__link "><span class="flag fr"></span> Français</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/pt/governance/" class="overlay-menu__link is-active"><span class="flag pt"></span> Portugese</a>
                    </li>
                    <!--<li class="overlay-menu__subitem">-->
                    <!--    <a href="/it/governance/" class="overlay-menu__link "><span class="flag it"></span> Italiano</a>-->
                    <!--</li>-->
                    <li class="overlay-menu__subitem">
                    <a href="/cn/governance/" class="overlay-menu__link "><span class="flag cn"></span> 简体中文</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/ru/governance/" class="overlay-menu__link "><span class="flag ru"></span> Русский</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/jp/governance/" class="overlay-menu__link "><span class="flag jp"></span>日本語</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/kr/governance/" class="overlay-menu__link "><span class="flag kr"></span>한국어</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/de/governance/" class="overlay-menu__link "><span class="flag de"></span>Deutsch</a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>

</nav>

		</div>

		<!-- Fallback analytics -->
		<noscript>
	<img src="https://analytics.dash.org/piwik.php?idsite=1&amp;rec=1" style="border:0" alt="" />
</noscript>


		<!-- JavaScript -->
		<script src="//cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js" integrity="sha384-MYg5v6RiLsgqDiKOs6hcDXVblLg+Ls5F/jimSFosIUeDjW5VYViY1eMBMazbV5Mr" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" integrity="sha384-CgeP3wqr9h5YanePjYLENwCTSSEz42NJkbFpAFgHWQz7u3Zk8D00752ScNpXqGjS" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js" integrity="sha384-dfOR5hjVOg6B2OvgyHIS71mJWX5TgNQeFGo5cNNVglSep7ZvYcByrpEya6xbwwyB" crossorigin="anonymous"></script>
		<script src="/dist/js/main.min.js"></script>
		<script>
  window.globals = {
	siteApi : "/api/v1"
  };
</script>


	</body>
</html>
