<!doctype html>
<html lang="pt">
	<head>
		<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->







		<meta charset="UTF-8">
		<title>Dash Oficial Website | Dash Criptomoeda &mdash; Dash</title>
		<meta name="description" content="Dash é dinheiro digital">

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
		<link rel="alternate" type="application/rss+xml" title="Dash Blog" href="/rss/dash_blog_rss.xml">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" type="text/css" href="/assets/css/main.min.css">
		<!-- Analytics -->
		<script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
		var u="//analytics.dash.org/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', '1']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();
</script>

	</head>

	<body>

		<div class="hero hero--home" id="hero">
	<div class="hero__background">
		<img src="/assets/img/resized/hero/home.jpg-3ccf164/800x515.jpg" srcset="/assets/img/resized/hero/home.jpg-3ccf164/1920x1236.jpg 1920w, /assets/img/resized/hero/home.jpg-3ccf164/1280x824.jpg 1280w, /assets/img/resized/hero/home.jpg-3ccf164/1024x659.jpg 1024w, /assets/img/resized/hero/home.jpg-3ccf164/1600x1030.jpg 1600w, /assets/img/resized/hero/home.jpg-3ccf164/800x515.jpg 800w" sizes="100vw, 100vw, 100vw, 100vw" class="hero__background-image" />

	</div>

	<!-- Navigation -->
	<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->








<!--
    To change the logo color, pass the parameter in the include.
    include nav-desktop.html logo-color="blue"
-->



<button class="burger" type="button" data-js-open-menu aria-label="Menu" aria-controls="overlaynavigation" aria-expanded="false"><div class="burger__burger"></div></button>

<header id="top" class="content">

    <a href="/pt/" class="logo"><img class="logo__img" src="/assets/img/logo-white.png" alt="Dash"></a>
    <nav class="nav nav--white">
        <ul class="nav__list">
            <li class="nav__item"><a href="/pt/get-dash/" class="nav__link">Obter Dash</a></li>
			<li class="nav__item"><a href="/pt/merchants/" class="nav__link">Comerciantes</a></li>
			<li class="nav__item"><a href="/pt/network/" class="nav__link">Network</a></li>
			<li class="nav__item"><a href="/pt/community/" class="nav__link">Comunidade</a></li>
			<li class="nav__item"><a href="/pt/team/" class="nav__link">Team</a></li>
			<li class="nav__item"><a href="/pt/blog/" class="nav__link">Blog</a></li>
			<li class="nav__item"><a href="/pt/evolution/" class="nav__link">Evolution</a></li>
            
            <li class="nav__item nav__item--languages">
                <a href="#" class="nav__link" style="text-transform:uppercase;"><span class="flag pt"></span></a>
                <ul class="nav__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="nav__subitem">
                        <a href="/" class="nav__link ">English <span class="flag gb"></span></a>
                    </li>
                    <li class="nav__subitem">
                       <a href="/es/" class="nav__link ">Español <span class="flag es"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/fr/" class="nav__link ">Français <span class="flag fr"></span></a>
                    </li>
                     <li class="nav__subitem">
                        <a href="/pt/" class="nav__link is-active">Portugese <span class="flag pt"></span></a>
                    </li>
                    <!--<li class="nav__subitem">-->
                    <!--    <a href="/it/" class="nav__link ">Italiano <span class="flag it"></span></a>-->
                    <!--</li>-->
                    <li class="nav__subitem">
                        <a href="/cn/" class="nav__link ">简体中文 <span class="flag cn"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/ru/" class="nav__link ">Русский <span class="flag ru"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/jp/" class="nav__link ">日本語 <span class="flag jp"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/kr/" class="nav__link ">한국어<span class="flag kr"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/de/" class="nav__link ">Deutsch<span class="flag de"></span></a>
                    </li>
                </ul>
            </li>
            

           <!--  <li class="nav__item nav__item--search"><a href="/pt" class="nav__link" title="Buscar">S</a></li> -->
        </ul>
    </nav>

</header>

	<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href=".././assets/css/style.css"
-->








	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">Dash é dinheiro digital</h1>
		<p class="hero__lead">Um revolucionário sistema de dinheiro digital. <br/> Conheça o Digital Cash.</p>

		<div class="hero__buttons">
			<a href="/pt/get-dash/" class="btn-blue-solid btn-large">Obter Dash</a>
			<a href="/pt/wallets/" class="btn-blue-solid btn-large">Todas as carteiras</a>
		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>


<div class="page page--home">

	<!--
		WHAT IS DASH?
		LINK TO VIDEO.
	-->
	<section class="section section--home-cta">
		<div class="section__content">
				<h2 class="section__title">Dash é dinheiro digital que você pode gastar on-line</h2>
				<div class="section__lead"><p>Use Dash para fazer pagamentos instantâneos e privados on-line ou na loja usando nossa plataforma segura de código aberto hospedada por milhares de usuários em todo o mundo.</p>
</div>

				<div class="section__btn-grp">
					<a href="https://www.youtube.com/watch?v=3OECqdXbHgY" class="btn-blue btn-large" target="_blank" data-js-popup="video" data-lang="pt">Vídeo em destaque</a>
					<a href="/pt/get-dash/" class="btn-blue-solid btn-large">Download da Carteira</a>
				</div>
		</div>
	</section>

	<!--
		MERCHANTS
	-->
	<section>
		<div class="content">
			<div>
				<h2>Lojas com Dash</h2>

				<p>Compras imediatas e privadas, diretamente da sua carteira Dash</p>

			</div>

			<div class="ctabox ctabox--gray-light-bg" data-js-ctabox>
				<div class="ctabox__inner">
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://shakepay.co" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/shakepay_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Shake Pay</h4>
								<p class="ctabox__description">Dash-Visa Debit Card</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.livingroomofsatoshi.com/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/livingroomofsatoshi_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
							<h4 class="ctabox__title">Living Room of..</h4>
							<p class="ctabox__description">Pay bills in Australia</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.claws-mail.org/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/ClawsMail.jpg" class="ctabox__image">
							</div>
							<div class="ctabox__text">
							<h4 class="ctabox__title">ClawsMail</h4>
							<p class="ctabox__description">Secure, Private VPN</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://node40.com" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/node40.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Node40</h4>
								<p class="ctabox__description">Masternode Hosting</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://shapeshift.io" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/shapeshift_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">ShapeShift</h4>
								<p class="ctabox__description">Exchange Dash for Bitcoin</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.qhoster.com/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/qhoster.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
							<h4 class="ctabox__title">Qhoster</h4>
							<p class="ctabox__description">Quality Hosting</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="http://www.isg3d.com/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/isg3d_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">ISG3D</h4>
								<p class="ctabox__description">3D Printing Services</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.coaex.com" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/coaex_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">CoaEX</h4>
								<p class="ctabox__description">Precious Metals</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="http://bravenewbookstore.com/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/bravenewbooks_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">BraveNewBooks</h4>
								<p class="ctabox__description">Book Store</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://giftoff.com/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/giftoff_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">GiftOff</h4>
								<p class="ctabox__description">Gift Cards</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://key4co.in" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/key4coin_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Key4Coin</h4>
								<p class="ctabox__description">Game Keys</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://misconductwineco.com/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/misconductwine_logo.jpg" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Misconduct Wine</h4>
								<p class="ctabox__description">Premium micro-lot wines</p>
							</div>
						</a>
					</article>
				</div>
			</div>

			<div>
				<a href="/merchants/" target="_blank" class="btn-blue">Mais Comerciantes</a>
				<a href="https://dashpay.atlassian.net/wiki/display/DOC/Merchant+Directory+Listing" target="_blank" class="btn-blue">Torne-se um Comerciante</a>
			</div>
		</div>
	</section>

	<!--
		DASH FEATURES
		PRIVATE | INSTANT | SECURE
	-->
	<section>
		<div class="content">
			<div class="row features-collection">
				<div class="col-sm-4">
					<img src="/assets/img/home/instant.svg" height="100" alt="Instant">
					<h2>Instant</h2>
					<p>Seu tempo é valioso. Os pagamentos do InstantSend confirmam em menos de um segundo.</p>

				</div>
				<div class="col-sm-4">
					<img src="/assets/img/home/private.svg" height="100" alt="Privado">
					<h2>Privado</h2>
					<p>Proteja suas informações financeiras. PrivateSend garante que seu histórico de atividades e saldos são privados.</p>

				</div>
				<div class="col-sm-4">
					<img src="/assets/img/home/secure.svg" height="100" alt="Seguro">
					<h2>Seguro</h2>
					<p>Segurança com a qual você pode contar. Transações são confirmadas por 1.000 Gigahash de X11 ASIC poder de computação e mais de 4.100 servidores hospedados em todo o mundo.</p>

				</div>
			</div>
		</div>
	</section>

	<!--
		NETWORK ARCHITECTURE
	-->
	<section class="section--masternode">
		<div class="content">
			<div class="row">
				<div class="col-sm-6">
					<h2>Next-Gen P2P Network</h2>

					<p>No core da Dash está uma rede peer-to-peer totalmente incentivada. Os mineiros são recompensados por proteger o blockchain e os masternodes são recompensados por validar, armazenar e servir o blockchain aos usuários.
Os Masternodes representam uma nova camada de servidores de rede que trabalham em clusters altamente seguros chamados quóruns para fornecer uma variedade de serviços descentralizados, como transações instantâneas, privacidade e governança, ao mesmo tempo em que eliminam a ameaça de ataques de rede de baixo custo.</p>


					<a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=8585240" target="_blank" class="btn-blue">Leia Mais</a>
				</div>
				<div class="col-sm-6 home-architecture-graphic">
					<img src="/assets/img/home/globe.png" alt="Next-Gen P2P Network">
				</div>
			</div>
		</div>
	</section>

	<!--
		SELF GOVERNING | SELF FUNDING
	-->
	<section>
		<div class="content">
			<div class="row">
				<div class="col-sm-6 col-sm-push-6">
					<h2>Primeira em auto-governança, protocolo auto financiamento</h2>

					<p>No Dash, todos têm voz e capacidade de propor projetos diretamente à rede. Qualquer coisa que você pode fazer - do marketing ao desenvolvimento - que ajuda a Dash a crescer e a melhorar pode ser financiada. Isso significa que o Dash financia seu próprio crescimento e adoção, o consenso é garantido e todos são responsáveis perante a rede. Basta enviar uma proposta de tesouraria e apresentar a sua idéia para a rede de financiamento e fazer o seu caso, ou se você operar um Masternode, não deixe de votar!</p>


					<a href="http://dashvotetracker.com/" target="_blank" class="btn-blue">Propostas</a>

					<a href="https://dashcentral.org/" target="_blank" class="btn-blue">Envie uma Proposta</a>
				</div>
				<div class="col-sm-6 col-sm-pull-6 home-budgets-graphic">
					<img src="/assets/img/home/budgets.png" alt="Primeira em auto-governança, protocolo auto financiamento">
				</div>
			</div>
		</div>
	</section>

	<!--
		FASTEST GROWING NETWORK
	-->
	<section>
		<div class="content">
			<div class="row">
				<div class="col-sm-6">
					<h2>A Rede de Crescimento Mais Rápido</h2>

					<p>Graças ao incentivo, a rede da Dash cresceu para 4.100 masternodes desde o lançamento em 2014, o que significa que a rede peer-to-peer da Dash é uma das maiores do mundo. Mais nós significa serviços mais seguros e mais capacidade para os usuários finais acessarem o Dinheiro Digital de qualquer lugar do mundo, 24 horas por dia, 7 dias por semana.</p>


					<a href="/pt/network" class="btn-blue">Network Stats</a>
				</div>
				<!--div class="col-sm-6 home-network-graphic">
					<img src="/assets/img/home/graph.png" alt="A Rede de Crescimento Mais Rápido">
				</div-->
				<div class="col-sm-6 home-network-graphic-live">
					<img src="/assets/img/masternode_count-crop-813x525.png" alt="A Rede de Crescimento Mais Rápido">
				</div>
			</div>
		</div>
	</section>

	<!--
		EVOLUTION
	-->
	<section>
		<div class="content">
			<div class="row">
				<div class="col-sm-6 col-sm-push-6">
					<h2>Evolução da Moeda Digital</h2>

					<p>Qual é o próximo? Queremos que as moedas digitais sejam tão fáceis de usar que a vovó as usaria. O Dash Evolution permitirá que você se inscreva e acesse suas Dash de qualquer dispositivo e faça transações tão facilmente como você faz com o PayPal, mas de uma forma totalmente descentralizada. Fique ligado…</p>

					<a href="/pt/evolution/" target="_blank" class="btn-blue">Leia Mais</a>
				</div>
				<div class="col-sm-6 col-sm-pull-6 home-evolution-graphic">
					<img src="/assets/img/home/evo.png" alt="Dash Evolution">
				</div>
			</div>
		</div>
	</section>

	<!--
		LATEST NEWS
	-->
	<section class="home-latest-news">
		<div class="content">
			<h2>Últimas notícias</h2>

			<div class="row">
				
				<div class="col-sm-6 col-md-3">
					<div class="news-post">
						<a href="/pt/2017/02/01/copaypt.html">
							<div class="news-image">
								
									<img src="/assets/img/blog/CoPayWalletcopy.jpg">
								
							</div>
							<div class="news-body">
								<h3 class="news-title">Copay-Dash Wallet (Testnet só / RC 0.1)</h3>
								<div class="date">Feb 01, 2017</div>
								<p>Estou feliz em anunciar uma versão “Release Candidate” da Copay-Dash, uma carteira Copay que foi desenvolvida pela Bitpay.
Além das características habituais de outras carteiras, este aplicativo com todas as características possui:
A capacidade de...</p>
							</div>
						</a>
					</div>
				</div>
				
				<div class="col-sm-6 col-md-3">
					<div class="news-post">
						<a href="/pt/geral/opini%C3%A3o/2016/07/13/ethereum-fork-do-bitcoin-block-size-diferentes-dramas-mesma-causa-dash-detalhado.html">
							<div class="news-image">
								
							</div>
							<div class="news-body">
								<h3 class="news-title">Ethereum Fork &amp; do Bitcoin Block Size: Diferentes Dramas, mesma causa | DASH: Detalhado</h3>
								<div class="date">Jul 13, 2016</div>
								<p>
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
</p>
							</div>
						</a>
					</div>
				</div>
				
				<div class="col-sm-6 col-md-3">
					<div class="news-post">
						<a href="/pt/desenvolvimento%20de%20neg%C3%B3cios/geral/2016/07/11/exchange-chameleonbit-add-dash-em-sua-plataforma.html">
							<div class="news-image">
								
							</div>
							<div class="news-body">
								<h3 class="news-title">Exchange chameleonbit add Dash em sua plataforma</h3>
								<div class="date">Jul 11, 2016</div>
								<p>
http://chameleonbit.trade
Boa noite, e com o enorme prazer que venho anunciar a vocês que a exchange 100% brasileira chameleonbit.trade já esta operando Dash com depósitos e retiradas automatico (não precisa contatar o suporte). Com isso facilita...</p>
							</div>
						</a>
					</div>
				</div>
				
				<div class="col-sm-6 col-md-3">
					<div class="news-post">
						<a href="/pt/geral/opini%C3%A3o/2016/07/01/dash-e-financeiro-de-privacidade.html">
							<div class="news-image">
								
							</div>
							<div class="news-body">
								<h3 class="news-title">Dash é Financeiro de Privacidade</h3>
								<div class="date">Jul 01, 2016</div>
								<p>PRIVACIDADE É IMPORTANTE
A privacidade é um direito humano. Faz-nos o que somos. Provou-se muitas vezes que, quando não esperamos privacidade, se comportam de forma diferente. Não se atrevem a experimentar e criar. Deixamos de ser humanos. Algumas...</p>
							</div>
						</a>
					</div>
				</div>
				
			</div>

			<div>
				<a href="/pt/blog/" class="btn-blue">Ver todas as notícias</a>
			</div>
		</div>
	</section>

	<!--
		GET STARTED
	-->
	<section class="home-get-started-cta">
		<div class="content">
			<h2>Iniciar</h2>

			<p>Faça o download da carteira e comece a usar o Dinheiro Digital!</p>


			<a href="/pt/get-dash/" class="btn-white-solid">Obter Dash</a>

			<img src="/assets/img/home/macbook.png" alt="">
		</div>
	</section>

</div>


		<!-- Footer -->
		<footer class="footer">
			<nav class="footer__nav content">
  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Obter Dash
    <ul>
        <li><a href="/pt/get-dash/">Download da Carteira</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=48693287" target="_blank">Comprar Dash</a></li>
        <li><a href="/pt/merchants/">Shop com Dash</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Debit+Cards" target="_blank">Dash Cartão de Debito</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Contribuir
    <ul>
        <li><a href="/pt/mining/" >Começãr a Minerar</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/1146943/Masternodes" target="_blank">Configurar um Masternode</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146941" target="_blank">Configurar uma Carteira virtual</a></li>
        <li><a href="/pt/governance/">Solicitar financiamento</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Network
    <ul>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/48693298/Exchanges" target="_blank">Exchange Markets</a></li>
        <li><a href="/pt/governance/">Governança</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/x/CwDeAQ" target="_blank">Block Explorers</a></li>
        <li><a href="http://178.254.23.111/~pub/Dash/Dash_Info.html" target="_blank">Network Stats</a></li>
        <li><a href="/pt/exchanges/" >Full list of Exchanges</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Comunidade
    <ul>
        <li><a href="/pt/community/#discussion">Discussão</a></li>
        <li><a href="/pt/community/#social">Social Apps</a></li>
        <li><a href="/pt/community/#news">News &amp; Info</a></li>
        <li><a href="/pt/community/#development">Ferramentas de Desenvolvimento</a></li>
        <li><a href="/pt/community/#masternodes">Ferramentas Masternode</a></li>
        <li><a href="/pt/legal/">Legal</a></li>
        <li><a href="/pt/graphics/">Graphics</a></li>
        <li><a href="/pt/merchandise/">Merchandise</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Projeto
    <ul>
        <li><a href="https://www.dash.org/forum/categories/dash-support.61/" target="_blank">Help &amp; Suporte</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146914" target="_blank">Projeto Informação</a></li>
        <li><a href="/pt/team/">Team</a></li>
        <li><a href="/pt/update/">Update</a></li>
        <li><a href="https://www.dashfoundation.io/" target="_blank">Fundação</a></li>
        <li><a href="/pt/contact/">Contato</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Site+map" target="_blank">Wiki</a></li>
        <li><a href="/pt/school/">School</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Social
    <ul class="footer__social">
        <li><a href="/forum/" target="_blank">Dash forums</a></li>
        <li><a href="/pt/blog/">Blog</a></li>
        <li><a href="https://www.reddit.com/r/dashpay" target="_blank">Reddit</a></li>
        <li><a href="https://twitter.com/dashpay" target="_blank">Twitter</a></li>
        <li><a href="https://www.youtube.com/channel/UCAzD2v9Yx4a4iS2_-unODkA" target="_blank">YouTube</a></li>
        <li><a href="https://plus.google.com/u/0/communities/101869723775111070721/stream/03b94d84-f61a-49f2-bb7d-9ac82e1ed7f2" target="_blank">Google+</a></li>
        <li><a href="https://www.linkedin.com/groups?home=&gid=8179817&trk=groups_most_recent-h-logo&goback=%2Egmp_8179817" target="_blank">LinkedIn</a></li>
        <li><a href="https://facebook.com/dashpay" target="_blank">Facebook</a></li>
        <li><a href="https://github.com/dashpay/dash" target="_blank">GitHub</a></li>
    </ul>
  </section>
</nav>
<div class="footer__menu content">
  <div class="footer__languagePicker"></div>
  <a href="/pt/terms-of-use/">Termos de uso</a>
  <a href="/sitemap.xml">Sitemap</a>
  <a href="https://github.com/dashpay/dash-website" target="_blank">Source code</a>
  <a href="/pt/contact/">Contato</a>
</div>
<div class="footer__legal">
  <div class="content">
    <span class="footer__copyright">&copy; 2018 The Dash Network</span>
    <!-- <a href="#">Github Source</a> -->
  </div>
</div>

		</footer>

		<!-- Mobile Nav -->
		<div class="overlay" id="overlay" data-js-overlay-menu>
			<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href=".././assets/css/style.css"
-->








<nav class="overlay-menu" id="overlaynavigation" aria-hidden="true">

    <div class="overlay-menu__nav">
        <a href="/" class="overlay-menu__logo">
            <img src="/assets/img/logo-white.png" alt="Dash" class="logo">
        </a>
        <ul class="overlay-menu__list">
            <li class="overlay-menu__item"><a href="/pt/get-dash/" class="overlay-menu__link">Obter Dash</a></li>
            <li class="overlay-menu__item"><a href="/pt/merchants/" class="overlay-menu__link">Comerciantes</a></li>
            <li class="overlay-menu__item"><a href="/pt/network/" class="overlay-menu__link">Network</a></li>
            <li class="overlay-menu__item"><a href="/pt/community/" class="overlay-menu__link">Comunidade</a></li>
            <li class="overlay-menu__item"><a href="/pt/team/" class="overlay-menu__link">Team</a></li>
            <li class="overlay-menu__item"><a href="/pt/blog/" class="overlay-menu__link">Blog</a></li>
            <li class="overlay-menu__item"><a href="/pt/evolution/" class="overlay-menu__link">Evolution</a></li>
            
            <li class="overlay-menu__item overlay-menu__item--languages">
                <ul class="overlay-menu__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="overlay-menu__subitem">
                        <a href="/" class="overlay-menu__link "><span class="flag us"></span> English</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/es/" class="overlay-menu__link "><span class="flag es"></span> Español</a>
                    </li>
                    <li class="overlay-menu__subitem">
                        <a href="/fr/" class="overlay-menu__link "><span class="flag fr"></span> Français</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/pt/" class="overlay-menu__link is-active"><span class="flag pt"></span> Portugese</a>
                    </li>
                    <!--<li class="overlay-menu__subitem">-->
                    <!--    <a href="/it/" class="overlay-menu__link "><span class="flag it"></span> Italiano</a>-->
                    <!--</li>-->
                    <li class="overlay-menu__subitem">
                    <a href="/cn/" class="overlay-menu__link "><span class="flag cn"></span> 简体中文</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/ru/" class="overlay-menu__link "><span class="flag ru"></span> Русский</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/jp/" class="overlay-menu__link "><span class="flag jp"></span>日本語</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/kr/" class="overlay-menu__link "><span class="flag kr"></span>한국어</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/de/" class="overlay-menu__link "><span class="flag de"></span>Deutsch</a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>

</nav>

		</div>

		<!-- Fallback analytics -->
		<noscript>
	<img src="https://analytics.dash.org/piwik.php?idsite=1&amp;rec=1" style="border:0" alt="" />
</noscript>


		<!-- JavaScript -->
		<script src="//cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js" integrity="sha384-MYg5v6RiLsgqDiKOs6hcDXVblLg+Ls5F/jimSFosIUeDjW5VYViY1eMBMazbV5Mr" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" integrity="sha384-CgeP3wqr9h5YanePjYLENwCTSSEz42NJkbFpAFgHWQz7u3Zk8D00752ScNpXqGjS" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js" integrity="sha384-dfOR5hjVOg6B2OvgyHIS71mJWX5TgNQeFGo5cNNVglSep7ZvYcByrpEya6xbwwyB" crossorigin="anonymous"></script>
		<script src="/assets/js/main.min.js"></script>
		<script>
  window.globals = {
	siteApi : "/api/v1"
  };
</script>


	</body>
</html>
