<!doctype html>
<html lang="ru">
	<head>
		<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->







		<meta charset="UTF-8">
		<title>Dash - Официальный Сайт | Криптовалюта Dash &mdash; Dash</title>
		<meta name="description" content="Dash - это Цифровая Наличность">

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
		<link rel="alternate" type="application/rss+xml" title="Dash Blog" href="/rss/dash_blog_rss.xml">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" type="text/css" href="/assets/css/main.min.css">
		<!-- Analytics -->
		<script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
		var u="//analytics.dash.org/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', '1']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();
</script>

	</head>

	<body>

		<div class="hero hero--home" id="hero">
	<div class="hero__background">
		<img src="/assets/img/resized/hero/home.jpg-3ccf164/800x515.jpg" srcset="/assets/img/resized/hero/home.jpg-3ccf164/1920x1236.jpg 1920w, /assets/img/resized/hero/home.jpg-3ccf164/1280x824.jpg 1280w, /assets/img/resized/hero/home.jpg-3ccf164/1024x659.jpg 1024w, /assets/img/resized/hero/home.jpg-3ccf164/1600x1030.jpg 1600w, /assets/img/resized/hero/home.jpg-3ccf164/800x515.jpg 800w" sizes="100vw, 100vw, 100vw, 100vw" class="hero__background-image" />

	</div>

	<!-- Navigation -->
	<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->








<!--
    To change the logo color, pass the parameter in the include.
    include nav-desktop.html logo-color="blue"
-->



<button class="burger" type="button" data-js-open-menu aria-label="Menu" aria-controls="overlaynavigation" aria-expanded="false"><div class="burger__burger"></div></button>

<header id="top" class="content">

    <a href="/ru/" class="logo"><img class="logo__img" src="/assets/img/logo-white.png" alt="Dash"></a>
    <nav class="nav nav--white">
        <ul class="nav__list">
            <li class="nav__item"><a href="/ru/get-dash/" class="nav__link">Получить Dash</a></li>
			<li class="nav__item"><a href="/ru/merchants/" class="nav__link">Товары и Услуги</a></li>
			<li class="nav__item"><a href="/ru/network/" class="nav__link">Сеть</a></li>
			<li class="nav__item"><a href="/ru/community/" class="nav__link">Сообщество</a></li>
			<li class="nav__item"><a href="/ru/team/" class="nav__link">Команда</a></li>
			<li class="nav__item"><a href="/ru/blog/" class="nav__link">Блог</a></li>
			<li class="nav__item"><a href="/ru/evolution/" class="nav__link">Эволюция</a></li>
            
            <li class="nav__item nav__item--languages">
                <a href="#" class="nav__link" style="text-transform:uppercase;"><span class="flag ru"></span></a>
                <ul class="nav__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="nav__subitem">
                        <a href="/" class="nav__link ">English <span class="flag gb"></span></a>
                    </li>
                    <li class="nav__subitem">
                       <a href="/es/" class="nav__link ">Español <span class="flag es"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/fr/" class="nav__link ">Français <span class="flag fr"></span></a>
                    </li>
                     <li class="nav__subitem">
                        <a href="/pt/" class="nav__link ">Portugese <span class="flag pt"></span></a>
                    </li>
                    <!--<li class="nav__subitem">-->
                    <!--    <a href="/it/" class="nav__link ">Italiano <span class="flag it"></span></a>-->
                    <!--</li>-->
                    <li class="nav__subitem">
                        <a href="/cn/" class="nav__link ">简体中文 <span class="flag cn"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/ru/" class="nav__link is-active">Русский <span class="flag ru"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/jp/" class="nav__link ">日本語 <span class="flag jp"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/kr/" class="nav__link ">한국어<span class="flag kr"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/de/" class="nav__link ">Deutsch<span class="flag de"></span></a>
                    </li>
                </ul>
            </li>
            

           <!--  <li class="nav__item nav__item--search"><a href="/ru" class="nav__link" title="Поиск">S</a></li> -->
        </ul>
    </nav>

</header>

	<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href=".././assets/css/style.css"
-->








	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">Dash - это Цифровая Наличность</h1>
		<p class="hero__lead">Передовая денежная платёжная система.<br />Встречайте Цифровую Наличность.</p>

		<div class="hero__buttons">
			<a href="/ru/get-dash/" class="btn-blue-solid btn-large">Получить Dash</a>
			<a href="/ru/wallets/" class="btn-blue-solid btn-large">Все кошельки</a>
		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>


<div class="page page--home">

	<!--
		WHAT IS DASH?
		LINK TO VIDEO.
	-->
	<section class="section section--home-cta">
		<div class="section__content">
				<h2 class="section__title">Dash - это Цифровая Валюта, которую можно использовать в Интернете</h2>
				<div class="section__lead"><p>Используйте Dash для мгновенных и приватных платежей в Интернете и в реальном мире с помощью безопасного ПО с открытым исходным кодом, которое работает на базе платёжной платформы, поддерживаемой тысячами пользователей по всему миру.</p>
</div>

				<div class="section__btn-grp">
					<a href="https://www.youtube.com/watch?v=IfLJx8Bdu8U" class="btn-blue btn-large" target="_blank" data-js-popup="video" data-lang="ru">Ознакомительное Видео</a>
					<a href="/ru/get-dash/" class="btn-blue-solid btn-large">Скачать Кошелёк</a>
				</div>
		</div>
	</section>

	<!--
		MERCHANTS
	-->
	<section>
		<div class="content">
			<div>
				<h2>Расплачивайтесь напрямую с помощью Dash</h2>

				<p>Мгновенные приватные платежи, напрямую из вашего кошелька Dash</p>

			</div>

			<div class="ctabox ctabox--gray-light-bg" data-js-ctabox>
				<div class="ctabox__inner">
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://shakepay.co" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/shakepay_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Shake Pay</h4>
								<p class="ctabox__description">Dash-Visa Debit Card</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.livingroomofsatoshi.com/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/livingroomofsatoshi_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
							<h4 class="ctabox__title">Living Room of..</h4>
							<p class="ctabox__description">Pay bills in Australia</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.claws-mail.org/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/ClawsMail.jpg" class="ctabox__image">
							</div>
							<div class="ctabox__text">
							<h4 class="ctabox__title">ClawsMail</h4>
							<p class="ctabox__description">Secure, Private VPN</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://node40.com" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/node40.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Node40</h4>
								<p class="ctabox__description">Masternode Hosting</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://shapeshift.io" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/shapeshift_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">ShapeShift</h4>
								<p class="ctabox__description">Exchange Dash for Bitcoin</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.qhoster.com/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/qhoster.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
							<h4 class="ctabox__title">Qhoster</h4>
							<p class="ctabox__description">Quality Hosting</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="http://www.isg3d.com/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/isg3d_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">ISG3D</h4>
								<p class="ctabox__description">3D Printing Services</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.coaex.com" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/coaex_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">CoaEX</h4>
								<p class="ctabox__description">Precious Metals</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="http://bravenewbookstore.com/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/bravenewbooks_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">BraveNewBooks</h4>
								<p class="ctabox__description">Book Store</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://giftoff.com/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/giftoff_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">GiftOff</h4>
								<p class="ctabox__description">Gift Cards</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://key4co.in" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/key4coin_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Key4Coin</h4>
								<p class="ctabox__description">Game Keys</p>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://misconductwineco.com/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/merchants/misconductwine_logo.jpg" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Misconduct Wine</h4>
								<p class="ctabox__description">Premium micro-lot wines</p>
							</div>
						</a>
					</article>
				</div>
			</div>

			<div>
				<a href="/merchants/" target="_blank" class="btn-blue">Больше точек продаж</a>
				<a href="https://dashpay.atlassian.net/wiki/display/DOC/Merchant+Directory+Listing" target="_blank" class="btn-blue">Принимайте платежи в Dash</a>
			</div>
		</div>
	</section>

	<!--
		DASH FEATURES
		PRIVATE | INSTANT | SECURE
	-->
	<section>
		<div class="content">
			<div class="row features-collection">
				<div class="col-sm-4">
					<img src="/assets/img/home/instant.svg" height="100" alt="Мгновенный">
					<h2>Мгновенный</h2>
					<p>Ваше время имеет ценность. InstantSend подтверждает платежи менее чем за секунду.</p>

				</div>
				<div class="col-sm-4">
					<img src="/assets/img/home/private.svg" height="100" alt="Приватный">
					<h2>Приватный</h2>
					<p>Защитите свою финансовую информацию.  PrivateSend обеспечивает приватность ваших финансовых операций и остатков на счетах.</p>

				</div>
				<div class="col-sm-4">
					<img src="/assets/img/home/secure.svg" height="100" alt="Безопасный">
					<h2>Безопасный</h2>
					<p>Безопасность, на которую можно положиться. Транзакции подтверждаются вычистительной мощностью более 1.000 Gigahash X11 ASIC-майнеров и сетью из более чем 4.100 серверов, хостящихся по всему миру.</p>

				</div>
			</div>
		</div>
	</section>

	<!--
		NETWORK ARCHITECTURE
	-->
	<section class="section--masternode">
		<div class="content">
			<div class="row">
				<div class="col-sm-6">
					<h2>P2P Сеть Следующего Поколения</h2>

					<p>Основа технологии Dash - уникальная двухуровневая P2P сетевая архитектура со встроенной системой поощрений. Майнеры поощряются за обеспечение безопасности блокчейна, а сетевые узлы (Мастерноды) вознаграждаются за проверку, хранение и предоставление блокчейна пользователям.</p>

<p>Мастерноды формируют новый сетевой уровень из серверов, работающих сообща друг с другом в кластерах, называемых кворумами. В результате, это обеспечивает работу новых видов децентрализованных сервисов, таких как мгновенные транзакции, приватность и децентрализованное управление. При этом, эти системы защищены от угроз соответствующих атак на сеть.</p>


					<a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=8585240" target="_blank" class="btn-blue">Узнайте больше</a>
				</div>
				<div class="col-sm-6 home-architecture-graphic">
					<img src="/assets/img/home/globe.png" alt="P2P Сеть Следующего Поколения">
				</div>
			</div>
		</div>
	</section>

	<!--
		SELF GOVERNING | SELF FUNDING
	-->
	<section>
		<div class="content">
			<div class="row">
				<div class="col-sm-6 col-sm-push-6">
					<h2>Первый в мире протокол Самоуправления и Самофинансирования</h2>

					<p>Все имеют возможность предложить свои собственные проекты напрямую сети Dash. Любые ваши усилия, способные помочь Dash расти и развиваться - от маркетинга до разработки - могут быть профинансированы. Это означает, что Dash фанансирует своё собственное развитие, достижение консенсуса в сети гарантировано (через голосование), а система открыта для новых участников. При этом голос каждого имеет значение.</p>

<p>Просто разместите своё бюджетное предложение для Сокровищницы и презентуйте его детали, чтобы заручиться поддержкой сети, получить финансирование и реализовать задуманное. Если же вы являетесь оператором Мастерноды - голосуйте по предложенным бюджетным предложениям!</p>


					<a href="http://dashvotetracker.com/" target="_blank" class="btn-blue">Предложения</a>

					<a href="https://dashcentral.org/" target="_blank" class="btn-blue">Разместите Предложение</a>
				</div>
				<div class="col-sm-6 col-sm-pull-6 home-budgets-graphic">
					<img src="/assets/img/home/budgets.png" alt="Первый в мире протокол Самоуправления и Самофинансирования">
				</div>
			</div>
		</div>
	</section>

	<!--
		FASTEST GROWING NETWORK
	-->
	<section>
		<div class="content">
			<div class="row">
				<div class="col-sm-6">
					<h2>Самая Быстро Растущая Сеть</h2>

					<p>Благодаря встроенной системе поощрений, сеть Dash выросла уже до 4.100 Мастернод с момента своего запуска в 2014 году, став таким образом одной из крупнейших в мире peer-to-peer сетей.</p>

<p>Большое число сетевых узлов на практике означает большую защищенность сервисов и большие возможности для конечных пользователей в получении доступа к Цифровой Наличности из любой точки мира, круглосуточно и гарантированно.</p>


					<a href="/ru/network" class="btn-blue">Статистика Сети</a>
				</div>
				<!--div class="col-sm-6 home-network-graphic">
					<img src="/assets/img/home/graph.png" alt="Самая Быстро Растущая Сеть">
				</div-->
				<div class="col-sm-6 home-network-graphic-live">
					<img src="/assets/img/masternode_count-crop-813x525.png" alt="Самая Быстро Растущая Сеть">
				</div>
			</div>
		</div>
	</section>

	<!--
		EVOLUTION
	-->
	<section>
		<div class="content">
			<div class="row">
				<div class="col-sm-6 col-sm-push-6">
					<h2>Эволюция Цифровых Денег</h2>

					<p>Что же дальше? Мы хотим, чтобы цифровая валюта стала настолько простой в использовании, что даже ваша бабушка захотела бы пользоваться ей.</p>

<p>Dash Evolution позволит любому зарегистрировать свой аккаунт Dash и использовать его с помощью любых устройств так же просто, как при использовании PayPal, но при этом абсолютно децентрализованным образом. Следите за нашими новостями…</p>

					<a href="/ru/evolution/" target="_blank" class="btn-blue">Узнать больше</a>
				</div>
				<div class="col-sm-6 col-sm-pull-6 home-evolution-graphic">
					<img src="/assets/img/home/evo.png" alt="Dash Evolution">
				</div>
			</div>
		</div>
	</section>

	<!--
		LATEST NEWS
	-->
	<section class="home-latest-news">
		<div class="content">
			<h2>Последние новости</h2>

			<div class="row">
				
				<div class="col-sm-6 col-md-3">
					<div class="news-post">
						<a href="/ru/2017/02/07/12-1SupportPartyVideo.html">
							<div class="news-image">
								
									<img src="/assets/img/blog/2017-02-07-12-1SupportPartyVideo.png">
								
							</div>
							<div class="news-body">
								<h3 class="news-title">Помощь в запуске 12.1, новости про Apple-Jaxx, девушки из разных стран и т.д.</h3>
								<div class="date">Feb 07, 2017</div>
								<p>


&nbsp;
&nbsp;
&nbsp;
&nbsp;
</p>
							</div>
						</a>
					</div>
				</div>
				
				<div class="col-sm-6 col-md-3">
					<div class="news-post">
						<a href="/ru/%D0%9E%D0%B1%D1%89%D0%B8%D0%B5%20%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D0%B8/2016/07/08/d1-84-d0-be-d1-80-d0-ba-ethereum-d0-b8-d1-80-d0-b0-d0-b7-d0-bc-d0-b5-d1-80-d0-b1-d0-bb-d0-be-d0-ba-d0-b0-bitcoin-d1-80-d0-b0-d0-b7-d0-bd-d1-8b-d0-b5-d0-b4-d1-80-d0-b0-d0-bc-d1-8b-d0-be-d0-b4.html">
							<div class="news-image">
								
							</div>
							<div class="news-body">
								<h3 class="news-title">Форк Ethereum и размер блока Bitcoin - разные драмы, одна причина - "Подробноcти о DASH"</h3>
								<div class="date">Jul 08, 2016</div>
								<p>
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
</p>
							</div>
						</a>
					</div>
				</div>
				
				<div class="col-sm-6 col-md-3">
					<div class="news-post">
						<a href="/ru/%D0%9E%D0%B1%D1%89%D0%B8%D0%B5%20%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D0%B8/%D0%9F%D1%80%D0%B5%D1%81%D1%81-%D1%80%D0%B5%D0%BB%D0%B8%D0%B7%D1%8B/2016/06/30/d0-bf-d0-be-d0-b4-d1-80-d0-be-d0-b1-d0-bd-d0-be-d1-81-d1-82-d0-b8-d0-be-dash-3.html">
							<div class="news-image">
								
							</div>
							<div class="news-body">
								<h3 class="news-title">Подробности о DASH #3</h3>
								<div class="date">Jun 30, 2016</div>
								<p>3-ий выпуск "Подробности о DASH" c Амандой и Русскими субтитрами. "Запуск Мастернод, Покупка долей и Сберегательные криптовалютные депозиты»

&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
</p>
							</div>
						</a>
					</div>
				</div>
				
				<div class="col-sm-6 col-md-3">
					<div class="news-post">
						<a href="/ru/%D0%91%D0%B8%D0%B7%D0%BD%D0%B5%D1%81%D1%81%20%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D0%B8/%D0%9C%D0%BD%D0%B5%D0%BD%D0%B8%D1%8F/2016/06/29/d0-be-d0-b1-d0-bd-d0-be-d0-b2-d0-bb-d1-91-d0-bd-d0-bd-d1-8b-d0-b9-android-d0-ba-d0-be-d1-88-d0-b5-d0-bb-d1-91-d0-ba-dash-d1-81-d0-bd-d0-be-d0-b2-d1-8b-d0-bc-d0-b4-d0-b8-d0-b7-d0-b0-d0-b9-d0-bd.html">
							<div class="news-image">
								
							</div>
							<div class="news-body">
								<h3 class="news-title">Обновлённый Android-кошелёк Dash с новым дизайном теперь (после тестирования) доступен для скачивания в GooglePlay.</h3>
								<div class="date">Jun 29, 2016</div>
								<p>https://play.google.com/store/apps/details?id=hashengineering.darkcoin.wallet
  
&nbsp;
&nbsp;
&nbsp;
</p>
							</div>
						</a>
					</div>
				</div>
				
			</div>

			<div>
				<a href="/ru/blog/" class="btn-blue">Посмотреть все новости</a>
			</div>
		</div>
	</section>

	<!--
		GET STARTED
	-->
	<section class="home-get-started-cta">
		<div class="content">
			<h2>Начать использование</h2>

			<p>Скачайте Кошелёк и начните использовать Цифровую Наличность!</p>


			<a href="/ru/get-dash/" class="btn-white-solid">Получить Dash</a>

			<img src="/assets/img/home/macbook.png" alt="">
		</div>
	</section>

</div>


		<!-- Footer -->
		<footer class="footer">
			<nav class="footer__nav content">
  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Получить Dash
    <ul>
        <li><a href="/ru/get-dash/">Скачать Кошелёк</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=48693287" target="_blank">Купить Dash</a></li>
        <li><a href="/ru/merchants/">Потратить Dash</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Debit+Cards" target="_blank">Пластиковые карты Dash</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Участвовать
    <ul>
        <li><a href="/ru/mining/" >Заняться Майнингом</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/1146943/Masternodes" target="_blank">Запустить Мастерноду</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146941" target="_blank">Установить Кошелёк</a></li>
        <li><a href="/ru/governance/">Запросить Финансирование</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Сеть
    <ul>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/48693298/Exchanges" target="_blank">Обменные Сервисы</a></li>
        <li><a href="/ru/governance/">Система Управления</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/x/CwDeAQ" target="_blank">Мониторинг Блокчейна</a></li>
        <li><a href="http://178.254.23.111/~pub/Dash/Dash_Info.html" target="_blank">Статистика Сети</a></li>
        <li><a href="/ru/exchanges/" >Full list of Exchanges</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Сообщество
    <ul>
        <li><a href="/ru/community/#discussion">Обсуждение</a></li>
        <li><a href="/ru/community/#social">Социальные Сети</a></li>
        <li><a href="/ru/community/#news">Новости и Информация</a></li>
        <li><a href="/ru/community/#development">Средства Разработки</a></li>
        <li><a href="/ru/community/#masternodes">Инструменты для Мастернод</a></li>
        <li><a href="/ru/legal/">Legal</a></li>
        <li><a href="/ru/graphics/">Graphics</a></li>
        <li><a href="/ru/merchandise/">Merchandise</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Проект
    <ul>
        <li><a href="https://www.dash.org/forum/categories/dash-support.61/" target="_blank">Помощь и Поддержка</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146914" target="_blank">Информация о Проекте</a></li>
        <li><a href="/ru/team/">Команда</a></li>
        <li><a href="/ru/update/">Обновление</a></li>
        <li><a href="https://www.dashfoundation.io/" target="_blank">Foundation</a></li>
        <li><a href="/ru/contact/">Контакты</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Site+map" target="_blank">Wiki</a></li>
        <li><a href="/ru/school/">School</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Соцсети
    <ul class="footer__social">
        <li><a href="/forum/" target="_blank">Dash forums</a></li>
        <li><a href="/ru/blog/">Блог</a></li>
        <li><a href="https://www.reddit.com/r/dashpay" target="_blank">Reddit</a></li>
        <li><a href="https://twitter.com/dashpay" target="_blank">Twitter</a></li>
        <li><a href="https://www.youtube.com/channel/UCAzD2v9Yx4a4iS2_-unODkA" target="_blank">YouTube</a></li>
        <li><a href="https://plus.google.com/u/0/communities/101869723775111070721/stream/03b94d84-f61a-49f2-bb7d-9ac82e1ed7f2" target="_blank">Google+</a></li>
        <li><a href="https://www.linkedin.com/groups?home=&gid=8179817&trk=groups_most_recent-h-logo&goback=%2Egmp_8179817" target="_blank">LinkedIn</a></li>
        <li><a href="https://facebook.com/dashpay" target="_blank">Facebook</a></li>
        <li><a href="https://github.com/dashpay/dash" target="_blank">GitHub</a></li>
    </ul>
  </section>
</nav>
<div class="footer__menu content">
  <div class="footer__languagePicker"></div>
  <a href="/ru/terms-of-use/">Условия использования</a>
  <a href="/sitemap.xml">Карта сайта</a>
  <a href="https://github.com/dashpay/dash-website" target="_blank">Исходный код</a>
  <a href="/ru/contact/">Контакты</a>
</div>
<div class="footer__legal">
  <div class="content">
    <span class="footer__copyright">&copy; 2018 The Dash Network</span>
    <!-- <a href="#">Github Source</a> -->
  </div>
</div>

		</footer>

		<!-- Mobile Nav -->
		<div class="overlay" id="overlay" data-js-overlay-menu>
			<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href=".././assets/css/style.css"
-->








<nav class="overlay-menu" id="overlaynavigation" aria-hidden="true">

    <div class="overlay-menu__nav">
        <a href="/" class="overlay-menu__logo">
            <img src="/assets/img/logo-white.png" alt="Dash" class="logo">
        </a>
        <ul class="overlay-menu__list">
            <li class="overlay-menu__item"><a href="/ru/get-dash/" class="overlay-menu__link">Получить Dash</a></li>
            <li class="overlay-menu__item"><a href="/ru/merchants/" class="overlay-menu__link">Товары и Услуги</a></li>
            <li class="overlay-menu__item"><a href="/ru/network/" class="overlay-menu__link">Сеть</a></li>
            <li class="overlay-menu__item"><a href="/ru/community/" class="overlay-menu__link">Сообщество</a></li>
            <li class="overlay-menu__item"><a href="/ru/team/" class="overlay-menu__link">Команда</a></li>
            <li class="overlay-menu__item"><a href="/ru/blog/" class="overlay-menu__link">Блог</a></li>
            <li class="overlay-menu__item"><a href="/ru/evolution/" class="overlay-menu__link">Эволюция</a></li>
            
            <li class="overlay-menu__item overlay-menu__item--languages">
                <ul class="overlay-menu__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="overlay-menu__subitem">
                        <a href="/" class="overlay-menu__link "><span class="flag us"></span> English</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/es/" class="overlay-menu__link "><span class="flag es"></span> Español</a>
                    </li>
                    <li class="overlay-menu__subitem">
                        <a href="/fr/" class="overlay-menu__link "><span class="flag fr"></span> Français</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/pt/" class="overlay-menu__link "><span class="flag pt"></span> Portugese</a>
                    </li>
                    <!--<li class="overlay-menu__subitem">-->
                    <!--    <a href="/it/" class="overlay-menu__link "><span class="flag it"></span> Italiano</a>-->
                    <!--</li>-->
                    <li class="overlay-menu__subitem">
                    <a href="/cn/" class="overlay-menu__link "><span class="flag cn"></span> 简体中文</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/ru/" class="overlay-menu__link is-active"><span class="flag ru"></span> Русский</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/jp/" class="overlay-menu__link "><span class="flag jp"></span>日本語</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/kr/" class="overlay-menu__link "><span class="flag kr"></span>한국어</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/de/" class="overlay-menu__link "><span class="flag de"></span>Deutsch</a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>

</nav>

		</div>

		<!-- Fallback analytics -->
		<noscript>
	<img src="https://analytics.dash.org/piwik.php?idsite=1&amp;rec=1" style="border:0" alt="" />
</noscript>


		<!-- JavaScript -->
		<script src="//cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js" integrity="sha384-MYg5v6RiLsgqDiKOs6hcDXVblLg+Ls5F/jimSFosIUeDjW5VYViY1eMBMazbV5Mr" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" integrity="sha384-CgeP3wqr9h5YanePjYLENwCTSSEz42NJkbFpAFgHWQz7u3Zk8D00752ScNpXqGjS" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js" integrity="sha384-dfOR5hjVOg6B2OvgyHIS71mJWX5TgNQeFGo5cNNVglSep7ZvYcByrpEya6xbwwyB" crossorigin="anonymous"></script>
		<script src="/assets/js/main.min.js"></script>
		<script>
  window.globals = {
	siteApi : "/api/v1"
  };
</script>


	</body>
</html>
