<!doctype html>
<html lang="es">
	<head>
		<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->







		<meta charset="UTF-8">
		<title>Sitio Web Oficial de Dash | Dash Criptodivisa &mdash; Dash</title>
		<meta name="description" content="Dash es Dinero Digital">

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
		<link rel="alternate" type="application/rss+xml" title="Dash Blog" href="/rss/dash_blog_rss.xml">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" type="text/css" href="/dist/css/main.min.css">
		<!-- Analytics -->
		<script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
		var u="//analytics.dash.org/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', '1']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();
</script>

	</head>

	<body>

		<div class="hero" id="hero">
	<div class="hero__background">
		<img src="/assets/img/resized/hero/home.jpg-3ccf164/800x515.jpg" srcset="/assets/img/resized/hero/home.jpg-3ccf164/1920x1236.jpg 1920w, /assets/img/resized/hero/home.jpg-3ccf164/1280x824.jpg 1280w, /assets/img/resized/hero/home.jpg-3ccf164/1024x659.jpg 1024w, /assets/img/resized/hero/home.jpg-3ccf164/1600x1030.jpg 1600w, /assets/img/resized/hero/home.jpg-3ccf164/800x515.jpg 800w" sizes="100vw, 100vw, 100vw, 100vw" class="hero__background-image" />

	</div>

	<!-- Navigation -->
	<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->








<!--
    To change the logo color, pass the parameter in the include.
    include nav-desktop.html logo-color="blue"
-->



<button class="burger" type="button" data-js-open-menu aria-label="Menu" aria-controls="overlaynavigation" aria-expanded="false"><div class="burger__burger"></div></button>

<header id="top" class="content">

    <a href="/es/" class="logo"><img class="logo__img" src="/assets/img/logo-white.png" alt="Dash"></a>
    <nav class="nav nav--white">
        <ul class="nav__list">
            <li class="nav__item"><a href="/es/get-dash/" class="nav__link">Obtenga Dash</a></li>
			<li class="nav__item"><a href="/es/merchants/" class="nav__link">Comercios</a></li>
			<li class="nav__item"><a href="/es/network/" class="nav__link">Moneda</a></li>
			<li class="nav__item"><a href="/es/community/" class="nav__link">Comunidad</a></li>
			<li class="nav__item"><a href="/es/team/" class="nav__link">Equipo</a></li>
			<li class="nav__item"><a href="/es/blog/" class="nav__link">Blog</a></li>
			<li class="nav__item"><a href="/es/evolution/" class="nav__link">Evolution</a></li>
            
            <li class="nav__item nav__item--languages">
                <a href="#" class="nav__link" style="text-transform:uppercase;"><span class="flag es"></span></a>
                <ul class="nav__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="nav__subitem">
                        <a href="/update/" class="nav__link ">English <span class="flag gb"></span></a>
                    </li>
                    <li class="nav__subitem">
                       <a href="/es/update/" class="nav__link is-active">Español <span class="flag es"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/fr/update/" class="nav__link ">Français <span class="flag fr"></span></a>
                    </li>
                     <li class="nav__subitem">
                        <a href="/pt/update/" class="nav__link ">Portugese <span class="flag pt"></span></a>
                    </li>
                    <!--<li class="nav__subitem">-->
                    <!--    <a href="/it/update/" class="nav__link ">Italiano <span class="flag it"></span></a>-->
                    <!--</li>-->
                    <li class="nav__subitem">
                        <a href="/cn/update/" class="nav__link ">简体中文 <span class="flag cn"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/ru/update/" class="nav__link ">Русский <span class="flag ru"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/jp/update/" class="nav__link ">日本語 <span class="flag jp"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/kr/update/" class="nav__link ">한국어<span class="flag kr"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/de/update/" class="nav__link ">Deutsch<span class="flag de"></span></a>
                    </li>
                </ul>
            </li>
            

           <!--  <li class="nav__item nav__item--search"><a href="/es" class="nav__link" title="Buscar">S</a></li> -->
        </ul>
    </nav>

</header>

	<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->








	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">Actualización 12.1</h1>
		<p class="hero__lead">Estamos lanzando una nueva actualización de software para la red. Todos necesitan actualizarse a la nueva versión, incluyendo usuarios comunes, pools, mineros, y nodos maestros. Todas las propuestas al presupuesto (Budget) también deberán ser re-cargadas al sistema. Nota - "Enforcement" será apagado durante esta actualización, así que los Nodos Maestros que no se actualicen dejarán de recibir pagos.</p>
		<div class="hero__buttons">
			<a href="/es/get-dash/" class="btn-blue-solid btn-large">Fecha de lanzamiento: Febrero 5, 2017
</a>
		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>

<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->









<div class="page page--home">

	<!--
		WHAT IS DASH?
		LINK TO VIDEO.
	-->
	<section class="section section--home-cta">
		<div class="section__content">
			<h2 class="section__title">Dash es dinero en efectivo digital que puede gastar en línea</h2>
			<div class="section__lead"><p>Use Dash para hacer pagos instantáneos y privados en línea o en tiendas físicas, usando nuestra segura plataforma de código abierto, mantenida por miles de usuarios alrededor del mundo</p>
</div>

			<div class="section__btn-grp">
				<a href="https://youtu.be/S0oNO3mbBE8" class="btn-blue btn-large" target="_blank" data-js-popup="video">Descripción general en video</a>
				<a href="/es/get-dash/" class="btn-blue-solid btn-large">Descargue el Monedero</a>
			</div>
		</div>
	</section>

	<!--
		MERCHANTS
	-->
	<section class="b-get-section">
		<div class="content">
			<img src="/assets/img/update/woocommerce.png" alt="">
			<h2>Por favor revíse los detalles de la actualización obligatoria</h2>

			<p><p>Todos los Mineros, Pools, Monederos, Casas de Cambio, Comerciantes…  se les solicita actualizarse</p>
</p>
			<div>
				<a href="https://dashpay.atlassian.net/wiki/x/j5AxBg" class="btn-white-solid" target="_blank">Pools</a>
				<a href="https://dashpay.atlassian.net/wiki/x/HJQ4Bg" class="btn-white-solid" target="_blank">Nodos Maestros</a>
				<a href="https://dashpay.atlassian.net/wiki/x/yJAxBg" class="btn-white-solid" target="_blank">Casas de Cambio</a>
			</div>

		</div>
	</section>

	<!--
		PROPOSAL
	-->
	<section>
		<div class="content">
			<div>
				<h2>Servicio Automatizado de Propuestas</h2>
				<img src="/assets/img/update/Voting.png" alt="">
			</div>



			<div>
				<a href="https://proposal.dash.org/" target="_blank" class="btn-blue">Propuestas</a>
			</div>
		</div>
	</section>

	<!--
		DASH FEATURES
		PRIVATE | INSTANT | SECURE
	-->
	<section>
		<div class="content">
			<div class="row features-collection">
				<div class="col-sm-4">
					<img src="/assets/img/home/instant.svg" height="100" alt="Instantáneo">
					<h2>Instantáneo</h2>
					<p>Dash es instantáneo</p>

				</div>
				<div class="col-sm-4">
					<img src="/assets/img/home/private.svg" height="100" alt="Privado">
					<h2>Privado</h2>
					<p>Dash es privado</p>

				</div>
				<div class="col-sm-4">
					<img src="/assets/img/home/secure.svg" height="100" alt="Seguro">
					<h2>Seguro</h2>
					<p>Dash es seguro</p>

				</div>
			</div>
		</div>
	</section>

	<!--
		NETWORK ARCHITECTURE
	-->
	<section class="section--colored">
		<div class="content">
			<div class="row">
				<div class="col-sm-6">
					<h2>¿Qué es Evolution?</h2>

					<p>Dash Evolution dejará atrás toda la complejidad de las monedas digitales, haciendo que pagar con Dash sea tan fácil como pagar con PayPal. La ventaja es que, a diferencia de PayPal, Dash Evolution será completamente decentralizado y sin fines de lucro.</p>


					<a href="https://dashpay.atlassian.net/wiki/x/DQBcAg" target="_blank" class="btn-white-solid">Conozca más</a>
				</div>
				<div class="col-sm-6 home-architecture-graphic">
					<img src="/assets/img/update/execution.png" alt="">
				</div>
			</div>
		</div>
	</section>

	<!--
		SELF GOVERNING | SELF FUNDING
	-->
	<section>
		<div class="content">
			<div class="row">
				<div class="col-sm-6 col-sm-push-6">
					<h2>Sentinel</h2>

					<p>Una herramienta todopoderosa para Dash La nueva tecnología Sentinel de Dash es el motor que da poder a Dash Evolution. Es extremadamente poderosa y flexible, lo que permitirá actualizaciones mucho más fáciles. Adicionalmente, Sentinel puede ser usado para crear numerosas aplicaciones que correrán en la red. Es posible crear compañías digitales, por ejemplo, usando Sentinel.</p>


				</div>
				<div class="col-sm-6 col-sm-pull-6 ">
					<img src="/assets/img/update/updateevo.png" alt="Sentinel">
				</div>
			</div>
		</div>
	</section>

	<!--
		FASTEST GROWING NETWORK
	-->
	<section>
		<div class="content">
			<div class="row">
				<div class="col-sm-6">
					<h2>INVESTIGACIÓN EVOLUTION</h2>

					<p>En Enero del 2016 liberamos un prototipo de Evolution basado en la monedero Electrum. Desde entonces, hemos creado enormes cantidades de documentación y definido completamente los objetivos de diseño y comenzamos a implementarlos.
El prototipo era bastante sencillo, con la interacción limitada únicamente a pagarle a algunos amigos y los datos de los usuarios alojados en un servidor de desarrollo, pero al menos probó el concepto. Lo que nos dispusimos a hacer entonces fue diseñar y probar todas las tecnologías clave que permitieran llevar a cabo todas estas funciones de un modo P2P puro, con los datos seguros en el blockchain de Dash y siempre accesible desde cualquier lugar con cualquier dispositivo, con seguridad SPV integrada y sin la necesidad de servicios intermediarios centralizados, además de usar el protocolo más resistente a la censura disponible – HTTP(S)</p>


					<a href="/es/network" class="btn-blue">Estadísticas de la Red</a>
				</div>
				<div class="col-sm-6 home-network-graphic-live">
					<img src="/assets/img/update/research.png" alt="">
				</div>
			</div>
		</div>
	</section>


	<!--
		EVOLUTION
	-->
	<section>
		<div class="content">
			<div class="row">
				<div class="col-sm-6 col-sm-push-6">

					<h2>FECHAS DE LANZAMIENTOS</h2>
					<p>El lanzamiento de un nuevo software en la red requiere que todas las propuestas al Presupuesto sean cargadas nuevamente al sistema.
Debido a la frecuencia de emisión de superbloques, tenemos una breve ventana de tiempo para los lanzamientos, cerca del inicio de cada mes. Para poder asegurar que lancemos la versión del software más estable posible sin interferir con el sistema de presupuesto, nos gustaría esperar hasta Febrero para el lanzamiento de la versión 12.1. Fecha de lanzamiento: Febrero 5, 2017.</p>

					<a href="http://dashvotetracker.com" target="_blank" class="btn-blue">Presupuesto</a>

				</div>
				<div class="col-sm-6 col-sm-pull-6 home-evolution-graphic">
					<img src="/assets/img/update/lan_date.png" alt="Dash Evolution">
				</div>
			</div>
		</div>
	</section>

	<!--
		LATEST NEWS
	-->
	<section class="home-latest-news">
		<div class="content">
			<h2>Últimas noticias</h2>

			<div class="row">
				
				<div class="col-sm-6 col-md-3">
					<div class="news-post">
						<div class="news-image">
							
						</div>
						<div class="news-body">
							<h3 class="news-title">Ethereum Tenedor y de Bitcoin Tamaño de bloque: Diferentes dramas, misma causa | DASH: Detallado</h3>
							<div class="date">Jul 13, 2016</div>
							<p>
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
</p>
							<a class="read-more" href="/es/general%20@es/opini%C3%B3n%20@es/2016/07/13/ethereum-tenedor-y-de-bitcoin-tamano-de-bloque-diferentes-dramas-misma-causa-dash-detallado.html">Read More...</a>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6 col-md-3">
					<div class="news-post">
						<div class="news-image">
							
						</div>
						<div class="news-body">
							<h3 class="news-title">¿Cómo funciona la DAO de Dash? | DASH: En detalle</h3>
							<div class="date">Jun 24, 2016</div>
							<p>¿Qué es un “organismo autónomo descentralizado? ¿Cómo funciona Dash, qué hace, y quién puede unirse? Te pueden sorprender las respuestas. Únete a Amanda B. Johnson en este segundo episodio de DASH: En detalle.
¡Suscríbete para recibir esta serie d...</p>
							<a class="read-more" href="/es/general%20@es/opini%C3%B3n%20@es/2016/06/24/como-funciona-la-dao-de-dash-dash-en-detalle.html">Read More...</a>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6 col-md-3">
					<div class="news-post">
						<div class="news-image">
							
						</div>
						<div class="news-body">
							<h3 class="news-title">Lo que se interpone entre Digital Moneda &amp; 'adopción masiva'? | DASH: Detallado</h3>
							<div class="date">Jun 22, 2016</div>
							<p>No sólo ha sido inventado de "aplicación asesina" moneda digital todavía? O es su aplicación asesina obvia - uhhh, moneda - simplemente no pero accesibles suficiente para que el experto no irritable? Amanda B. Johnson habla de lo que tu mamá tiene...</p>
							<a class="read-more" href="/es/general%20@es/2016/06/22/lo-que-se-interpone-entre-digital-moneda-adopcion-masiva-dash-detallado.html">Read More...</a>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6 col-md-3">
					<div class="news-post">
						<div class="news-image">
							
						</div>
						<div class="news-body">
							<h3 class="news-title">Recomendación de seguridad para paper.dash.org</h3>
							<div class="date">Apr 09, 2016</div>
							<p>Hola a todos,
Por desgracia se estropeó el servicio http://paper.dash.org el 4 de enero y el proceso de creación  para generar una cartera ha sido inseguro desde entonces. No hay robos de DASH conocidos que se hayan producido por culpa de este fal...</p>
							<a class="read-more" href="/es/general%20@es/2016/04/09/recomendacion-de-seguridad-para-paper-dash-org.html">Read More...</a>
						</div>
					</div>
				</div>
				
			</div>

			<div>
				<a href="/es/blog/" class="btn-blue">Ver todas las noticias</a>
			</div>
		</div>
	</section>


</div>


		<!-- Footer -->
		<footer class="footer">
			<nav class="footer__nav content">
  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Obtenga Dash
    <ul>
        <li><a href="/es/get-dash/">Descargue el Monedero</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=48693287" target="_blank">Adquiera Dash</a></li>
        <li><a href="/es/merchants/">Compre con Dash</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Debit+Cards" target="_blank">Tarjeta de Débito</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Participar
    <ul>
        <li><a href="/es/mining/" >Comience a Minar</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/1146943/Masternodes" target="_blank">Configure un Nodo Maestro</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146941" target="_blank">Configure un Monedero</a></li>
        <li><a href="/es/governance/">Solicite Financiamiento</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Moneda
    <ul>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/48693298/Exchanges" target="_blank">Mercados de Intercambio</a></li>
        <li><a href="/es/governance/">Gobernanza</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/x/CwDeAQ" target="_blank">Exploradores de Bloques</a></li>
        <li><a href="http://178.254.23.111/~pub/Dash/Dash_Info.html" target="_blank">Estadísticas de la Red</a></li>
        <li><a href="/es/exchanges/" >Lista completa de Exchanges</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Comunidad
    <ul>
        <li><a href="/es/community/#discussion">Discusión</a></li>
        <li><a href="/es/community/#social">Apps sociales</a></li>
        <li><a href="/es/community/#news">Noticias &amp; Información</a></li>
        <li><a href="/es/community/#development">Herramientas de desarrollo</a></li>
        <li><a href="/es/community/#masternodes">Herramientas de los Nodos Maestros</a></li>
        <li><a href="/es/legal/">Legal</a></li>
        <li><a href="/es/graphics/">Gráficos</a></li>
        <li><a href="/es/merchandise/">Merchandise</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Proyecto
    <ul>
        <li><a href="https://www.dash.org/forum/categories/dash-support.61/" target="_blank">Ayuda</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146914" target="_blank">Información</a></li>
        <li><a href="/es/team/">Equipo</a></li>
        <li><a href="/es/update/">Update</a></li>
        <li><a href="https://www.dashfoundation.io/" target="_blank">Fundación</a></li>
        <li><a href="/es/contact/">Contacto</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Site+map" target="_blank">Wiki</a></li>
        <li><a href="/es/school/">Escuela</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Redes Sociales
    <ul class="footer__social">
        <li><a href="/forum/" target="_blank">Dash forums</a></li>
        <li><a href="/es/blog/">Blog</a></li>
        <li><a href="https://www.reddit.com/r/dashpay" target="_blank">Reddit</a></li>
        <li><a href="https://twitter.com/dashpay" target="_blank">Twitter</a></li>
        <li><a href="https://www.youtube.com/channel/UCAzD2v9Yx4a4iS2_-unODkA" target="_blank">YouTube</a></li>
        <li><a href="https://plus.google.com/u/0/communities/101869723775111070721/stream/03b94d84-f61a-49f2-bb7d-9ac82e1ed7f2" target="_blank">Google+</a></li>
        <li><a href="https://www.linkedin.com/groups?home=&gid=8179817&trk=groups_most_recent-h-logo&goback=%2Egmp_8179817" target="_blank">LinkedIn</a></li>
        <li><a href="https://facebook.com/dashpay" target="_blank">Facebook</a></li>
        <li><a href="https://github.com/dashpay/dash" target="_blank">GitHub</a></li>
    </ul>
  </section>
</nav>
<div class="footer__menu content">
  <div class="footer__languagePicker"></div>
  <a href="/es/terms-of-use/">Términos de uso</a>
  <a href="/sitemap.xml">Mapa del sitio web</a>
  <a href="https://github.com/dashpay/dash-website" target="_blank">Source code</a>
  <a href="/es/contact/">Contacto</a>
</div>
<div class="footer__legal">
  <div class="content">
    <span class="footer__copyright">&copy; 2018 The Dash Network</span>
    <!-- <a href="#">Github Source</a> -->
  </div>
</div>

		</footer>

		<!-- Mobile Nav -->
		<div class="overlay" id="overlay" data-js-overlay-menu>
			<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->








<nav class="overlay-menu" id="overlaynavigation" aria-hidden="true">

    <div class="overlay-menu__nav">
        <a href="/" class="overlay-menu__logo">
            <img src="/assets/img/logo-white.png" alt="Dash" class="logo">
        </a>
        <ul class="overlay-menu__list">
            <li class="overlay-menu__item"><a href="/es/get-dash/" class="overlay-menu__link">Obtenga Dash</a></li>
            <li class="overlay-menu__item"><a href="/es/merchants/" class="overlay-menu__link">Comercios</a></li>
            <li class="overlay-menu__item"><a href="/es/network/" class="overlay-menu__link">Moneda</a></li>
            <li class="overlay-menu__item"><a href="/es/community/" class="overlay-menu__link">Comunidad</a></li>
            <li class="overlay-menu__item"><a href="/es/team/" class="overlay-menu__link">Equipo</a></li>
            <li class="overlay-menu__item"><a href="/es/blog/" class="overlay-menu__link">Blog</a></li>
            <li class="overlay-menu__item"><a href="/es/evolution/" class="overlay-menu__link">Evolution</a></li>
            
            <li class="overlay-menu__item overlay-menu__item--languages">
                <ul class="overlay-menu__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="overlay-menu__subitem">
                        <a href="/update/" class="overlay-menu__link "><span class="flag us"></span> English</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/es/update/" class="overlay-menu__link is-active"><span class="flag es"></span> Español</a>
                    </li>
                    <li class="overlay-menu__subitem">
                        <a href="/fr/update/" class="overlay-menu__link "><span class="flag fr"></span> Français</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/pt/update/" class="overlay-menu__link "><span class="flag pt"></span> Portugese</a>
                    </li>
                    <!--<li class="overlay-menu__subitem">-->
                    <!--    <a href="/it/update/" class="overlay-menu__link "><span class="flag it"></span> Italiano</a>-->
                    <!--</li>-->
                    <li class="overlay-menu__subitem">
                    <a href="/cn/update/" class="overlay-menu__link "><span class="flag cn"></span> 简体中文</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/ru/update/" class="overlay-menu__link "><span class="flag ru"></span> Русский</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/jp/update/" class="overlay-menu__link "><span class="flag jp"></span>日本語</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/kr/update/" class="overlay-menu__link "><span class="flag kr"></span>한국어</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/de/update/" class="overlay-menu__link "><span class="flag de"></span>Deutsch</a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>

</nav>

		</div>

		<!-- Fallback analytics -->
		<noscript>
	<img src="https://analytics.dash.org/piwik.php?idsite=1&amp;rec=1" style="border:0" alt="" />
</noscript>


		<!-- JavaScript -->
		<script src="//cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js" integrity="sha384-MYg5v6RiLsgqDiKOs6hcDXVblLg+Ls5F/jimSFosIUeDjW5VYViY1eMBMazbV5Mr" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" integrity="sha384-CgeP3wqr9h5YanePjYLENwCTSSEz42NJkbFpAFgHWQz7u3Zk8D00752ScNpXqGjS" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js" integrity="sha384-dfOR5hjVOg6B2OvgyHIS71mJWX5TgNQeFGo5cNNVglSep7ZvYcByrpEya6xbwwyB" crossorigin="anonymous"></script>
		<script src="/dist/js/main.min.js"></script>
		<script>
  window.globals = {
	siteApi : "/api/v1"
  };
</script>


	</body>
</html>
