<!doctype html>
<html lang="kr">
	<head>
		<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->







		<meta charset="UTF-8">
		<title>Dash 커뮤니티 가입 &mdash; Dash</title>
		<meta name="description" content="Dash 커뮤니티 가입">

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
		<link rel="alternate" type="application/rss+xml" title="Dash Blog" href="/rss/dash_blog_rss.xml">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" type="text/css" href="/dist/css/main.min.css">
		<!-- Analytics -->
		<script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
		var u="//analytics.dash.org/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', '1']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();
</script>

	</head>

	<body>

		<div class="hero" id="hero">
	<div class="hero__background">
		<img src="/assets/img/resized/hero/community.jpg-cb6c9e7/960x640.jpg" srcset="/assets/img/resized/hero/community.jpg-cb6c9e7/1920x1280.jpg 1920w, /assets/img/resized/hero/community.jpg-cb6c9e7/960x640.jpg 960w" sizes="100vw, 100vw" class="hero__background-image" />

	</div>

	<!-- Navigation -->
	<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->








<!--
    To change the logo color, pass the parameter in the include.
    include nav-desktop.html logo-color="blue"
-->



<button class="burger" type="button" data-js-open-menu aria-label="Menu" aria-controls="overlaynavigation" aria-expanded="false"><div class="burger__burger"></div></button>

<header id="top" class="content">

    <a href="/kr/" class="logo"><img class="logo__img" src="/assets/img/logo-white.png" alt="Dash"></a>
    <nav class="nav nav--white">
        <ul class="nav__list">
            <li class="nav__item"><a href="/kr/get-dash/" class="nav__link">Dash 얻기</a></li>
			<li class="nav__item"><a href="/kr/merchants/" class="nav__link">가맹점</a></li>
			<li class="nav__item"><a href="/kr/network/" class="nav__link">네트워크</a></li>
			<li class="nav__item"><a href="/kr/community/" class="nav__link">리소스</a></li>
			<li class="nav__item"><a href="/kr/team/" class="nav__link">팀</a></li>
			<li class="nav__item"><a href="/kr/blog/" class="nav__link">블로그</a></li>
			<li class="nav__item"><a href="/kr/evolution/" class="nav__link">Evolution</a></li>
            
            <li class="nav__item nav__item--languages">
                <a href="#" class="nav__link" style="text-transform:uppercase;"><span class="flag kr"></span></a>
                <ul class="nav__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="nav__subitem">
                        <a href="/community/" class="nav__link ">English <span class="flag gb"></span></a>
                    </li>
                    <li class="nav__subitem">
                       <a href="/es/community/" class="nav__link ">Español <span class="flag es"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/fr/community/" class="nav__link ">Français <span class="flag fr"></span></a>
                    </li>
                     <li class="nav__subitem">
                        <a href="/pt/community/" class="nav__link ">Portugese <span class="flag pt"></span></a>
                    </li>
                    <!--<li class="nav__subitem">-->
                    <!--    <a href="/it/community/" class="nav__link ">Italiano <span class="flag it"></span></a>-->
                    <!--</li>-->
                    <li class="nav__subitem">
                        <a href="/cn/community/" class="nav__link ">简体中文 <span class="flag cn"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/ru/community/" class="nav__link ">Русский <span class="flag ru"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/jp/community/" class="nav__link ">日本語 <span class="flag jp"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/kr/community/" class="nav__link is-active">한국어<span class="flag kr"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/de/community/" class="nav__link ">Deutsch<span class="flag de"></span></a>
                    </li>
                </ul>
            </li>
            

           <!--  <li class="nav__item nav__item--search"><a href="/kr" class="nav__link" title="검색">S</a></li> -->
        </ul>
    </nav>

</header>


	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">우리 커뮤니티 가입</h1>
		<p class="hero__lead">Dash 커뮤니티의 일원되기</p>

		<div class="hero__buttons">
			<a href="/forum/" class="btn-blue-solid">공식 포럼</a>
			<a href="/kr/contribute/" class="btn-blue-solid">기부</a>
		</div>
		<div class="hero__buttons">

			<a href="/kr/graphics/" class="btn-white-solid">그래픽</a>
			<a href="/kr/legal/" class="btn-white-solid">법무</a>
			<a href="#community-development" class="btn-white-solid">개발</a>
			<a href="#community-masternode" class="btn-white-solid">마스터노드</a>
			<a href="https://dashpay.atlassian.net/wiki/display/DOC/Site+map" class="btn-white-solid" target="_blank">Wiki</a>
			<!--<a href="#community-media" class="btn-white-solid">비디오 및 오디오</a>-->
		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>



<div class="page-community">

	<!--
    CTA sections
	-->

	<section id="community-discussion" class="section section--cta">
		<div class="section__content"> <!--section__content -->
			<div>
				<h2>토론<a class="permalink" title="Permalink" id="discussion"></a></h2>

				<p>이 포럼에서 Dash 토론</p>

			</div>
			<div class="ctabox ctabox--gray-light-bg" data-js-ctabox>
				<div class="ctabox__inner">
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="/forum/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/dashforum_logo.png" class="ctabox__image" >
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Dash Forum</h4>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://t.me/DashDigitalCash" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/TelegramPic_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Telegram</h4>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.reddit.com/r/dashpay/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/reddit_logo.png" class="ctabox__image" >
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Reddit</h4>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://bitcointalk.org/index.php?topic=421615.0" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/bitcointalk_logo.png" class="ctabox__image" >
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">BitcoinTalk</h4>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://forum.bitcoin.com/dash/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/bitcoindotcom_logo.png" class="ctabox__image" >
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Bitcoin.com Forum</h4>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://discord.gg/9z8zX5j" target="_blank" class="ctabox__link" >
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/dashnation_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Dash on Discord </h4>
							</div>
						</a>
					</article>
				</div>
			</div>
		</div>
	</section>

	<section id="community-social" class="section section--cta section--gray-light-bg">
		<div class="section__content">
			<div>
				<h2>소셜<a class="permalink" title="Permalink" id="social"></a></h2>

				<p>이 소셜 앱에서 Dash 찾기</p>

			</div>
			<div class="ctabox ctabox--gray-light-bg" data-js-ctabox>
				<div class="ctabox__inner">
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://twitter.com/dashpay" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/twitter_logo.png" class="ctabox__image">
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.facebook.com/DashPay" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/facebook_logo.png" class="ctabox__image">
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://plus.google.com/communities/101869723775111070721" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/googleplus_logo.png" class="ctabox__image">
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.linkedin.com/company/dash---digitalcash-cryptocurrency-?trk=company_logo" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/linkedin_logo.png" class="ctabox__image">
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.instagram.com/dashpay/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/instagram_logo.png" class="ctabox__image">
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.youtube.com/dashorg" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/youtube_logo.png" class="ctabox__image">
							</div>
						</a>
					</article>
				</div>
			</div>
		</div>
	</section>

	<section id="community-news" class="section section--cta">
		<div class="section__content">
			<div>
				<h2>뉴스 및 정보<a class="permalink" title="Permalink" id="news"></a></h2>

				<p>Dash 커뮤니티 회원이 만든 사이트</p>

			</div>
			<div class="ctabox ctabox--gray-light-bg" data-js-ctabox>
				<div class="ctabox__inner">
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="http://www.dashnation.com/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/dashnation_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Dash Nation</h4>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.dashforcenews.com/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/dashforcenews_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">DashForce News</h4>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://dashdot.io/alpha/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/dashdotalpha_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">DashDot Alpha</h4>
							</div>
						</a>
							</div>
						</a>
					</article>
				</div>
			</div>
		</div>
	</section>

	<section id="community-development" class="section section--cta section--gray-light-bg">
		<div class="section__content">
			<div>
				<h2>개발<a class="permalink" title="Permalink" id="development"></a></h2>

				<p>개발자용 사이트 및 도구</p>

			</div>
			<div class="ctabox ctabox--gray-light-bg" data-js-ctabox>
				<div class="ctabox__inner">
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://github.com/dashpay/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/github_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Github</h4>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://dashpay.atlassian.net/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/jira_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">JIRA</h4>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://dashpay.atlassian.net/wiki/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/atlassian_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Dash Wiki</h4>
							</div>
						</a>
					</article>
				</div>
			</div>
		</div>
	</section>

	<section id="community-masternode" class="section section--cta">
		<div class="section__content">
			<div>
				<h2>마스터노드 도구<a class="permalink" title="Permalink" id="masternodes"></a></h2>

				<p>마스터노드 설치, 관리 및 호스팅</p>

			</div>
			<div class="ctabox ctabox--gray-light-bg" data-js-ctabox>
				<div class="ctabox__inner">
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.dashcentral.org/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/dashcentral_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Dash Central</h4>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://www.dashninja.pl/" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/dashninja_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">DashNinja</h4>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1867885" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/dash_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Hosting Services</h4>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=8880153" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/dash_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Tools</h4>
							</div>
						</a>
					</article>
					<article class="ctabox__cta" data-js-ctabox-item>
						<a href="https://dash-news.de/dashtv/#value=1000" target="_blank" class="ctabox__link">
							<div class="ctabox__imagewrapper">
								<img src="/assets/img/community/dash_logo.png" class="ctabox__image">
							</div>
							<div class="ctabox__text">
								<h4 class="ctabox__title">Dash MN TV</h4>
							</div>
						</a>
					</article>
				</div>
			</div>
		</div>
	</section>




	<!--
       MEDIA | CONFERENCES | TECHNOLOGY | YOUTUBE
       similiar layout to news posts on home page.
       .community-post
       .community-image
       .community-body
       .community-title

    <section id="community-media">
        <div class="content">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="community-post">
                        <div class="community-image">

                        </div>
                        <div class="community-body">
                            <h3 class="community-title">Dash 미디어</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="community-post">
                        <div class="community-image">

                        </div>
                        <div class="community-body">
                            <h3 class="community-title">컨퍼런스</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="community-post">
                        <div class="community-image">

                        </div>
                        <div class="community-body">
                            <h3 class="community-title">기술</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="community-post">
                        <div class="community-image">

                        </div>
                        <div class="community-body">
                            <h3 class="community-title">커뮤니티</h3>
                            <a href="#" class="btn-blue">Dash 유튜브</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    -->

	<!--
        NEED SOME DASH
        Repeat info from the GET-DASH page
        .getdash-need-graphic

    <section>
        <div class="content">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Dash가 필요합니까?</h2>
                    <p>우리 포럼에 가입하시면 Dash를 드립니다!</p>


                    <a href="#" class="btn-blue">Dash 가입</a>
                    <p>이메일 주소 입력</p>

                </div>
                <div class="col-sm-6 getdash-need-graphic">

                </div>
            </div>
        </div>
    </section>
    -->
</div>


		<!-- Footer -->
		<footer class="footer">
			<nav class="footer__nav content">
  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Dash 얻기
    <ul>
        <li><a href="/kr/get-dash/">지갑 다운로드</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=48693287" target="_blank">Dash 구매</a></li>
        <li><a href="/kr/merchants/">Dash로 쇼핑</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Debit+Cards" target="_blank">Dash 직불카드</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    기부
    <ul>
        <li><a href="/kr/mining/" >채굴 시작</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/1146943/Masternodes" target="_blank">마스터노드 설치</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146941" target="_blank">지갑 설치</a></li>
        <li><a href="/kr/governance/">기금 신청</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    네트워크
    <ul>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/48693298/Exchanges" target="_blank">거래소 시장</a></li>
        <li><a href="/kr/governance/">거버넌스</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/x/CwDeAQ" target="_blank">블록 탐색기</a></li>
        <li><a href="http://178.254.23.111/~pub/Dash/Dash_Info.html" target="_blank">네트워크 통계</a></li>
        <li><a href="/kr/exchanges/" >거래소 전체 목록</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    리소스
    <ul>
        <li><a href="/kr/community/#discussion">토론</a></li>
        <li><a href="/kr/community/#social">소셜 앱</a></li>
        <li><a href="/kr/community/#news">뉴스 및 정보</a></li>
        <li><a href="/kr/community/#development">개발 도구</a></li>
        <li><a href="/kr/community/#masternodes">마스터노드 도구</a></li>
        <li><a href="/kr/legal/">법무</a></li>
        <li><a href="/kr/graphics/">그래픽</a></li>
        <li><a href="/kr/merchandise/">Merchandise</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    프로젝트
    <ul>
        <li><a href="https://www.dash.org/forum/categories/dash-support.61/" target="_blank">도움 및 지원</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146914" target="_blank">프로젝트 정보</a></li>
        <li><a href="/kr/team/">팀</a></li>
        <li><a href="/kr/update/">업데이트</a></li>
        <li><a href="https://www.dashfoundation.io/" target="_blank">기반</a></li>
        <li><a href="/kr/contact/">연락처</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Site+map" target="_blank">Wiki</a></li>
        <li><a href="/kr/school/">School</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    소셜
    <ul class="footer__social">
        <li><a href="/forum/" target="_blank">Dash 포럼</a></li>
        <li><a href="/kr/blog/">블로그</a></li>
        <li><a href="https://www.reddit.com/r/dashpay" target="_blank">Reddit</a></li>
        <li><a href="https://twitter.com/dashpay" target="_blank">트위터</a></li>
        <li><a href="https://www.youtube.com/channel/UCAzD2v9Yx4a4iS2_-unODkA" target="_blank">유튜브</a></li>
        <li><a href="https://plus.google.com/u/0/communities/101869723775111070721/stream/03b94d84-f61a-49f2-bb7d-9ac82e1ed7f2" target="_blank">Google+</a></li>
        <li><a href="https://www.linkedin.com/groups?home=&gid=8179817&trk=groups_most_recent-h-logo&goback=%2Egmp_8179817" target="_blank">LinkedIn</a></li>
        <li><a href="https://facebook.com/dashpay" target="_blank">페이스북</a></li>
        <li><a href="https://github.com/dashpay/dash" target="_blank">GitHub</a></li>
    </ul>
  </section>
</nav>
<div class="footer__menu content">
  <div class="footer__languagePicker"></div>
  <a href="/kr/terms-of-use/">이용 약관</a>
  <a href="/sitemap.xml">사이트 맵</a>
  <a href="https://github.com/dashpay/dash-website" target="_blank">소스 코드</a>
  <a href="/kr/contact/">연락처</a>
</div>
<div class="footer__legal">
  <div class="content">
    <span class="footer__copyright">&copy; 2018 The Dash Network</span>
    <!-- <a href="#">Github Source</a> -->
  </div>
</div>

		</footer>

		<!-- Mobile Nav -->
		<div class="overlay" id="overlay" data-js-overlay-menu>
			<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->








<nav class="overlay-menu" id="overlaynavigation" aria-hidden="true">

    <div class="overlay-menu__nav">
        <a href="/" class="overlay-menu__logo">
            <img src="/assets/img/logo-white.png" alt="Dash" class="logo">
        </a>
        <ul class="overlay-menu__list">
            <li class="overlay-menu__item"><a href="/kr/get-dash/" class="overlay-menu__link">Dash 얻기</a></li>
            <li class="overlay-menu__item"><a href="/kr/merchants/" class="overlay-menu__link">가맹점</a></li>
            <li class="overlay-menu__item"><a href="/kr/network/" class="overlay-menu__link">네트워크</a></li>
            <li class="overlay-menu__item"><a href="/kr/community/" class="overlay-menu__link">리소스</a></li>
            <li class="overlay-menu__item"><a href="/kr/team/" class="overlay-menu__link">팀</a></li>
            <li class="overlay-menu__item"><a href="/kr/blog/" class="overlay-menu__link">블로그</a></li>
            <li class="overlay-menu__item"><a href="/kr/evolution/" class="overlay-menu__link">Evolution</a></li>
            
            <li class="overlay-menu__item overlay-menu__item--languages">
                <ul class="overlay-menu__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="overlay-menu__subitem">
                        <a href="/community/" class="overlay-menu__link "><span class="flag us"></span> English</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/es/community/" class="overlay-menu__link "><span class="flag es"></span> Español</a>
                    </li>
                    <li class="overlay-menu__subitem">
                        <a href="/fr/community/" class="overlay-menu__link "><span class="flag fr"></span> Français</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/pt/community/" class="overlay-menu__link "><span class="flag pt"></span> Portugese</a>
                    </li>
                    <!--<li class="overlay-menu__subitem">-->
                    <!--    <a href="/it/community/" class="overlay-menu__link "><span class="flag it"></span> Italiano</a>-->
                    <!--</li>-->
                    <li class="overlay-menu__subitem">
                    <a href="/cn/community/" class="overlay-menu__link "><span class="flag cn"></span> 简体中文</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/ru/community/" class="overlay-menu__link "><span class="flag ru"></span> Русский</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/jp/community/" class="overlay-menu__link "><span class="flag jp"></span>日本語</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/kr/community/" class="overlay-menu__link is-active"><span class="flag kr"></span>한국어</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/de/community/" class="overlay-menu__link "><span class="flag de"></span>Deutsch</a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>

</nav>

		</div>

		<!-- Fallback analytics -->
		<noscript>
	<img src="https://analytics.dash.org/piwik.php?idsite=1&amp;rec=1" style="border:0" alt="" />
</noscript>


		<!-- JavaScript -->
		<script src="//cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js" integrity="sha384-MYg5v6RiLsgqDiKOs6hcDXVblLg+Ls5F/jimSFosIUeDjW5VYViY1eMBMazbV5Mr" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" integrity="sha384-CgeP3wqr9h5YanePjYLENwCTSSEz42NJkbFpAFgHWQz7u3Zk8D00752ScNpXqGjS" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js" integrity="sha384-dfOR5hjVOg6B2OvgyHIS71mJWX5TgNQeFGo5cNNVglSep7ZvYcByrpEya6xbwwyB" crossorigin="anonymous"></script>
		<script src="/dist/js/main.min.js"></script>
		<script>
  window.globals = {
	siteApi : "/api/v1"
  };
</script>


	</body>
</html>
