<!doctype html>
<html lang="kr">
	<head>
		<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->







		<meta charset="UTF-8">
		<title>Dash 네트워크 &mdash; Dash</title>
		<meta name="description" content="Dash 통화">

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
		<link rel="alternate" type="application/rss+xml" title="Dash Blog" href="/rss/dash_blog_rss.xml">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" type="text/css" href="/dist/css/main.min.css">
		<!-- Analytics -->
		<script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
		var u="//analytics.dash.org/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', '1']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();
</script>

	</head>

	<body>

		<div class="hero" id="hero">
	<div class="hero__background">
		<img src="/assets/img/resized/hero/network.jpg-65cbae3/960x480.jpg" srcset="/assets/img/resized/hero/network.jpg-65cbae3/2400x1200.jpg 2400w, /assets/img/resized/hero/network.jpg-65cbae3/1920x960.jpg 1920w, /assets/img/resized/hero/network.jpg-65cbae3/960x480.jpg 960w" sizes="100vw, 100vw" class="hero__background-image" />

	</div>

	<!-- Navigation -->
	<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->








<!--
    To change the logo color, pass the parameter in the include.
    include nav-desktop.html logo-color="blue"
-->



<button class="burger" type="button" data-js-open-menu aria-label="Menu" aria-controls="overlaynavigation" aria-expanded="false"><div class="burger__burger"></div></button>

<header id="top" class="content">

    <a href="/kr/" class="logo"><img class="logo__img" src="/assets/img/logo-white.png" alt="Dash"></a>
    <nav class="nav nav--white">
        <ul class="nav__list">
            <li class="nav__item"><a href="/kr/get-dash/" class="nav__link">Dash 얻기</a></li>
			<li class="nav__item"><a href="/kr/merchants/" class="nav__link">가맹점</a></li>
			<li class="nav__item"><a href="/kr/network/" class="nav__link">네트워크</a></li>
			<li class="nav__item"><a href="/kr/community/" class="nav__link">리소스</a></li>
			<li class="nav__item"><a href="/kr/team/" class="nav__link">팀</a></li>
			<li class="nav__item"><a href="/kr/blog/" class="nav__link">블로그</a></li>
			<li class="nav__item"><a href="/kr/evolution/" class="nav__link">Evolution</a></li>
            
            <li class="nav__item nav__item--languages">
                <a href="#" class="nav__link" style="text-transform:uppercase;"><span class="flag kr"></span></a>
                <ul class="nav__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="nav__subitem">
                        <a href="/network/" class="nav__link ">English <span class="flag gb"></span></a>
                    </li>
                    <li class="nav__subitem">
                       <a href="/es/network/" class="nav__link ">Español <span class="flag es"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/fr/network/" class="nav__link ">Français <span class="flag fr"></span></a>
                    </li>
                     <li class="nav__subitem">
                        <a href="/pt/network/" class="nav__link ">Portugese <span class="flag pt"></span></a>
                    </li>
                    <!--<li class="nav__subitem">-->
                    <!--    <a href="/it/network/" class="nav__link ">Italiano <span class="flag it"></span></a>-->
                    <!--</li>-->
                    <li class="nav__subitem">
                        <a href="/cn/network/" class="nav__link ">简体中文 <span class="flag cn"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/ru/network/" class="nav__link ">Русский <span class="flag ru"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/jp/network/" class="nav__link ">日本語 <span class="flag jp"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/kr/network/" class="nav__link is-active">한국어<span class="flag kr"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/de/network/" class="nav__link ">Deutsch<span class="flag de"></span></a>
                    </li>
                </ul>
            </li>
            

           <!--  <li class="nav__item nav__item--search"><a href="/kr" class="nav__link" title="검색">S</a></li> -->
        </ul>
    </nav>

</header>


	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">네트워크 상태</h1>
		<p class="hero__lead">Dash 시장, 공금, 마스터노드 및 블록체인의 최신 상태</p>
<!--		<p class="hero__lead">Visualizer Goes Here</p>-->

		<div class="hero__buttons">
			<a href="#section-exchanges" class="btn-white-solid">시장</a>
			<a href="#section-governance" class="btn-white-solid">공금</a>
			<a href="#section-network" class="btn-white-solid">마스터노드</a>
			<a href="#section-blockchain" class="btn-white-solid">블록체인</a>
			<a href="#section-mining" class="btn-white-solid">채굴</a>
		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>


<div class="content page page--currency">
	<section class="section section--currency" id="section-exchanges">
		<div class="section__content">
			<div class="row">
				<div class="col-md-6">
					<h2 class="bottom-space">시가 총액(USD)</h2>
					<span id="marketcap_count" class="big-accent bottom-space"></span>
					<p class="bottom-space">
						
					</p>
					<div class="hero__buttons">
						<a href="http://coinmarketcap.com/currencies/dash/#markets" target="_blank" class="btn-blue-solid">CoinMarketCap</a>
						<a href="https://www.worldcoinindex.com/" target="_blank" class="btn-blue-solid">WorldCoinIndex</a>
						<a href="http://coincap.io/" target="_blank" class="btn-blue-solid">CoinCap</a>
					</div>
				</div>
				<div class="col-md-6">
					<h2>Exchanges</h2>
					<table id="exchanges">
						<thead>
							<tr>
								<th>Exchange</th>
								<th>Volume (24h)</th>
								<th>Price</th>
								<th>Volume (%)</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>

	<section class="section section--currency" id="section-network">
		<div class="section__content">
			<h2 class="section__title bottom-space">마스터노드</h2>
			<div class="row">
				<div class="col-md-6">
					<div class="row bottom-space">
						<div class="col-md-6">
							<p>Current masternodes:</p>
							 <span id="masternodes_count" class="big-accent"></span>
						</div>
						<div class="col-md-6">
							<p>Maximum masternodes so far:</p>
							<span id="masternodes_max" class="big-accent"></span>
						</div>
					</div>
					<p>
						
					</p>
					<div class="hero__buttons">
						<a href="http://178.254.23.111/~pub/Dash/Dash_Info.html" target="_blank" class="btn-blue-solid">DashInfo</a>
						<a href="https://www.dashninja.pl/masternodes.html" target="_blank" class="btn-blue-solid">DashNinja</a>
					</div>
				</div>
				<div class="col-md-6">
					<p>
						<img src="/assets/img/masternode_count-crop-813x525.png" width="100%">
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="section section--currency" id="section-blockchain">
		<div class="section__content">
			<h2 class="section__title">블록체인</h2>
			<p class="section__lead">
				Block Explorers
			</p>
			<div class="hero__buttons">
				<a href="https://chainz.cryptoid.info/dash/" target="_blank" class="btn-blue-solid">CryptoID</a>
				<a href="https://explorer.coinpayments.net/index.php?chain=7" target="_blank" class="btn-blue-solid">CoinPayments</a>
				<a href="https://explorer.dashninja.pl/chain/Dash" target="_blank" class="btn-blue-solid">DashNinja</a>
				<a href="https://bitinfocharts.com/darkcoin/explorer/" target="_blank" class="btn-blue-solid">BitInfoCharts</a>
			</div>
			<table id="blocks" width="100%">
				<thead>
					<tr>
						<th>Height</th>
						<th>Block Time</th>
						<th>Transactions</th>
						<th>Value Out</th>
						<th>Difficulty</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</section>

	<section class="section section--currency" id="section-governance">
		<div class="section__content">
			<h2 class="section__title">공금</h2>
			<p class="section__lead">
				Governance Tools
			</p>
			<div class="hero__buttons">
				<a href="http://dashvotetracker.com/" target="_blank" class="btn-blue-solid">DashVoteTracker</a>
				<a href="https://www.dashcentral.org/" target="_blank" class="btn-blue-solid">DashCentral</a>
				<a href="https://www.dashninja.pl/budgets.html" target="_blank" class="btn-blue-solid">DashNinja</a>
				<a href="https://proposal.dash.org/" target="_blank" class="btn-blue-solid">Proposal Generator</a>
			</div>
			<table id="budgets">
				<thead>
					<tr>
						<th>Title</th>
						<th>Owner</th>
						<th>Votes (yes/no)</th>
						<th>Votes Required</th>
						<th>Monthly Amount</th>
						<th>Will be Funded</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</section>

	<section class="section section--currency" id="section-mining">
		<div class="section__content">
			<h2 class="section__title">채굴</h2>
			<p class="section__lead">
				Mining Information
			</p>
			<div class="hero__buttons">
				<a href="https://dashpay.atlassian.net/wiki/display/DOC/Pools" target="_blank" class="btn-blue-solid">Pools</a>
				<a href="https://dashpay.atlassian.net/wiki/x/CQD7Ag" target="_blank" class="btn-blue-solid">ASICs</a>
				<a href="https://www.coinwarz.com/calculators/dash-mining-calculator" target="_blank" class="btn-blue-solid">Calculation</a>
			</div>
		</div>
	</section>

</div>


		<!-- Footer -->
		<footer class="footer">
			<nav class="footer__nav content">
  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Dash 얻기
    <ul>
        <li><a href="/kr/get-dash/">지갑 다운로드</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=48693287" target="_blank">Dash 구매</a></li>
        <li><a href="/kr/merchants/">Dash로 쇼핑</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Debit+Cards" target="_blank">Dash 직불카드</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    기부
    <ul>
        <li><a href="/kr/mining/" >채굴 시작</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/1146943/Masternodes" target="_blank">마스터노드 설치</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146941" target="_blank">지갑 설치</a></li>
        <li><a href="/kr/governance/">기금 신청</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    네트워크
    <ul>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/48693298/Exchanges" target="_blank">거래소 시장</a></li>
        <li><a href="/kr/governance/">거버넌스</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/x/CwDeAQ" target="_blank">블록 탐색기</a></li>
        <li><a href="http://178.254.23.111/~pub/Dash/Dash_Info.html" target="_blank">네트워크 통계</a></li>
        <li><a href="/kr/exchanges/" >거래소 전체 목록</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    리소스
    <ul>
        <li><a href="/kr/community/#discussion">토론</a></li>
        <li><a href="/kr/community/#social">소셜 앱</a></li>
        <li><a href="/kr/community/#news">뉴스 및 정보</a></li>
        <li><a href="/kr/community/#development">개발 도구</a></li>
        <li><a href="/kr/community/#masternodes">마스터노드 도구</a></li>
        <li><a href="/kr/legal/">법무</a></li>
        <li><a href="/kr/graphics/">그래픽</a></li>
        <li><a href="/kr/merchandise/">Merchandise</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    프로젝트
    <ul>
        <li><a href="https://www.dash.org/forum/categories/dash-support.61/" target="_blank">도움 및 지원</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146914" target="_blank">프로젝트 정보</a></li>
        <li><a href="/kr/team/">팀</a></li>
        <li><a href="/kr/update/">업데이트</a></li>
        <li><a href="https://www.dashfoundation.io/" target="_blank">기반</a></li>
        <li><a href="/kr/contact/">연락처</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Site+map" target="_blank">Wiki</a></li>
        <li><a href="/kr/school/">School</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    소셜
    <ul class="footer__social">
        <li><a href="/forum/" target="_blank">Dash 포럼</a></li>
        <li><a href="/kr/blog/">블로그</a></li>
        <li><a href="https://www.reddit.com/r/dashpay" target="_blank">Reddit</a></li>
        <li><a href="https://twitter.com/dashpay" target="_blank">트위터</a></li>
        <li><a href="https://www.youtube.com/channel/UCAzD2v9Yx4a4iS2_-unODkA" target="_blank">유튜브</a></li>
        <li><a href="https://plus.google.com/u/0/communities/101869723775111070721/stream/03b94d84-f61a-49f2-bb7d-9ac82e1ed7f2" target="_blank">Google+</a></li>
        <li><a href="https://www.linkedin.com/groups?home=&gid=8179817&trk=groups_most_recent-h-logo&goback=%2Egmp_8179817" target="_blank">LinkedIn</a></li>
        <li><a href="https://facebook.com/dashpay" target="_blank">페이스북</a></li>
        <li><a href="https://github.com/dashpay/dash" target="_blank">GitHub</a></li>
    </ul>
  </section>
</nav>
<div class="footer__menu content">
  <div class="footer__languagePicker"></div>
  <a href="/kr/terms-of-use/">이용 약관</a>
  <a href="/sitemap.xml">사이트 맵</a>
  <a href="https://github.com/dashpay/dash-website" target="_blank">소스 코드</a>
  <a href="/kr/contact/">연락처</a>
</div>
<div class="footer__legal">
  <div class="content">
    <span class="footer__copyright">&copy; 2018 The Dash Network</span>
    <!-- <a href="#">Github Source</a> -->
  </div>
</div>

		</footer>

		<!-- Mobile Nav -->
		<div class="overlay" id="overlay" data-js-overlay-menu>
			<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->








<nav class="overlay-menu" id="overlaynavigation" aria-hidden="true">

    <div class="overlay-menu__nav">
        <a href="/" class="overlay-menu__logo">
            <img src="/assets/img/logo-white.png" alt="Dash" class="logo">
        </a>
        <ul class="overlay-menu__list">
            <li class="overlay-menu__item"><a href="/kr/get-dash/" class="overlay-menu__link">Dash 얻기</a></li>
            <li class="overlay-menu__item"><a href="/kr/merchants/" class="overlay-menu__link">가맹점</a></li>
            <li class="overlay-menu__item"><a href="/kr/network/" class="overlay-menu__link">네트워크</a></li>
            <li class="overlay-menu__item"><a href="/kr/community/" class="overlay-menu__link">리소스</a></li>
            <li class="overlay-menu__item"><a href="/kr/team/" class="overlay-menu__link">팀</a></li>
            <li class="overlay-menu__item"><a href="/kr/blog/" class="overlay-menu__link">블로그</a></li>
            <li class="overlay-menu__item"><a href="/kr/evolution/" class="overlay-menu__link">Evolution</a></li>
            
            <li class="overlay-menu__item overlay-menu__item--languages">
                <ul class="overlay-menu__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="overlay-menu__subitem">
                        <a href="/network/" class="overlay-menu__link "><span class="flag us"></span> English</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/es/network/" class="overlay-menu__link "><span class="flag es"></span> Español</a>
                    </li>
                    <li class="overlay-menu__subitem">
                        <a href="/fr/network/" class="overlay-menu__link "><span class="flag fr"></span> Français</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/pt/network/" class="overlay-menu__link "><span class="flag pt"></span> Portugese</a>
                    </li>
                    <!--<li class="overlay-menu__subitem">-->
                    <!--    <a href="/it/network/" class="overlay-menu__link "><span class="flag it"></span> Italiano</a>-->
                    <!--</li>-->
                    <li class="overlay-menu__subitem">
                    <a href="/cn/network/" class="overlay-menu__link "><span class="flag cn"></span> 简体中文</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/ru/network/" class="overlay-menu__link "><span class="flag ru"></span> Русский</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/jp/network/" class="overlay-menu__link "><span class="flag jp"></span>日本語</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/kr/network/" class="overlay-menu__link is-active"><span class="flag kr"></span>한국어</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/de/network/" class="overlay-menu__link "><span class="flag de"></span>Deutsch</a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>

</nav>

		</div>

		<!-- Fallback analytics -->
		<noscript>
	<img src="https://analytics.dash.org/piwik.php?idsite=1&amp;rec=1" style="border:0" alt="" />
</noscript>


		<!-- JavaScript -->
		<script src="//cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js" integrity="sha384-MYg5v6RiLsgqDiKOs6hcDXVblLg+Ls5F/jimSFosIUeDjW5VYViY1eMBMazbV5Mr" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" integrity="sha384-CgeP3wqr9h5YanePjYLENwCTSSEz42NJkbFpAFgHWQz7u3Zk8D00752ScNpXqGjS" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js" integrity="sha384-dfOR5hjVOg6B2OvgyHIS71mJWX5TgNQeFGo5cNNVglSep7ZvYcByrpEya6xbwwyB" crossorigin="anonymous"></script>
		<script src="/dist/js/main.min.js"></script>
		<script>
  window.globals = {
	siteApi : "/api/v1"
  };
</script>


	</body>
</html>
