<!doctype html>
<html lang="cn">
	<head>
		<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->







		<meta charset="UTF-8">
		<title>联系达世币团队 &mdash; Dash</title>
		<meta name="description" content="联系达世币团队">

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
		<link rel="alternate" type="application/rss+xml" title="Dash Blog" href="/rss/dash_blog_rss.xml">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" type="text/css" href="/assets/css/main.min.css">
		<!-- Analytics -->
		<script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
		var u="//analytics.dash.org/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', '1']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();
</script>

	</head>

	<body>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<div class="hero" id="hero">
	<div class="hero__background">

<!--     <img src="/assets/img/resized/hero/mailboxes.jpg-41ca615/752x642.jpg" class="hero__background-image" />
 -->
    <img src="/assets/img/hero/contact_hero.jpg" alt="" class="hero__background-image">
	</div>

	<!-- Navigation -->
	<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->








<!--
    To change the logo color, pass the parameter in the include.
    include nav-desktop.html logo-color="blue"
-->



<button class="burger" type="button" data-js-open-menu aria-label="Menu" aria-controls="overlaynavigation" aria-expanded="false"><div class="burger__burger"></div></button>

<header id="top" class="content">

    <a href="/cn/" class="logo"><img class="logo__img" src="/assets/img/logo-white.png" alt="Dash"></a>
    <nav class="nav nav--white">
        <ul class="nav__list">
            <li class="nav__item"><a href="/cn/get-dash/" class="nav__link">了解达世币</a></li>
			<li class="nav__item"><a href="/cn/merchants/" class="nav__link">商家</a></li>
			<li class="nav__item"><a href="/cn/network/" class="nav__link">网络</a></li>
			<li class="nav__item"><a href="/cn/community/" class="nav__link">社区</a></li>
			<li class="nav__item"><a href="/cn/team/" class="nav__link">团队</a></li>
			<li class="nav__item"><a href="/cn/blog/" class="nav__link">博客</a></li>
			<li class="nav__item"><a href="/cn/evolution/" class="nav__link">Evolution</a></li>
            
            <li class="nav__item nav__item--languages">
                <a href="#" class="nav__link" style="text-transform:uppercase;"><span class="flag cn"></span></a>
                <ul class="nav__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="nav__subitem">
                        <a href="/contact/" class="nav__link ">English <span class="flag gb"></span></a>
                    </li>
                    <li class="nav__subitem">
                       <a href="/es/contact/" class="nav__link ">Español <span class="flag es"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/fr/contact/" class="nav__link ">Français <span class="flag fr"></span></a>
                    </li>
                     <li class="nav__subitem">
                        <a href="/pt/contact/" class="nav__link ">Portugese <span class="flag pt"></span></a>
                    </li>
                    <!--<li class="nav__subitem">-->
                    <!--    <a href="/it/contact/" class="nav__link ">Italiano <span class="flag it"></span></a>-->
                    <!--</li>-->
                    <li class="nav__subitem">
                        <a href="/cn/contact/" class="nav__link is-active">简体中文 <span class="flag cn"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/ru/contact/" class="nav__link ">Русский <span class="flag ru"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/jp/contact/" class="nav__link ">日本語 <span class="flag jp"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/kr/contact/" class="nav__link ">한국어<span class="flag kr"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/de/contact/" class="nav__link ">Deutsch<span class="flag de"></span></a>
                    </li>
                </ul>
            </li>
            

           <!--  <li class="nav__item nav__item--search"><a href="/cn" class="nav__link" title="搜索">S</a></li> -->
        </ul>
    </nav>

</header>


	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">联系</h1>
		<p class="hero__lead"></p>

    <div class="row">
      <div class="col-sm-4">
        <p class="bottom-space">请访问DashTalk 或其他社区资源获取技术支持, 以便解决关于钱包、挖矿等方面的问题. <br/>
        点击此链接进行其他查询</p>
        <a href="/cdn-cgi/l/email-protection#eb8884859f8a889fab8f8a9883c584998c" class="btn-white-solid"> Contact us.</a> <!-- !!!remove after form is back up-->
      </div>
      <div class="col-sm-4 col-sm-offset-4 callout-blue">
		  Dash <br />
		  1475 North Scottsdale Road, Suite 200 <br />
		  Scottsdale, Arizona 85257-3538 <br />
		  USA
   <!--     <form onsubmit="return false;">-->
   <!--       <div class="row">-->
   <!--         <div class="col-xs-12">-->
   <!--           <input id="contact_name" placeholder="Name" type="text" class="input-block">-->
   <!--         </div>-->
   <!--       </div>-->
   <!--       <div class="row">-->
   <!--         <div class="col-xs-12">-->
   <!--           <input id = 'contact_email' class="input-block" placeholder="Email" type="text">-->
   <!--         </div>-->
   <!--        </div>-->
   <!--       <div class="row">-->
   <!--         <div class="col-xs-12">-->
   <!--           <select id="contact_category" class="form-control input-block" placeholder="category">-->
			<!--	<option value="">Category</option>-->
   <!--             <option value="feedback">Feedback</option>-->
   <!--           </select>-->
   <!--         </div>-->
	  <!--    </div>-->
   <!--       <div class="row">-->
   <!--         <div class="col-xs-12">-->
   <!--           <textarea id="contact_message" placeholder="Message" class="input-block"></textarea>-->
   <!--         </div>-->
   <!--       </div>-->
			<!--<div class="row">-->
			<!--	<div class="col-xs-12">-->
			<!--		<input class="btn-blue-solid reset" type="submit" value="Send Message">-->
			<!--		<div id="msg_sent" style="display: none;"> Message Sent! </div>-->
			<!--	</div>-->
			<!--</div>-->
   <!--     </form>-->
      </div>
    </div>

	</div>


	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>




<div class="page-contact">

	<section class="section section--cta">
		<div class="section__content">
			<h3 >访问达世币论坛</h3>
			<div class="bottom-space"><p>请访问达世币论坛或其他社区资源获取技术支持, 以便解决关于钱包、挖矿等方面的问题.</p>
</div>
			<div class="bottom-space">
				<a href="/forum/"  class="btn-blue-solid" target="_blank" >
					访问论坛
				</a>
			</div>
		</div>
	</section>

	<section id="mailing" class="section section--cta section--colored mailboxes-bg">
		<div class="section__content">

			<h3>邮件列表</h3>
			<div class="bottom-space">无法及时跟进达世币新动向？加入我们的邮件列表吧！</div>
			<div class="row">
				<div class="col-xs-12">
					<button class="btn-white-solid js-subscribe">加入</button>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 ">
					<!-- Begin MailChimp Signup Form -->
						<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">

						<div id="mc_embed_signup" class="js-mailing-form hidden">
						<form action="//dash.us10.list-manage.com/subscribe/post?u=24325ade3f458f5d1004b6c23&id=8ecd7e9bb7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<div id="mc_embed_signup_scroll">
							<h2>Subscribe to our mailing list</h2>
							<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
							<div class="mc-field-group">
								<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
							</label>
								<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
							</div>
							<div class="mc-field-group input-group">
								<strong>Subscriptions </strong>
								<ul><li><input type="checkbox" value="1" name="group[9869][1]" id="mce-group[9869]-9869-0"><label for="mce-group[9869]-9869-0">Technical Updates and Alerts</label></li>
							<li><input type="checkbox" value="2" name="group[9869][2]" id="mce-group[9869]-9869-1"><label for="mce-group[9869]-9869-1">Monthly Newsletter</label></li>
							<li><input type="checkbox" value="4" name="group[9869][4]" id="mce-group[9869]-9869-2"><label for="mce-group[9869]-9869-2">Weekly Content Digest from Dash.org</label></li>
							</ul>
							</div>
							<p class="bottom-space"><a href="http://us10.campaign-archive2.com/home/?u=24325ade3f458f5d1004b6c23&id=8ecd7e9bb7" title="View previous campaigns" >View previous campaigns.</a></p>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_24325ade3f458f5d1004b6c23_8ecd7e9bb7" tabindex="-1" value=""></div>
							<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
							</div>
						</form>
						</div>
						<script data-cfasync="false" src="/cdn-cgi/scripts/af2821b0/cloudflare-static/email-decode.min.js"></script><script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[6]='MMERGE6';ftypes[6]='dropdown';fnames[3]='MMERGE3';ftypes[3]='text';fnames[5]='MMERGE5';ftypes[5]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
						<!--End mc_embed_signup-->
				</div>
			</div>

		</div>
	</section>

	<!--
	CTA sections
	-->
	<section id="contact-social" class="section section--cta">
		<div class="section__content">
			<div>
				<h2>论坛 &amp; 社交媒体<a class="permalink" title="Permalink" id="contact"></a></h2>
			</div>

			<div class="row">
				<div class="col-sm-3">
					<a href="/forum/" target="_blank" class="ctabox__link">
						<div class="">
							<img src="/assets/img/community/dashforum_logo.png" class="social-image">
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="https://www.reddit.com/r/dashpay/" target="_blank" class="ctabox__link">
						<div class="">
							<img src="/assets/img/community/reddit_logo.png" class="social-image">
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="https://bitcointalk.org/index.php?topic=421615.0" target="_blank" class="ctabox__link">
						<div class="">
							<img src="/assets/img/community/bitcointalk-logo.png" class="social-image">
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="https://forum.bitcoin.com/dash/" target="_blank" class="ctabox__link">
						<div class="">
							<img src="/assets/img/community/bitcoindotcom_logo.png" class="social-image">
						</div>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<a href="https://discordapp.com/invite/9z8zX5j" target="_blank" class="ctabox__link">
						<div class="">
							<img src="/assets/img/community/dashnation_logo.png" class="social-image">
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="https://www.dashcentral.org/" target="_blank" class="ctabox__link">
						<div class="">
							<img src="/assets/img/community/dashcentral_logo.png" class="social-image">
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="https://twitter.com/dashpay" target="_blank" class="ctabox__link">
						<div class="">
							<img src="/assets/img/community/twitter_logo.png" class="large-social-image">
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="https://www.facebook.com/DashPay" target="_blank" class="ctabox__link">
						<div class="">
							<img src="/assets/img/community/facebook_logo.png" class="social-image">
						</div>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<a href="https://plus.google.com/communities/101869723775111070721" target="_blank" class="ctabox__link">
						<div class="">
							<img src="/assets/img/community/googleplus_logo.png" class="social-image">
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="https://www.linkedin.com/company/dash---digitalcash-cryptocurrency-?trk=company_logo" target="_blank" class="ctabox__link">
						<div class="">
							<img src="/assets/img/community/linkedin_logo.png" class="social-image">
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="https://www.instagram.com/dashpay/" target="_blank" class="ctabox__link">
						<div class="">
							<img src="/assets/img/community/instagram_logo.png" class="social-image">
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="https://www.youtube.com/dashorg" target="_blank" class="ctabox__link">
						<div class="">
							<img src="/assets/img/community/youtube_logo.png" class="social-image">
						</div>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<a href="http://www.dashnation.com/" target="_blank" class="ctabox__link">
						<div class="">
							<img src="/assets/img/community/dashnation_logo.png" class="social-image">
						</div>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">

				</div>
				<div class="col-sm-3">

				</div>
				<div class="col-sm-3">

				</div>
				<div class="col-sm-3">

				</div>
			</div>
		</div>
	</section>

	<section class="section section--cta">
		<div class="section__content">
			<div>
				<h2>志愿者<a class="permalink" title="Permalink" id="volunteer"></a></h2>
			</div>

			<div class="row">
				<div class="col-sm-3">
					<a href="https://github.com/dashpay/" target="_blank" class="ctabox__link">
						<div class="">
							<img src="/assets/img/community/github_logo.png" class="social-image">
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="https://dashpay.atlassian.net/" target="_blank" class="ctabox__link">
						<div class="">
							<img src="/assets/img/community/jira_logo.png" class="social-image">
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="https://dashpay.atlassian.net/wiki/" target="_blank" class="ctabox__link">
						<div class="">
							<img src="/assets/img/community/atlassian_logo.png" class="social-image">
						</div>
					</a>
				</div>
				<div class="col-sm-3"></div>
			</div>
		</div>
	</section>




	<!--
	   MEDIA | CONFERENCES | TECHNOLOGY | YOUTUBE
	   similiar layout to news posts on home page.
	   .community-post
	   .community-image
	   .community-body
	   .community-title

	<section id="community-media">
		<div class="content">
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<div class="community-post">
						<div class="community-image">

						</div>
						<div class="community-body">
							<h3 class="community-title">达世币媒体</h3>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="community-post">
						<div class="community-image">

						</div>
						<div class="community-body">
							<h3 class="community-title">会议</h3>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="community-post">
						<div class="community-image">

						</div>
						<div class="community-body">
							<h3 class="community-title">技术</h3>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="community-post">
						<div class="community-image">

						</div>
						<div class="community-body">
							<h3 class="community-title">社区</h3>
							<a href="#" class="btn-blue">达世币YouTube</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	-->

	<!--
		NEED SOME DASH
		Repeat info from the GET-DASH page
		.getdash-need-graphic

	<section>
		<div class="content">
			<div class="row">
				<div class="col-sm-6">
					<h2>需要达世币？</h2>
					<p>登录我们的论坛免费领取达世币！</p>


					<a href="#" class="btn-blue">登录达世币</a>
					<p>输入邮箱地址</p>

				</div>
				<div class="col-sm-6 getdash-need-graphic">

				</div>
			</div>
		</div>
	</section>
	-->
</div>


		<!-- Footer -->
		<footer class="footer">
			<nav class="footer__nav content">
  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    了解达世币
    <ul>
        <li><a href="/cn/get-dash/">下载钱包</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=48693287" target="_blank">购买达世币</a></li>
        <li><a href="/cn/merchants/">达世币消费</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Debit+Cards" target="_blank">达世币借记卡</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    帮助教程
    <ul>
        <li><a href="/cn/mining/" >开始挖矿</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/1146943/Masternodes" target="_blank">架设主节点</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146941" target="_blank">创建钱包</a></li>
        <li><a href="/cn/governance/">申请预算资金</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    网络
    <ul>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/48693298/Exchanges" target="_blank">交易数据</a></li>
        <li><a href="/cn/governance/">管理</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/x/CwDeAQ" target="_blank">区块研发</a></li>
        <li><a href="http://178.254.23.111/~pub/Dash/Dash_Info.html" target="_blank">网络数据</a></li>
        <li><a href="/cn/exchanges/" >Full list of Exchanges</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    社区
    <ul>
        <li><a href="/cn/community/#discussion">讨论</a></li>
        <li><a href="/cn/community/#social">社交应用</a></li>
        <li><a href="/cn/community/#news">新闻 &amp; 信息</a></li>
        <li><a href="/cn/community/#development">开发工具</a></li>
        <li><a href="/cn/community/#masternodes">主节点工具</a></li>
        <li><a href="/cn/legal/">Legal</a></li>
        <li><a href="/cn/graphics/">Graphics</a></li>
        <li><a href="/cn/merchandise/">Merchandise</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    项目
    <ul>
        <li><a href="https://www.dash.org/forum/categories/dash-support.61/" target="_blank">帮助 &amp; 支持</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146914" target="_blank">项目信息</a></li>
        <li><a href="/cn/team/">团队</a></li>
        <li><a href="/cn/update/">升级</a></li>
        <li><a href="https://www.dashfoundation.io/" target="_blank">基金会</a></li>
        <li><a href="/cn/contact/">联系方式</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Site+map" target="_blank">维基</a></li>
        <li><a href="/cn/school/">School</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    社交
    <ul class="footer__social">
        <li><a href="/forum/" target="_blank">Dash forums</a></li>
        <li><a href="/cn/blog/">博客</a></li>
        <li><a href="https://www.reddit.com/r/dashpay" target="_blank">Reddit</a></li>
        <li><a href="https://twitter.com/dashpay" target="_blank">推特</a></li>
        <li><a href="https://www.youtube.com/channel/UCAzD2v9Yx4a4iS2_-unODkA" target="_blank">YouTube</a></li>
        <li><a href="https://plus.google.com/u/0/communities/101869723775111070721/stream/03b94d84-f61a-49f2-bb7d-9ac82e1ed7f2" target="_blank">谷歌</a></li>
        <li><a href="https://www.linkedin.com/groups?home=&gid=8179817&trk=groups_most_recent-h-logo&goback=%2Egmp_8179817" target="_blank">领英</a></li>
        <li><a href="https://facebook.com/dashpay" target="_blank">脸书</a></li>
        <li><a href="https://github.com/dashpay/dash" target="_blank">GitHub</a></li>
    </ul>
  </section>
</nav>
<div class="footer__menu content">
  <div class="footer__languagePicker"></div>
  <a href="/cn/terms-of-use/">使用条款</a>
  <a href="/sitemap.xml">网站导览</a>
  <a href="https://github.com/dashpay/dash-website" target="_blank">源代码</a>
  <a href="/cn/contact/">联系方式</a>
</div>
<div class="footer__legal">
  <div class="content">
    <span class="footer__copyright">&copy; 2017 The Dash Network</span>
    <!-- <a href="#">Github Source</a> -->
  </div>
</div>

		</footer>

		<!-- Mobile Nav -->
		<div class="overlay" id="overlay" data-js-overlay-menu>
			<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->








<nav class="overlay-menu" id="overlaynavigation" aria-hidden="true">

    <div class="overlay-menu__nav">
        <a href="/" class="overlay-menu__logo">
            <img src="/assets/img/logo-white.png" alt="Dash" class="logo">
        </a>
        <ul class="overlay-menu__list">
            <li class="overlay-menu__item"><a href="/cn/get-dash/" class="overlay-menu__link">了解达世币</a></li>
            <li class="overlay-menu__item"><a href="/cn/merchants/" class="overlay-menu__link">商家</a></li>
            <li class="overlay-menu__item"><a href="/cn/network/" class="overlay-menu__link">网络</a></li>
            <li class="overlay-menu__item"><a href="/cn/community/" class="overlay-menu__link">社区</a></li>
            <li class="overlay-menu__item"><a href="/cn/team/" class="overlay-menu__link">团队</a></li>
            <li class="overlay-menu__item"><a href="/cn/blog/" class="overlay-menu__link">博客</a></li>
            <li class="overlay-menu__item"><a href="/cn/evolution/" class="overlay-menu__link">Evolution</a></li>
            
            <li class="overlay-menu__item overlay-menu__item--languages">
                <ul class="overlay-menu__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="overlay-menu__subitem">
                        <a href="/contact/" class="overlay-menu__link "><span class="flag us"></span> English</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/es/contact/" class="overlay-menu__link "><span class="flag es"></span> Español</a>
                    </li>
                    <li class="overlay-menu__subitem">
                        <a href="/fr/contact/" class="overlay-menu__link "><span class="flag fr"></span> Français</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/pt/contact/" class="overlay-menu__link "><span class="flag pt"></span> Portugese</a>
                    </li>
                    <!--<li class="overlay-menu__subitem">-->
                    <!--    <a href="/it/contact/" class="overlay-menu__link "><span class="flag it"></span> Italiano</a>-->
                    <!--</li>-->
                    <li class="overlay-menu__subitem">
                    <a href="/cn/contact/" class="overlay-menu__link is-active"><span class="flag cn"></span> 简体中文</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/ru/contact/" class="overlay-menu__link "><span class="flag ru"></span> Русский</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/jp/contact/" class="overlay-menu__link "><span class="flag jp"></span>日本語</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/kr/contact/" class="overlay-menu__link "><span class="flag kr"></span>한국어</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/de/contact/" class="overlay-menu__link "><span class="flag de"></span>Deutsch</a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>

</nav>

		</div>

		<!-- Fallback analytics -->
		<noscript>
	<img src="https://analytics.dash.org/piwik.php?idsite=1&amp;rec=1" style="border:0" alt="" />
</noscript>


		<!-- JavaScript -->
		<script src="//cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js" integrity="sha384-MYg5v6RiLsgqDiKOs6hcDXVblLg+Ls5F/jimSFosIUeDjW5VYViY1eMBMazbV5Mr" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" integrity="sha384-CgeP3wqr9h5YanePjYLENwCTSSEz42NJkbFpAFgHWQz7u3Zk8D00752ScNpXqGjS" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js" integrity="sha384-dfOR5hjVOg6B2OvgyHIS71mJWX5TgNQeFGo5cNNVglSep7ZvYcByrpEya6xbwwyB" crossorigin="anonymous"></script>
		<script src="/assets/js/main.min.js"></script>
		<script>
  window.globals = {
	siteApi : "/api/v1"
  };
</script>


	</body>
</html>
