<!doctype html>
<html lang="cn">
	<head>
		<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->







		<meta charset="UTF-8">
		<title>达世币官方网站 | 达世币 加密数字货币 &mdash; Dash</title>
		<meta name="description" content="DGBB系统也为达世币提供自己的发展资金. 当其他项目还要依赖捐赠或预挖资金, 达世币使用其10%的区块奖励来资助它自身的开发. 每当一个区块被挖取, 45%的奖励分给矿工, 45%分给主节点, 剩下的10%直到月底才被创建. 在这一个月期间, 任何人都可以向网络进行提交预算提案. 如果该提案被至少10%的主节点网络同意, 那么在该月末会有一系列的"超级块"被创建. 这时, 所有没有被分配的区块奖励 (每个区块中的10%) 将用来资助获准的提案. 如此, 网络就可以资助自身 通过使用这10%的区块奖励资助各个项目.
">

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
		<link rel="alternate" type="application/rss+xml" title="Dash Blog" href="/rss/dash_blog_rss.xml">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" type="text/css" href="/assets/css/main.min.css">
		<!-- Analytics -->
		<script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
		var u="//analytics.dash.org/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', '1']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();
</script>

	</head>

	<body>

		<div class="hero" id="hero">
	<div class="hero__background">
		<img src="/assets/img/resized/hero/community.jpg-cb6c9e7/960x640.jpg" srcset="/assets/img/resized/hero/community.jpg-cb6c9e7/1920x1280.jpg 1920w, /assets/img/resized/hero/community.jpg-cb6c9e7/960x640.jpg 960w" sizes="100vw, 100vw" class="hero__background-image" />

	</div>

	<!-- Navigation -->
	<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->








<!--
    To change the logo color, pass the parameter in the include.
    include nav-desktop.html logo-color="blue"
-->



<button class="burger" type="button" data-js-open-menu aria-label="Menu" aria-controls="overlaynavigation" aria-expanded="false"><div class="burger__burger"></div></button>

<header id="top" class="content">

    <a href="/cn/" class="logo"><img class="logo__img" src="/assets/img/logo-white.png" alt="Dash"></a>
    <nav class="nav nav--white">
        <ul class="nav__list">
            <li class="nav__item"><a href="/cn/get-dash/" class="nav__link">了解达世币</a></li>
			<li class="nav__item"><a href="/cn/merchants/" class="nav__link">商家</a></li>
			<li class="nav__item"><a href="/cn/network/" class="nav__link">网络</a></li>
			<li class="nav__item"><a href="/cn/community/" class="nav__link">社区</a></li>
			<li class="nav__item"><a href="/cn/team/" class="nav__link">团队</a></li>
			<li class="nav__item"><a href="/cn/blog/" class="nav__link">博客</a></li>
			<li class="nav__item"><a href="/cn/evolution/" class="nav__link">Evolution</a></li>
            
            <li class="nav__item nav__item--languages">
                <a href="#" class="nav__link" style="text-transform:uppercase;"><span class="flag cn"></span></a>
                <ul class="nav__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="nav__subitem">
                        <a href="/governance/" class="nav__link ">English <span class="flag gb"></span></a>
                    </li>
                    <li class="nav__subitem">
                       <a href="/es/governance/" class="nav__link ">Español <span class="flag es"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/fr/governance/" class="nav__link ">Français <span class="flag fr"></span></a>
                    </li>
                     <li class="nav__subitem">
                        <a href="/pt/governance/" class="nav__link ">Portugese <span class="flag pt"></span></a>
                    </li>
                    <!--<li class="nav__subitem">-->
                    <!--    <a href="/it/governance/" class="nav__link ">Italiano <span class="flag it"></span></a>-->
                    <!--</li>-->
                    <li class="nav__subitem">
                        <a href="/cn/governance/" class="nav__link is-active">简体中文 <span class="flag cn"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/ru/governance/" class="nav__link ">Русский <span class="flag ru"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/jp/governance/" class="nav__link ">日本語 <span class="flag jp"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/kr/governance/" class="nav__link ">한국어<span class="flag kr"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/de/governance/" class="nav__link ">Deutsch<span class="flag de"></span></a>
                    </li>
                </ul>
            </li>
            

           <!--  <li class="nav__item nav__item--search"><a href="/cn" class="nav__link" title="搜索">S</a></li> -->
        </ul>
    </nav>

</header>


	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">去中心化管理系统</h1>
		<p class="hero__lead">通过区块链的去中心化管理系统, 也称为DGBB, 是达世币尝试解决加密数字货币两大重要难题的方法: 管理和资金.
</p>

		<div class="hero__buttons">
			<a href="https://dashpay.atlassian.net/wiki/x/GACD" class="btn-white-solid" target="_blank">什么是DGBB</a>
			<a href="https://dashpay.atlassian.net/wiki/x/CIBuAQ" class="btn-white-solid" target="_blank">工具</a>
		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>

<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->









<div class="page page--home">

	<!--
		WHAT IS PLUGIN?
	-->
	<section class="section">
		<div class="section__content">
			<div class="section__lead"><p>在去中心化项目中进行管理是非常困难的, 因为去中心化的定义是没有中央集权来为项目做决定. 在达世币项目中, 所有的决定来自于主节点网络, 也就是说, 来自主节点持有者. DGBB系统允许主节点 投票赞成或反对提案, 从而(不)被达世币开发者执行. 一个很好的例子, 比如2016年初, 当达世币核心团队向网络提交了一份提案, 询问区块大小是否有必要增加至2MB. 在24小时以内, 共识达成, 同意进行这项更改. 与比特币相比, 它的扩容争吵已经持续了近三年.</p>
</div>
			<br>
			<p>DGBB系统也为达世币提供自己的发展资金. 当其他项目还要依赖捐赠或预挖资金, 达世币使用其10%的区块奖励来资助它自身的开发. 每当一个区块被挖取, 45%的奖励分给矿工, 45%分给主节点, 剩下的10%直到月底才被创建. 在这一个月期间, 任何人都可以向网络进行提交预算提案. 如果该提案被至少10%的主节点网络同意, 那么在该月末会有一系列的"超级块"被创建. 这时, 所有没有被分配的区块奖励 (每个区块中的10%) 将用来资助获准的提案. 如此, 网络就可以资助自身 通过使用这10%的区块奖励资助各个项目.
</p>
		</div>
	</section>

	<section class="section">
		<div class="section__content">
			<h2 class="section__title">什么是管理及它对于达世币的意义</h2>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/jHsVU1LBuAY" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</section>


	<section class="">
		<div class="content">
			<h2 class="section__title">如何投票</h2>
			<div class="row">
				<div class="col-sm-6">
					<h2>自动投票</h2>
					<p>打造虚拟货币平台最大的挑战在于确保你创造了一种去中心化的管理系统进行管理, 资助, 维护以及扩张项目. 而这一项要素是现在所有虚拟货币所没有的, 折中的办法是创办一个非营利的 基金会用于维护核心协议并进行项目推广, 但是这种方式却脱离了与该虚拟币持有者们的联系. 这种方法存在的问题已经在一些相对老旧的虚拟货币平台中有所提现.
</p>
					<a href="https://youtu.be/52TzOgq15h8" class="btn-blue" target="_blank">
						教程 - Amanda B.
					</a>
					<a href="https://dashpay.atlassian.net/wiki/x/DIBGB" class="btn-blue" target="_blank">
						手动投票 (QT Wallet)
					</a>
					<a href="https://dashpay.atlassian.net/wiki/x/EIBGB" class="btn-blue" target="_blank">
						DashCentral
					</a>
				</div>
				<div class="col-sm-6">
					<h2>管理工具</h2>
					<p>此系统如同软件内置的去中心化投票系统, 可以根据具体项目提出相应的预算提案, 之后主节点持有者们可以在一定时间内对其进行投票. 若这些提案通过, 便会增加到下一回的总预算中, 并且由区块链直接进行支付 到个人手中进行相关工作. 通过这种方法, 我们可以招募核心开发者, 在去中心化同意共识达成后直接为他们支付酬劳.
</p>
					<a href="https://proposal.dash.org" class="btn-blue" target="_blank">预算提案生成器</a>
					<a href="https://www.dashcentral.org/" class="btn-blue" target="_blank">DashCentral</a>
					<a href="http://dashvotetracker.com" class="btn-blue" target="_blank">投票追踪</a>
					<a href="https://www.dashninja.pl/budgets.html" class="btn-blue" target="_blank">预算监测</a>
					<a href="#" class="btn-blue" target="_blank">提案状态</a>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="content">
			<div>
				<h2 class="section__title">自动提案服务</h2>
				<img src="/assets/img/update/Voting.png" alt="">
			</div>
			<div>
				<a href="https://proposal.dash.org/" target="_blank" class="btn-blue">提案</a>
			</div>
		</div>
	</section>
</div>


		<!-- Footer -->
		<footer class="footer">
			<nav class="footer__nav content">
  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    了解达世币
    <ul>
        <li><a href="/cn/get-dash/">下载钱包</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=48693287" target="_blank">购买达世币</a></li>
        <li><a href="/cn/merchants/">达世币消费</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Debit+Cards" target="_blank">达世币借记卡</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    帮助教程
    <ul>
        <li><a href="/cn/mining/" >开始挖矿</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/1146943/Masternodes" target="_blank">架设主节点</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146941" target="_blank">创建钱包</a></li>
        <li><a href="/cn/governance/">申请预算资金</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    网络
    <ul>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/48693298/Exchanges" target="_blank">交易数据</a></li>
        <li><a href="/cn/governance/">管理</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/x/CwDeAQ" target="_blank">区块研发</a></li>
        <li><a href="http://178.254.23.111/~pub/Dash/Dash_Info.html" target="_blank">网络数据</a></li>
        <li><a href="/cn/exchanges/" >Full list of Exchanges</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    社区
    <ul>
        <li><a href="/cn/community/#discussion">讨论</a></li>
        <li><a href="/cn/community/#social">社交应用</a></li>
        <li><a href="/cn/community/#news">新闻 &amp; 信息</a></li>
        <li><a href="/cn/community/#development">开发工具</a></li>
        <li><a href="/cn/community/#masternodes">主节点工具</a></li>
        <li><a href="/cn/legal/">Legal</a></li>
        <li><a href="/cn/graphics/">Graphics</a></li>
        <li><a href="/cn/merchandise/">Merchandise</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    项目
    <ul>
        <li><a href="https://www.dash.org/forum/categories/dash-support.61/" target="_blank">帮助 &amp; 支持</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146914" target="_blank">项目信息</a></li>
        <li><a href="/cn/team/">团队</a></li>
        <li><a href="/cn/update/">升级</a></li>
        <li><a href="https://www.dashfoundation.io/" target="_blank">基金会</a></li>
        <li><a href="/cn/contact/">联系方式</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Site+map" target="_blank">维基</a></li>
        <li><a href="/cn/school/">School</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    社交
    <ul class="footer__social">
        <li><a href="/forum/" target="_blank">Dash forums</a></li>
        <li><a href="/cn/blog/">博客</a></li>
        <li><a href="https://www.reddit.com/r/dashpay" target="_blank">Reddit</a></li>
        <li><a href="https://twitter.com/dashpay" target="_blank">推特</a></li>
        <li><a href="https://www.youtube.com/channel/UCAzD2v9Yx4a4iS2_-unODkA" target="_blank">YouTube</a></li>
        <li><a href="https://plus.google.com/u/0/communities/101869723775111070721/stream/03b94d84-f61a-49f2-bb7d-9ac82e1ed7f2" target="_blank">谷歌</a></li>
        <li><a href="https://www.linkedin.com/groups?home=&gid=8179817&trk=groups_most_recent-h-logo&goback=%2Egmp_8179817" target="_blank">领英</a></li>
        <li><a href="https://facebook.com/dashpay" target="_blank">脸书</a></li>
        <li><a href="https://github.com/dashpay/dash" target="_blank">GitHub</a></li>
    </ul>
  </section>
</nav>
<div class="footer__menu content">
  <div class="footer__languagePicker"></div>
  <a href="/cn/terms-of-use/">使用条款</a>
  <a href="/sitemap.xml">网站导览</a>
  <a href="https://github.com/dashpay/dash-website" target="_blank">源代码</a>
  <a href="/cn/contact/">联系方式</a>
</div>
<div class="footer__legal">
  <div class="content">
    <span class="footer__copyright">&copy; 2017 The Dash Network</span>
    <!-- <a href="#">Github Source</a> -->
  </div>
</div>

		</footer>

		<!-- Mobile Nav -->
		<div class="overlay" id="overlay" data-js-overlay-menu>
			<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->








<nav class="overlay-menu" id="overlaynavigation" aria-hidden="true">

    <div class="overlay-menu__nav">
        <a href="/" class="overlay-menu__logo">
            <img src="/assets/img/logo-white.png" alt="Dash" class="logo">
        </a>
        <ul class="overlay-menu__list">
            <li class="overlay-menu__item"><a href="/cn/get-dash/" class="overlay-menu__link">了解达世币</a></li>
            <li class="overlay-menu__item"><a href="/cn/merchants/" class="overlay-menu__link">商家</a></li>
            <li class="overlay-menu__item"><a href="/cn/network/" class="overlay-menu__link">网络</a></li>
            <li class="overlay-menu__item"><a href="/cn/community/" class="overlay-menu__link">社区</a></li>
            <li class="overlay-menu__item"><a href="/cn/team/" class="overlay-menu__link">团队</a></li>
            <li class="overlay-menu__item"><a href="/cn/blog/" class="overlay-menu__link">博客</a></li>
            <li class="overlay-menu__item"><a href="/cn/evolution/" class="overlay-menu__link">Evolution</a></li>
            
            <li class="overlay-menu__item overlay-menu__item--languages">
                <ul class="overlay-menu__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="overlay-menu__subitem">
                        <a href="/governance/" class="overlay-menu__link "><span class="flag us"></span> English</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/es/governance/" class="overlay-menu__link "><span class="flag es"></span> Español</a>
                    </li>
                    <li class="overlay-menu__subitem">
                        <a href="/fr/governance/" class="overlay-menu__link "><span class="flag fr"></span> Français</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/pt/governance/" class="overlay-menu__link "><span class="flag pt"></span> Portugese</a>
                    </li>
                    <!--<li class="overlay-menu__subitem">-->
                    <!--    <a href="/it/governance/" class="overlay-menu__link "><span class="flag it"></span> Italiano</a>-->
                    <!--</li>-->
                    <li class="overlay-menu__subitem">
                    <a href="/cn/governance/" class="overlay-menu__link is-active"><span class="flag cn"></span> 简体中文</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/ru/governance/" class="overlay-menu__link "><span class="flag ru"></span> Русский</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/jp/governance/" class="overlay-menu__link "><span class="flag jp"></span>日本語</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/kr/governance/" class="overlay-menu__link "><span class="flag kr"></span>한국어</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/de/governance/" class="overlay-menu__link "><span class="flag de"></span>Deutsch</a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>

</nav>

		</div>

		<!-- Fallback analytics -->
		<noscript>
	<img src="https://analytics.dash.org/piwik.php?idsite=1&amp;rec=1" style="border:0" alt="" />
</noscript>


		<!-- JavaScript -->
		<script src="//cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js" integrity="sha384-MYg5v6RiLsgqDiKOs6hcDXVblLg+Ls5F/jimSFosIUeDjW5VYViY1eMBMazbV5Mr" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" integrity="sha384-CgeP3wqr9h5YanePjYLENwCTSSEz42NJkbFpAFgHWQz7u3Zk8D00752ScNpXqGjS" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js" integrity="sha384-dfOR5hjVOg6B2OvgyHIS71mJWX5TgNQeFGo5cNNVglSep7ZvYcByrpEya6xbwwyB" crossorigin="anonymous"></script>
		<script src="/assets/js/main.min.js"></script>
		<script>
  window.globals = {
	siteApi : "/api/v1"
  };
</script>


	</body>
</html>
