<!doctype html>
<html lang="cn">
	<head>
		<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->







		<meta charset="UTF-8">
		<title>达世币官网 | 达世币加密数字货币 &mdash; Dash</title>
		<meta name="description" content="达世币是一种数字货币">

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
		<link rel="alternate" type="application/rss+xml" title="Dash Blog" href="/rss/dash_blog_rss.xml">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" type="text/css" href="/assets/css/main.min.css">
		<!-- Analytics -->
		<script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
		var u="//analytics.dash.org/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', '1']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();
</script>

	</head>

	<body>

		<div class="hero" id="hero">
	<div class="hero__background">
		<img src="/assets/img/resized/hero/home.jpg-3ccf164/800x515.jpg" srcset="/assets/img/resized/hero/home.jpg-3ccf164/1920x1236.jpg 1920w, /assets/img/resized/hero/home.jpg-3ccf164/1280x824.jpg 1280w, /assets/img/resized/hero/home.jpg-3ccf164/1024x659.jpg 1024w, /assets/img/resized/hero/home.jpg-3ccf164/1600x1030.jpg 1600w, /assets/img/resized/hero/home.jpg-3ccf164/800x515.jpg 800w" sizes="100vw, 100vw, 100vw, 100vw" class="hero__background-image" />

	</div>

	<!-- Navigation -->
	<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->








<!--
    To change the logo color, pass the parameter in the include.
    include nav-desktop.html logo-color="blue"
-->



<button class="burger" type="button" data-js-open-menu aria-label="Menu" aria-controls="overlaynavigation" aria-expanded="false"><div class="burger__burger"></div></button>

<header id="top" class="content">

    <a href="/cn/" class="logo"><img class="logo__img" src="/assets/img/logo-white.png" alt="Dash"></a>
    <nav class="nav nav--white">
        <ul class="nav__list">
            <li class="nav__item"><a href="/cn/get-dash/" class="nav__link">了解达世币</a></li>
			<li class="nav__item"><a href="/cn/merchants/" class="nav__link">商家</a></li>
			<li class="nav__item"><a href="/cn/network/" class="nav__link">网络</a></li>
			<li class="nav__item"><a href="/cn/community/" class="nav__link">社区</a></li>
			<li class="nav__item"><a href="/cn/team/" class="nav__link">团队</a></li>
			<li class="nav__item"><a href="/cn/blog/" class="nav__link">博客</a></li>
			<li class="nav__item"><a href="/cn/evolution/" class="nav__link">Evolution</a></li>
            
            <li class="nav__item nav__item--languages">
                <a href="#" class="nav__link" style="text-transform:uppercase;"><span class="flag cn"></span></a>
                <ul class="nav__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="nav__subitem">
                        <a href="/update/" class="nav__link ">English <span class="flag gb"></span></a>
                    </li>
                    <li class="nav__subitem">
                       <a href="/es/update/" class="nav__link ">Español <span class="flag es"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/fr/update/" class="nav__link ">Français <span class="flag fr"></span></a>
                    </li>
                     <li class="nav__subitem">
                        <a href="/pt/update/" class="nav__link ">Portugese <span class="flag pt"></span></a>
                    </li>
                    <!--<li class="nav__subitem">-->
                    <!--    <a href="/it/update/" class="nav__link ">Italiano <span class="flag it"></span></a>-->
                    <!--</li>-->
                    <li class="nav__subitem">
                        <a href="/cn/update/" class="nav__link is-active">简体中文 <span class="flag cn"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/ru/update/" class="nav__link ">Русский <span class="flag ru"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/jp/update/" class="nav__link ">日本語 <span class="flag jp"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/kr/update/" class="nav__link ">한국어<span class="flag kr"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/de/update/" class="nav__link ">Deutsch<span class="flag de"></span></a>
                    </li>
                </ul>
            </li>
            

           <!--  <li class="nav__item nav__item--search"><a href="/cn" class="nav__link" title="搜索">S</a></li> -->
        </ul>
    </nav>

</header>

	<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->








	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">12.1版本升级</h1>
		<p class="hero__lead">我们正在达世币网络上发行一款新的软件, 包括普通用户、矿池主和主节点持有人在内的所有用户都需要进行升级. 所有的预算提案都必须重新向系统提交. 注意：升级期间将暂停预算支付, 因此, 没有完成升级的主节点将不会得到返利.</p>
		<div class="hero__buttons">
			<a href="/cn/get-dash/" class="btn-blue-solid btn-large">Launch date: 2017年2月5日
</a>
		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>

<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->









<div class="page page--home">

	<!--
		WHAT IS DASH?
		LINK TO VIDEO.
	-->
	<section class="section section--home-cta">
		<div class="section__content">
			<h2 class="section__title">达世币是一种可线上操作的数字货币</h2>
			<div class="section__lead"><p>用户可以使用达世币进行安全的在线即时支付, 商户则可以为店内添加由全球千万用户所建立的开源支付平台.</p>
</div>

			<div class="section__btn-grp">
				<a href="https://youtu.be/S0oNO3mbBE8" class="btn-blue btn-large" target="_blank" data-js-popup="video">预览视频</a>
				<a href="/cn/get-dash/" class="btn-blue-solid btn-large">下载钱包</a>
			</div>
		</div>
	</section>

	<!--
		MERCHANTS
	-->
	<section class="b-get-section">
		<div class="content">
			<img src="/assets/img/update/woocommerce.png" alt="">
			<h2>请浏览强制升级的相关详情</h2>

			<p><p>所有矿工、矿池、钱包、交易中心、商户等等都必须完成更新.</p>
</p>
			<div>
				<a href="https://dashpay.atlassian.net/wiki/x/j5AxBg" class="btn-white-solid" target="_blank">矿池</a>
				<a href="https://dashpay.atlassian.net/wiki/x/HJQ4Bg" class="btn-white-solid" target="_blank">主节点</a>
				<a href="https://dashpay.atlassian.net/wiki/x/yJAxBg" class="btn-white-solid" target="_blank">交易所</a>
			</div>

		</div>
	</section>

	<!--
		PROPOSAL
	-->
	<section>
		<div class="content">
			<div>
				<h2>提案自助服务</h2>
				<img src="/assets/img/update/Voting.png" alt="">
			</div>



			<div>
				<a href="https://proposal.dash.org/" target="_blank" class="btn-blue">提案</a>
			</div>
		</div>
	</section>

	<!--
		DASH FEATURES
		PRIVATE | INSTANT | SECURE
	-->
	<section>
		<div class="content">
			<div class="row features-collection">
				<div class="col-sm-4">
					<img src="/assets/img/home/instant.svg" height="100" alt="即时性">
					<h2>即时性</h2>
					<p>珍惜您宝贵的时间. 即时支付功能可在一秒之内确认支付.</p>

				</div>
				<div class="col-sm-4">
					<img src="/assets/img/home/private.svg" height="100" alt="隐私性">
					<h2>隐私性</h2>
					<p>保护您的财务信息. 隐私发送功能确保您的理财活动记录和财务余额信息的隐私性.</p>

				</div>
				<div class="col-sm-4">
					<img src="/assets/img/home/secure.svg" height="100" alt="安全性">
					<h2>安全性</h2>
					<p>具备可信赖的安全性. 交易经由拥有1,000G算力的X11 ASIC矿机以及全球超过4,100台的服务器确认.</p>

				</div>
			</div>
		</div>
	</section>

	<!--
		NETWORK ARCHITECTURE
	-->
	<section class="section--colored">
		<div class="content">
			<div class="row">
				<div class="col-sm-6">
					<h2>什么是Evolution</h2>

					<p>Evolution将摒弃加密数字货币操作的复杂繁琐, 使达世币支付变得尤为简便. 它既实现了PayPal的操作简易性, 却又比PayPal多了两个优势——完全的去中心化和支付不收取手续费用.</p>


					<a href="https://dashpay.atlassian.net/wiki/x/DQBcAg" target="_blank" class="btn-white-solid">更多信息</a>
				</div>
				<div class="col-sm-6 home-architecture-graphic">
					<img src="/assets/img/update/execution.png" alt="">
				</div>
			</div>
		</div>
	</section>

	<!--
		SELF GOVERNING | SELF FUNDING
	-->
	<section>
		<div class="content">
			<div class="row">
				<div class="col-sm-6 col-sm-push-6">
					<h2>Sentinel</h2>

					<p>全能型的达世币开发工具 达世币新的Sentinel技术为Evolution提供了驱动力. 它具备极其强大的功能和极高的灵活性, 使得网络更新更加简单易行. 此外, 在经过个性化设计后, 它还能被开发成适用于网络的各种新型应用. 举个例子, 您可以通过Sentinel建立数字技术公司.</p>


				</div>
				<div class="col-sm-6 col-sm-pull-6 ">
					<img src="/assets/img/update/updateevo.png" alt="Sentinel">
				</div>
			</div>
		</div>
	</section>

	<!--
		FASTEST GROWING NETWORK
	-->
	<section>
		<div class="content">
			<div class="row">
				<div class="col-sm-6">
					<h2>EVOLUTION研发</h2>

					<p>2016年1月, 我们发行了基于轻钱包的Evolution早期模型. 从那时起, 我们一直致力于文献资料的编撰, 此外, 我们还全面地概述了设计目标, 并着手将它们付诸实践.
这款早期模型只具备一些基础功能, 例如用户只能向少数好友支付达世币, 以及用户数据被存储到简易服务器中. 不过, 它至少对达世币的概念进行了验证. 我们当时的目标是设计并创造一个模型, 将所有的关键技术融入其中, 并最终以P2P网络的形式实现下列功能：将数据存储到达世币区块链上并允许用户通过任何设备随时随地获取数据；以集成SPV为基础提供安全操作而无需借助第三方的帮助；以及, 通过使用安全超文本传输协议规避审查.</p>


					<a href="/cn/network" class="btn-blue">网络数据</a>
				</div>
				<div class="col-sm-6 home-network-graphic-live">
					<img src="/assets/img/update/research.png" alt="">
				</div>
			</div>
		</div>
	</section>


	<!--
		EVOLUTION
	-->
	<section>
		<div class="content">
			<div class="row">
				<div class="col-sm-6 col-sm-push-6">

					<h2>发布日期</h2>
					<p>发行新的软件版本意味着必须重新提交网络上所有的现行提案.
考虑到超级块的时间安排, 我们距离原定月初的新版本发行已经不远了. 为了使新版本具备尽可能高的稳定性, 同时不影响预算系统, 我们将12.1版本的发行时间延迟到了2月份, 具体时间是2017年2月5日.</p>

					<a href="http://dashvotetracker.com" target="_blank" class="btn-blue">预算</a>

				</div>
				<div class="col-sm-6 col-sm-pull-6 home-evolution-graphic">
					<img src="/assets/img/update/lan_date.png" alt="Dash Evolution">
				</div>
			</div>
		</div>
	</section>

	<!--
		LATEST NEWS
	-->
	<section class="home-latest-news">
		<div class="content">
			<h2>最新消息</h2>

			<div class="row">
				
				<div class="col-sm-6 col-md-3">
					<div class="news-post">
						<div class="news-image">
							
						</div>
						<div class="news-body">
							<h3 class="news-title">达世币的DAO是如何工作的 - 达世币:解读</h3>
							<div class="date">Jun 24, 2016</div>
							<p>什么是"去中心化的自治组织", 达世币的DAO是怎样的,它是如何工作的,谁可以加入其中? 你也许会对答案感到惊讶. Join Amanda B. Johnson 为你呈现第二期的 达世币:解读
发送标题为subscribe的邮件至<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="147579757a7075547075677c3a7b6673">[email&#160;protected]</a>, 就可轻松订阅每周发布的视频. — 没错, 就是如此简单.

&nbsp;
</p>
							<a class="read-more" href="/cn/2016/06/24/e8-be-be-e4-b8-96-e5-b8-81-e7-9a-84dao-e6-98-af-e5-a6-82-e4-bd-95-e5-b7-a5-e4-bd-9c-e7-9a-84-e8-be-be-e4-b8-96-e5-b8-81-e8-a7-a3-e8-af-bb.html">Read More...</a>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6 col-md-3">
					<div class="news-post">
						<div class="news-image">
							
						</div>
						<div class="news-body">
							<h3 class="news-title">是什么阻碍了数字货币依然没有被广泛使用? | 达世币: 解读</h3>
							<div class="date">Jun 22, 2016</div>
							<p>是数字货币的"杀手锏应用"还没有被创造出来吗? 还是说很显然本身就是杀手锏应用的数字货币还不具备让非技术型人们使用的易用性? Amanda B. Johnson在"达世币:解读"的第一章中向我们讲述了作为一个普通人——比如妈妈, 对即将来临的达世币进化版提出了什么宝贵意见.
&nbsp;

&nbsp;
&nbsp;
&nbsp;
&nbsp;
</p>
							<a class="read-more" href="/cn/2016/06/22/e6-98-af-e4-bb-80-e4-b9-88-e9-98-bb-e7-a2-8d-e4-ba-86-e6-95-b0-e5-ad-97-e8-b4-a7-e5-b8-81-e4-be-9d-e7-84-b6-e6-b2-a1-e6-9c-89-e8-a2-ab-e5-b9-bf-e6-b3-9b-e4-bd-bf-e7-94-a8.html">Read More...</a>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6 col-md-3">
					<div class="news-post">
						<div class="news-image">
							
						</div>
						<div class="news-body">
							<h3 class="news-title">达世币2016年发展路线</h3>
							<div class="date">Mar 15, 2016</div>
							<p>新的一年到来了，达世币也在不久前庆祝了两岁的生日，核心团队认为现在是对2016年蓝图深度战略评估的好时机。在我们不断根据新想法及机遇调整达世币的计划与战略的同时，拥有长期计划能使团队保持对重要事项的专注，并确保努力的成果与长期战略一致。拥有新的预算系统之后，很多之前无法实现的项目现在已变得可能，所以我们有必要对达世币新一年的战略、目标及计划进行更加深度的审视。
2016年达世币的蓝图与去年12月30日发布的“达世币战略说明书”一致，分为四个主要战略板块。而传播作为第五个方面，会与每一个主板...</p>
							<a class="read-more" href="/cn/2016/03/15/e8-be-be-e4-b8-96-e5-b8-812016-e5-b9-b4-e5-8f-91-e5-b1-95-e8-b7-af-e7-ba-bf.html">Read More...</a>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6 col-md-3">
					<div class="news-post">
						<div class="news-image">
							
						</div>
						<div class="news-body">
							<h3 class="news-title">达世币 2016 发展路线</h3>
							<div class="date">Mar 02, 2016</div>
							<p>新的一年到来了，达世币也在不久前庆祝了两岁的生日，核心团队认为现在是对2016年蓝图深度战略评估的好时机。在我们不断根据新想法及机遇调整达世币的计划与战略的同时，拥有长期计划能使团队保持对重要事项的专注，并确保努力的成果与长期战略一致。拥有新的预算系统之后，很多之前无法实现的项目现在已变得可能，所以我们有必要对达世币新一年的战略、目标及计划进行更加深度的审视。
2016年达世币的蓝图与去年12月30日发布的“达世币战略说明书”一致，分为四个主要战略板块。而传播作为第五个方面，会与每一个主板...</p>
							<a class="read-more" href="/cn/%E5%95%86%E4%B8%9A%E5%90%88%E4%BD%9C/%E5%BC%80%E5%8F%91%E5%8A%A8%E6%80%81/%E6%96%B0%E9%97%BB%E5%AA%92%E4%BD%93/%E7%BB%BC%E8%BF%B0/2016/03/02/e8-be-be-e4-b8-96-e5-b8-81-2016-e5-8f-91-e5-b1-95-e8-b7-af-e7-ba-bf.html">Read More...</a>
						</div>
					</div>
				</div>
				
			</div>

			<div>
				<a href="/cn/blog/" class="btn-blue">浏览所有新闻</a>
			</div>
		</div>
	</section>


</div>


		<!-- Footer -->
		<footer class="footer">
			<nav class="footer__nav content">
  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    了解达世币
    <ul>
        <li><a href="/cn/get-dash/">下载钱包</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=48693287" target="_blank">购买达世币</a></li>
        <li><a href="/cn/merchants/">达世币消费</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Debit+Cards" target="_blank">达世币借记卡</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    帮助教程
    <ul>
        <li><a href="/cn/mining/" >开始挖矿</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/1146943/Masternodes" target="_blank">架设主节点</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146941" target="_blank">创建钱包</a></li>
        <li><a href="/cn/governance/">申请预算资金</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    网络
    <ul>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/48693298/Exchanges" target="_blank">交易数据</a></li>
        <li><a href="/cn/governance/">管理</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/x/CwDeAQ" target="_blank">区块研发</a></li>
        <li><a href="http://178.254.23.111/~pub/Dash/Dash_Info.html" target="_blank">网络数据</a></li>
        <li><a href="/cn/exchanges/" >Full list of Exchanges</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    社区
    <ul>
        <li><a href="/cn/community/#discussion">讨论</a></li>
        <li><a href="/cn/community/#social">社交应用</a></li>
        <li><a href="/cn/community/#news">新闻 &amp; 信息</a></li>
        <li><a href="/cn/community/#development">开发工具</a></li>
        <li><a href="/cn/community/#masternodes">主节点工具</a></li>
        <li><a href="/cn/legal/">Legal</a></li>
        <li><a href="/cn/graphics/">Graphics</a></li>
        <li><a href="/cn/merchandise/">Merchandise</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    项目
    <ul>
        <li><a href="https://www.dash.org/forum/categories/dash-support.61/" target="_blank">帮助 &amp; 支持</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146914" target="_blank">项目信息</a></li>
        <li><a href="/cn/team/">团队</a></li>
        <li><a href="/cn/update/">升级</a></li>
        <li><a href="https://www.dashfoundation.io/" target="_blank">基金会</a></li>
        <li><a href="/cn/contact/">联系方式</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Site+map" target="_blank">维基</a></li>
        <li><a href="/cn/school/">School</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    社交
    <ul class="footer__social">
        <li><a href="/forum/" target="_blank">Dash forums</a></li>
        <li><a href="/cn/blog/">博客</a></li>
        <li><a href="https://www.reddit.com/r/dashpay" target="_blank">Reddit</a></li>
        <li><a href="https://twitter.com/dashpay" target="_blank">推特</a></li>
        <li><a href="https://www.youtube.com/channel/UCAzD2v9Yx4a4iS2_-unODkA" target="_blank">YouTube</a></li>
        <li><a href="https://plus.google.com/u/0/communities/101869723775111070721/stream/03b94d84-f61a-49f2-bb7d-9ac82e1ed7f2" target="_blank">谷歌</a></li>
        <li><a href="https://www.linkedin.com/groups?home=&gid=8179817&trk=groups_most_recent-h-logo&goback=%2Egmp_8179817" target="_blank">领英</a></li>
        <li><a href="https://facebook.com/dashpay" target="_blank">脸书</a></li>
        <li><a href="https://github.com/dashpay/dash" target="_blank">GitHub</a></li>
    </ul>
  </section>
</nav>
<div class="footer__menu content">
  <div class="footer__languagePicker"></div>
  <a href="/cn/terms-of-use/">使用条款</a>
  <a href="/sitemap.xml">网站导览</a>
  <a href="https://github.com/dashpay/dash-website" target="_blank">源代码</a>
  <a href="/cn/contact/">联系方式</a>
</div>
<div class="footer__legal">
  <div class="content">
    <span class="footer__copyright">&copy; 2017 The Dash Network</span>
    <!-- <a href="#">Github Source</a> -->
  </div>
</div>

		</footer>

		<!-- Mobile Nav -->
		<div class="overlay" id="overlay" data-js-overlay-menu>
			<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->








<nav class="overlay-menu" id="overlaynavigation" aria-hidden="true">

    <div class="overlay-menu__nav">
        <a href="/" class="overlay-menu__logo">
            <img src="/assets/img/logo-white.png" alt="Dash" class="logo">
        </a>
        <ul class="overlay-menu__list">
            <li class="overlay-menu__item"><a href="/cn/get-dash/" class="overlay-menu__link">了解达世币</a></li>
            <li class="overlay-menu__item"><a href="/cn/merchants/" class="overlay-menu__link">商家</a></li>
            <li class="overlay-menu__item"><a href="/cn/network/" class="overlay-menu__link">网络</a></li>
            <li class="overlay-menu__item"><a href="/cn/community/" class="overlay-menu__link">社区</a></li>
            <li class="overlay-menu__item"><a href="/cn/team/" class="overlay-menu__link">团队</a></li>
            <li class="overlay-menu__item"><a href="/cn/blog/" class="overlay-menu__link">博客</a></li>
            <li class="overlay-menu__item"><a href="/cn/evolution/" class="overlay-menu__link">Evolution</a></li>
            
            <li class="overlay-menu__item overlay-menu__item--languages">
                <ul class="overlay-menu__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="overlay-menu__subitem">
                        <a href="/update/" class="overlay-menu__link "><span class="flag us"></span> English</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/es/update/" class="overlay-menu__link "><span class="flag es"></span> Español</a>
                    </li>
                    <li class="overlay-menu__subitem">
                        <a href="/fr/update/" class="overlay-menu__link "><span class="flag fr"></span> Français</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/pt/update/" class="overlay-menu__link "><span class="flag pt"></span> Portugese</a>
                    </li>
                    <!--<li class="overlay-menu__subitem">-->
                    <!--    <a href="/it/update/" class="overlay-menu__link "><span class="flag it"></span> Italiano</a>-->
                    <!--</li>-->
                    <li class="overlay-menu__subitem">
                    <a href="/cn/update/" class="overlay-menu__link is-active"><span class="flag cn"></span> 简体中文</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/ru/update/" class="overlay-menu__link "><span class="flag ru"></span> Русский</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/jp/update/" class="overlay-menu__link "><span class="flag jp"></span>日本語</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/kr/update/" class="overlay-menu__link "><span class="flag kr"></span>한국어</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/de/update/" class="overlay-menu__link "><span class="flag de"></span>Deutsch</a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>

</nav>

		</div>

		<!-- Fallback analytics -->
		<noscript>
	<img src="https://analytics.dash.org/piwik.php?idsite=1&amp;rec=1" style="border:0" alt="" />
</noscript>


		<!-- JavaScript -->
		<script data-cfasync="false" src="/cdn-cgi/scripts/af2821b0/cloudflare-static/email-decode.min.js"></script><script src="//cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js" integrity="sha384-MYg5v6RiLsgqDiKOs6hcDXVblLg+Ls5F/jimSFosIUeDjW5VYViY1eMBMazbV5Mr" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" integrity="sha384-CgeP3wqr9h5YanePjYLENwCTSSEz42NJkbFpAFgHWQz7u3Zk8D00752ScNpXqGjS" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js" integrity="sha384-dfOR5hjVOg6B2OvgyHIS71mJWX5TgNQeFGo5cNNVglSep7ZvYcByrpEya6xbwwyB" crossorigin="anonymous"></script>
		<script src="/assets/js/main.min.js"></script>
		<script>
  window.globals = {
	siteApi : "/api/v1"
  };
</script>


	</body>
</html>
