<!doctype html>
<html lang="fr">
	<head>
		<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->







		<meta charset="UTF-8">
		<title>Dash Official Website | Dash Crypto Currency &mdash; Dash</title>
		<meta name="description" content="The DGBB also provides a means for Dash to fund its own development. While other projects have to depend on donations or premined endowments, Dash uses 10% of the block reward to fund its own development. Every time a block is mined, 45% of the reward goes to the miner, 45% goes to a masternode, and the remaining 10% is not created until the end of the month. During the month, anybody can make a budget proposal to the network. If that proposal is approved by at least 10% of the masternode network, then at the end of the month a series of "superblocks" will be created. At that time, the block rewards that were not paid out (10% of each block) will be used to fund approved proposals. The network thus funds itself by reserving 10% of the block reward for budget projects.
">

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
		<link rel="alternate" type="application/rss+xml" title="Dash Blog" href="/rss/dash_blog_rss.xml">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" type="text/css" href="/dist/css/main.min.css">
		<!-- Analytics -->
		<script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
		var u="//analytics.dash.org/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', '1']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();
</script>

	</head>

	<body>

		<div class="hero" id="hero">
	<div class="hero__background">
		<img src="/assets/img/resized/hero/community.jpg-cb6c9e7/960x640.jpg" srcset="/assets/img/resized/hero/community.jpg-cb6c9e7/1920x1280.jpg 1920w, /assets/img/resized/hero/community.jpg-cb6c9e7/960x640.jpg 960w" sizes="100vw, 100vw" class="hero__background-image" />

	</div>

	<!-- Navigation -->
	<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="/assets/css/style.css"
-->








<!--
    To change the logo color, pass the parameter in the include.
    include nav-desktop.html logo-color="blue"
-->



<button class="burger" type="button" data-js-open-menu aria-label="Menu" aria-controls="overlaynavigation" aria-expanded="false"><div class="burger__burger"></div></button>

<header id="top" class="content">

    <a href="/fr/" class="logo"><img class="logo__img" src="/assets/img/logo-white.png" alt="Dash"></a>
    <nav class="nav nav--white">
        <ul class="nav__list">
            <li class="nav__item"><a href="/fr/get-dash/" class="nav__link">Obtenir Dash</a></li>
			<li class="nav__item"><a href="/fr/merchants/" class="nav__link">Vendeurs</a></li>
			<li class="nav__item"><a href="/fr/network/" class="nav__link">Réseau</a></li>
			<li class="nav__item"><a href="/fr/community/" class="nav__link">Communauté</a></li>
			<li class="nav__item"><a href="/fr/team/" class="nav__link">Équipe</a></li>
			<li class="nav__item"><a href="/fr/blog/" class="nav__link">Blog</a></li>
			<li class="nav__item"><a href="/fr/evolution/" class="nav__link">Evolution</a></li>
            
            <li class="nav__item nav__item--languages">
                <a href="#" class="nav__link" style="text-transform:uppercase;"><span class="flag fr"></span></a>
                <ul class="nav__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="nav__subitem">
                        <a href="/governance/" class="nav__link ">English <span class="flag gb"></span></a>
                    </li>
                    <li class="nav__subitem">
                       <a href="/es/governance/" class="nav__link ">Español <span class="flag es"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/fr/governance/" class="nav__link is-active">Français <span class="flag fr"></span></a>
                    </li>
                     <li class="nav__subitem">
                        <a href="/pt/governance/" class="nav__link ">Portugese <span class="flag pt"></span></a>
                    </li>
                    <!--<li class="nav__subitem">-->
                    <!--    <a href="/it/governance/" class="nav__link ">Italiano <span class="flag it"></span></a>-->
                    <!--</li>-->
                    <li class="nav__subitem">
                        <a href="/cn/governance/" class="nav__link ">简体中文 <span class="flag cn"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/ru/governance/" class="nav__link ">Русский <span class="flag ru"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/jp/governance/" class="nav__link ">日本語 <span class="flag jp"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/kr/governance/" class="nav__link ">한국어<span class="flag kr"></span></a>
                    </li>
                    <li class="nav__subitem">
                        <a href="/de/governance/" class="nav__link ">Deutsch<span class="flag de"></span></a>
                    </li>
                </ul>
            </li>
            

           <!--  <li class="nav__item nav__item--search"><a href="/fr" class="nav__link" title="Rechercher">S</a></li> -->
        </ul>
    </nav>

</header>


	<!-- Hero content -->
	<div class="hero__content">
		<h1 class="hero__title">Decentralized Governance System</h1>
		<p class="hero__lead">Decentralized Governance by Blockchain, or DGBB, is Dash's attempt to solve two important problems in cryptocurrency: governance and funding.
</p>

		<div class="hero__buttons">
			<a href="https://dashpay.atlassian.net/wiki/x/GACD" class="btn-white-solid" target="_blank">What is DGBB</a>
			<a href="https://dashpay.atlassian.net/wiki/x/CIBuAQ" class="btn-white-solid" target="_blank">Tools</a>
		</div>
	</div>

	<!-- Hero stripe -->
	<div class="hero__stripe"></div>
</div>

<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->









<div class="page page--home">

	<!--
		WHAT IS PLUGIN?
	-->
	<section class="section">
		<div class="section__content">
			<div class="section__lead"><p>Governance in a decentralized project is difficult, because by definition there are no central authorities to make decisions for the project. In Dash, such decisions are made by the network, that is, by the owners of masternodes. The DGBB system allows masternodes to vote for or against proposals, which can then be implemented (or not) by Dash’s developers. A key example is early in 2016, when Dash’s Core Team submitted a proposal to the network asking whether the blocksize should be increased to 2 MB. Within 24 hours, consensus had been reached to approve this change. Compare this to Bitcoin, where debate on the blocksize has been raging for nearly three years.</p>
</div>
			<br>
			<p>The DGBB also provides a means for Dash to fund its own development. While other projects have to depend on donations or premined endowments, Dash uses 10% of the block reward to fund its own development. Every time a block is mined, 45% of the reward goes to the miner, 45% goes to a masternode, and the remaining 10% is not created until the end of the month. During the month, anybody can make a budget proposal to the network. If that proposal is approved by at least 10% of the masternode network, then at the end of the month a series of "superblocks" will be created. At that time, the block rewards that were not paid out (10% of each block) will be used to fund approved proposals. The network thus funds itself by reserving 10% of the block reward for budget projects.
</p>
		</div>
	</section>

	<section class="section">
		<div class="section__content">
			<h2 class="section__title">What is Governance and what does it mean for Dash</h2>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/jHsVU1LBuAY" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</section>


	<section class="">
		<div class="content">
			<h2 class="section__title">How to Vote</h2>
			<div class="row">
				<div class="col-sm-6">
					<h2>Automated Voting</h2>
					<p>One of the greatest challenges of building a crypto currency platform is ensuring you create a decentralized system of governance to manage, fund, maintain and expand the project. This key element is absent in every currency to date, the natural response is to create a not-for-profit foundation that is tasked with maintaining the core protocol and promoting the coin but is not really connected to the coin holders in any meaningful way. This approach has a few issues that have been made evident from the experience of older crypto currency platforms.
</p>
					<a href="https://youtu.be/52TzOgq15h8" class="btn-blue" target="_blank">
						Guide - Amanda B.
					</a>
					<a href="https://dashpay.atlassian.net/wiki/x/DIBGB" class="btn-blue" target="_blank">
						Manual Voting (in QT Wallet)
					</a>
					<a href="https://dashpay.atlassian.net/wiki/x/EIBGB" class="btn-blue" target="_blank">
						DashCentral
					</a>
				</div>
				<div class="col-sm-6">
					<h2>Governance Tools</h2>
					<p>The system would work as a decentralized voting mechanism setup in the software, where budgets for specific projects are proposed, then the masternodes as a whole vote on them. Each project, if it passes, is added to the total budget and paid directly from the blockchain to the person doing the work. With this, we could hire core developers and pay them directly after approval of the work in a decentralized fashion.
</p>
					<a href="https://proposal.dash.org" class="btn-blue" target="_blank">Budget Proposal Generator</a>
					<a href="https://www.dashcentral.org/" class="btn-blue" target="_blank">DashCentral</a>
					<a href="http://dashvotetracker.com" class="btn-blue" target="_blank">VoteTracker</a>
					<a href="https://www.dashninja.pl/budgets.html" class="btn-blue" target="_blank">Budget Monitoring</a>
					<a href="#" class="btn-blue" target="_blank">Proposal Status</a>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="content">
			<div>
				<h2 class="section__title">Proposal Automated Service</h2>
				<img src="/assets/img/update/Voting.png" alt="">
			</div>
			<div>
				<a href="https://proposal.dash.org/" target="_blank" class="btn-blue">Propositions budgétaires</a>
			</div>
		</div>
	</section>
</div>


		<!-- Footer -->
		<footer class="footer">
			<nav class="footer__nav content">
  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Obtenir Dash
    <ul>
        <li><a href="/fr/get-dash/">Télécharger le portefeuille</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=48693287" target="_blank">Acheter des dashs</a></li>
        <li><a href="/fr/merchants/">Faire du shopping en dashs</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Debit+Cards" target="_blank">carte de débit Dash</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Contribuer
    <ul>
        <li><a href="/fr/mining/" >Miner</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/1146943/Masternodes" target="_blank">Mettre en place un masternode</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146941" target="_blank">Ouvrir un portefeuille</a></li>
        <li><a href="/fr/governance/">Demander un financement</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Réseau
    <ul>
        <li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/48693298/Exchanges" target="_blank">Plateformes de change</a></li>
        <li><a href="/fr/governance/">Gouvernance</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/x/CwDeAQ" target="_blank">Navigateurs de blocs</a></li>
        <li><a href="http://178.254.23.111/~pub/Dash/Dash_Info.html" target="_blank">Statistiques de réseau</a></li>
        <li><a href="/fr/exchanges/" >Full list of Exchanges</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Communauté
    <ul>
        <li><a href="/fr/community/#discussion">Discussion</a></li>
        <li><a href="/fr/community/#social">Réseaux sociaux</a></li>
        <li><a href="/fr/community/#news">Actualités &amp; info</a></li>
        <li><a href="/fr/community/#development">Outils de programmation</a></li>
        <li><a href="/fr/community/#masternodes">Outils pour les masternodes</a></li>
        <li><a href="/fr/legal/">Legal</a></li>
        <li><a href="/fr/graphics/">Graphics</a></li>
        <li><a href="/fr/merchandise/">Merchandise</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Projet
    <ul>
        <li><a href="https://www.dash.org/forum/categories/dash-support.61/" target="_blank">Aide &amp; assistance</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/pages/viewpage.action?pageId=1146914" target="_blank">Information sur le projet</a></li>
        <li><a href="/fr/team/">Équipe</a></li>
        <li><a href="/fr/update/">Mise à jour</a></li>
        <li><a href="https://www.dashfoundation.io/" target="_blank">Fondation</a></li>
        <li><a href="/fr/contact/">Contact</a></li>
        <li><a href="https://dashpay.atlassian.net/wiki/display/DOC/Site+map" target="_blank">Wiki</a></li>
        <li><a href="/fr/school/">School</a></li>
    </ul>
  </section>

  <section class="footer__section col-lg-2 col-md-4 col-sm-6" data-mh="footer">
    Réseaux sociaux
    <ul class="footer__social">
        <li><a href="/forum/" target="_blank">Dash forums</a></li>
        <li><a href="/fr/blog/">Blog</a></li>
        <li><a href="https://www.reddit.com/r/dashpay" target="_blank">Reddit</a></li>
        <li><a href="https://twitter.com/dashpay" target="_blank">Twitter</a></li>
        <li><a href="https://www.youtube.com/channel/UCAzD2v9Yx4a4iS2_-unODkA" target="_blank">YouTube</a></li>
        <li><a href="https://plus.google.com/u/0/communities/101869723775111070721/stream/03b94d84-f61a-49f2-bb7d-9ac82e1ed7f2" target="_blank">Google+</a></li>
        <li><a href="https://www.linkedin.com/groups?home=&gid=8179817&trk=groups_most_recent-h-logo&goback=%2Egmp_8179817" target="_blank">LinkedIn</a></li>
        <li><a href="https://facebook.com/dashpay" target="_blank">Facebook</a></li>
        <li><a href="https://github.com/dashpay/dash" target="_blank">GitHub</a></li>
    </ul>
  </section>
</nav>
<div class="footer__menu content">
  <div class="footer__languagePicker"></div>
  <a href="/fr/terms-of-use/">Conditions d'utilisation</a>
  <a href="/sitemap.xml">Plan du site</a>
  <a href="https://github.com/dashpay/dash-website" target="_blank">Code source</a>
  <a href="/fr/contact/">Contact</a>
</div>
<div class="footer__legal">
  <div class="content">
    <span class="footer__copyright">&copy; 2018 The Dash Network</span>
    <!-- <a href="#">Github Source</a> -->
  </div>
</div>

		</footer>

		<!-- Mobile Nav -->
		<div class="overlay" id="overlay" data-js-overlay-menu>
			<!--
	Include this file in your templates so you can reference assets with relative urls 
	include base.html
	example: href="../../assets/css/style.css"
-->








<nav class="overlay-menu" id="overlaynavigation" aria-hidden="true">

    <div class="overlay-menu__nav">
        <a href="/" class="overlay-menu__logo">
            <img src="/assets/img/logo-white.png" alt="Dash" class="logo">
        </a>
        <ul class="overlay-menu__list">
            <li class="overlay-menu__item"><a href="/fr/get-dash/" class="overlay-menu__link">Obtenir Dash</a></li>
            <li class="overlay-menu__item"><a href="/fr/merchants/" class="overlay-menu__link">Vendeurs</a></li>
            <li class="overlay-menu__item"><a href="/fr/network/" class="overlay-menu__link">Réseau</a></li>
            <li class="overlay-menu__item"><a href="/fr/community/" class="overlay-menu__link">Communauté</a></li>
            <li class="overlay-menu__item"><a href="/fr/team/" class="overlay-menu__link">Équipe</a></li>
            <li class="overlay-menu__item"><a href="/fr/blog/" class="overlay-menu__link">Blog</a></li>
            <li class="overlay-menu__item"><a href="/fr/evolution/" class="overlay-menu__link">Evolution</a></li>
            
            <li class="overlay-menu__item overlay-menu__item--languages">
                <ul class="overlay-menu__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="overlay-menu__subitem">
                        <a href="/governance/" class="overlay-menu__link "><span class="flag us"></span> English</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/es/governance/" class="overlay-menu__link "><span class="flag es"></span> Español</a>
                    </li>
                    <li class="overlay-menu__subitem">
                        <a href="/fr/governance/" class="overlay-menu__link is-active"><span class="flag fr"></span> Français</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/pt/governance/" class="overlay-menu__link "><span class="flag pt"></span> Portugese</a>
                    </li>
                    <!--<li class="overlay-menu__subitem">-->
                    <!--    <a href="/it/governance/" class="overlay-menu__link "><span class="flag it"></span> Italiano</a>-->
                    <!--</li>-->
                    <li class="overlay-menu__subitem">
                    <a href="/cn/governance/" class="overlay-menu__link "><span class="flag cn"></span> 简体中文</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/ru/governance/" class="overlay-menu__link "><span class="flag ru"></span> Русский</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/jp/governance/" class="overlay-menu__link "><span class="flag jp"></span>日本語</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/kr/governance/" class="overlay-menu__link "><span class="flag kr"></span>한국어</a>
                    </li>
                    <li class="overlay-menu__subitem">
                    <a href="/de/governance/" class="overlay-menu__link "><span class="flag de"></span>Deutsch</a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>

</nav>

		</div>

		<!-- Fallback analytics -->
		<noscript>
	<img src="https://analytics.dash.org/piwik.php?idsite=1&amp;rec=1" style="border:0" alt="" />
</noscript>


		<!-- JavaScript -->
		<script src="//cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js" integrity="sha384-MYg5v6RiLsgqDiKOs6hcDXVblLg+Ls5F/jimSFosIUeDjW5VYViY1eMBMazbV5Mr" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" integrity="sha384-CgeP3wqr9h5YanePjYLENwCTSSEz42NJkbFpAFgHWQz7u3Zk8D00752ScNpXqGjS" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js" integrity="sha384-dfOR5hjVOg6B2OvgyHIS71mJWX5TgNQeFGo5cNNVglSep7ZvYcByrpEya6xbwwyB" crossorigin="anonymous"></script>
		<script src="/dist/js/main.min.js"></script>
		<script>
  window.globals = {
	siteApi : "/api/v1"
  };
</script>


	</body>
</html>
